{{ define "main" }}

<!--div class="container">
  <div class="row">
    <div class="col-lg-3 pl-0 pr-2">
      {{- partial "resources_sidebar.html" . -}}
      </div>
    <div class="col-lg">
        {{ .Content }}
    </div>
  </div>
</div-->

<section>
    <div class="col-lg">
        {{ .Content }}
    </div>
</section>

<section>
    <div>
        <h4 class="pb-3">Pandemic Laboratory Preparedness PLP 1 2021</h4>
        <div class="row g-2 g-lg-3">
            {{ range where .RegularPages "Params.category" "plp1" }}
                {{- partial "resources_display.html" . -}}
            {{ end }}
        </div>
    </div>
</section>

<section>
    <div>
        <h4 class="pb-3">Pandemic Laboratory Preparedness PLP 2 2022</h4>
        <div class="row g-2 g-lg-3">
            {{ range where .RegularPages "Params.category" "plp2" }}
                {{- partial "resources_display.html" . -}}
            {{ end }}
        </div>
    </div>
</section>

{{ end }}
