{{ define "main" }}

<div class="container">
  <div class="row">
    <div class="col-lg">
      <h2>{{ .Params.resource_info.name }}</h2><br>
      {{ if .Params.resource_info.funded_project_title }}<h5>Funding given for project project entitled:</h5>
      <p>{{ .Params.resource_info.funded_project_title }}</p>{{ end }}
      {{ if .Params.resource_info.pi }}<h5>PI(s)/Head responsible for the resource:</h5>
      <p>{{ .Params.resource_info.pi }}</p>{{ end }}
      {{ if .Params.resource_info.host_organisation }}<h5>Host organisation(s):</h5>
      <p>{{ .Params.resource_info.host_organisation | markdownify }}</p>{{ end }}
      <h5>Resource description:</h5>
      {{ .Content }}
      {{ if .Params.resource_info.use }}<h5>How this resource can be used for Pandemic Preparedness research:</h5>
      <p>{{ .Params.resource_info.use | markdownify }}</p>{{ end }}
      {{ if .Params.resource_info.access }}<h5>Who is able to access the resource (and under what conditions):</h5>
      <p>{{ .Params.resource_info.access | markdownify }}</p>{{ end }}
      {{ if .Params.resource_info.data_etc }}<h5>Available data, code, and protocols from the resource:</h5>
      <p>{{ .Params.resource_info.data_etc | markdownify }}</p>{{ end }}
      {{ if .Params.resource_info.publications_etc }}<h5>SOPs, guidelines, publications, etc. describing the resource:
      </h5>
      <p>{{ .Params.resource_info.publications_etc | markdownify }}</p>{{ end }}
      {{ if .Params.resource_info.webpage }}<h5>Webpage:</h5>
      <p>{{ .Params.resource_info.webpage | markdownify }}</p>{{ end }}
      {{ if .Params.resource_info.contact }}<h5>Contact information:</h5>
      <p>{{ .Params.resource_info.contact | markdownify }}</p>{{ end }}
    </div>
  </div>
</div>

{{ end }}