<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    {{- partial "head.html" . -}}
    <body>
        <a class="sr-only sr-only-focusable" href="#content">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).skip_to_content }}</a>
        {{- partial "navbar.html" . -}}
        {{- partial "header.html" . -}}
        <div class="container mt-5 content" id="content">
          {{ .Content }} <!-- this adds the content of the corresponding .md file -->
          <p>Some other text</p>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
