@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,500;0,700;1,400&display=swap');

body {
    font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
}
a {
    color: #3E75C1;
}
img {
    max-width: 100%;
}
blockquote {
    border-left: 5px solid rgba(46, 104, 165, 0.3);
    padding-left: 1rem;
    margin-left: 1rem;
    color: #666;
}
img[src$='#floatleft'], img[src$='#floatright'], img[src$='#floatleftbig'], img[src$='#floatrightbig']{
    max-width: 250px;
    max-height: 100px;
    margin: 0 1rem 1rem;
}
img[src$='#floatleft'], img[src$='#floatleftbig']{
    float: left;
    margin-left: 0;
}
img[src$='#floatright'], img[src$='#floatrightbig']{
    float: right;
    margin-right: 0;
}
img[src$='#floatleftbig'], img[src$='#floatrightbig']{
    max-width: 350px;
    max-height: 200px;
}

h2,h3,h4,h5,h6 {
    margin-top: 2rem;
}
div > h2:first-of-type,
aside > h5 {
    margin-top: 0;
}
li:empty {
    display: none;
}

.navbar .navbar-brand {
    max-width: 60%;
}
.navbar .navbar-brand img {
    height: 55px;
    max-width: 100%;
}
.navbar .navbar-primary-links a.nav-link {
    color: rgba(46, 104, 165, 0.8);
    font-weight: 600;
    font-size: 1.2em;
}
@media all and (min-width: 768px) {
    .navbar .navbar-nav a.nav-link {
        padding: 1rem;
    }
}
.navbar .navbar-primary-links a.nav-link:hover,
.navbar .navbar-primary-links a.nav-link:focus,
.navbar .navbar-primary-links a.nav-link:active {
    color: rgba(46, 104, 165, 1);
}

.navbar .navbar-nav.navbar-languages {
    margin-left: 2rem;
}
.navbar .navbar-nav.navbar-languages li:not(:first-child) a {
    padding-left: 0;
}
.navbar-languages li:not(:first-child) a span {
    border-left: 1px solid #ccc;
    padding-left: 1rem;
}
.navbar-languages a img {
    width: 1rem;
    opacity: 0.2;
}
.nav-languages a img {
    width: 1.2rem;
    opacity: 0.5;
    margin-left: 0.5rem;
    margin-bottom: 0.1rem;
}
.navbar-languages a:hover img,
.navbar-languages a:focus img,
.navbar-languages a:active img,
.nav-languages a:hover img,
.nav-languages a:focus img,
.nav-languages a:active img {
    opacity: 1;
}

.header {
    background-image: url('../img/csm_coronavirus_mc.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0;
}

.breadcrumbs {
    background-color: rgba(46, 104, 165, 0.1);
    font-size: 0.8rem;
}
.breadcrumbs .breadcrumb {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}
.breadcrumbs .breadcrumb a {
    color: #6c757d;
}

.toc ul {
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
}
.toc ul ul {
    font-size: 0.9rem;
}

.content ul:not([class]), .content ul[class=""] {
    margin-bottom: 1rem;
}

footer .col-md {
    padding: 0.5rem;
}
footer h2.small {
    margin-top: 1rem;
}
footer img {
    max-height: 60px;
}



.homepage-accordions .card-header a i {
    color: #555;
    text-decoration: none;
    text-align: center;
    width: 1.25em;
}
