{{ define "main" }}

{{ $page_topic := .Page.Params.topic }}

<!-- Content from the markdown file -->
{{ .Content }}

<!-- Data Highlights -->

{{ range $key, $taxonomy := .Site.Taxonomies.highlights_topics }}
{{ if eq $key (urlize $page_topic) }}
<h3><i class="bi bi-three-dots-vertical"></i> Data highlights ({{ len $taxonomy.Pages }})</h3>
<div class="container mt-3 mb-5">
  <div class="row">
    {{ $col_width :="col-md"}}
    {{ if lt (len $taxonomy.Pages) 3 }}
    {{ $col_width = "col-md-4" }}
    {{ end }}
    {{ range first 3 $taxonomy.Pages }}
    <div class="{{ $col_width }} mx-2 mb-2 border bg-light">
      <img style="margin-top:0.5rem" src="{{ .Params.banner }}" alt="{{ .Title }}">
      {{ range (.GetTerms "highlights_topics") }}
      <span class="topic_badge_small
                  {{ if eq .LinkTitle "COVID-19"}}topic_badge_covid
                  {{ else if eq .LinkTitle "Infectious diseases"}}topic_badge_infectious_d
                  {{ else if eq .LinkTitle "Antibiotic resistance"}}topic_badge_antib_r
                  {{ else if eq .LinkTitle "Mpox"}}topic_badge_mpox
                  {{ else if eq .LinkTitle "Enteric virus"}}topic_badge_enteric_v
                  {{ else }}topic_badge_general
                  {{ end }} "><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></span>
      {{ end }}
      <h6><a href="{{ .RelPermalink }}">{{ .Title }}</a></h6>
      <p class="small text-muted">{{.Date.Format "2006-01-02"}}</p>
      <p> {{ .Summary }} <br><a
          href="{{ .RelPermalink }}">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).readmore_text }} <i
            class="bi bi-arrow-right-circle-fill"></i></a></p>
    </div>
    {{ end }}
  </div>
  <div class="mt-2 fw-bold align-content-end"><a href="/highlights/topics/{{ $key }}">See all data highlights
      on {{ $page_topic }} ({{ len $taxonomy.Pages }}) <i class="bi bi-arrow-right-circle-fill"></i></a></div>
  <hr>
</div>
{{ end }}
{{ end }}

<!-- Dashboards -->

{{ range $key, $taxonomy := .Site.Taxonomies.dashboards_topics }}
{{ if eq $key (urlize $page_topic) }}
<h3><i class="bi bi-three-dots-vertical"></i> Dashboards ({{ len $taxonomy.Pages }})</h3>
<div class="container mt-3 mb-5">
  <div class="row">
    {{ $col_width :="col-md"}}
    {{ if lt (len $taxonomy.Pages) 3 }}
    {{ $col_width = "col-md-4" }}
    {{ end }}
    {{ range first 3 $taxonomy.Pages }}
    <div class="{{ $col_width }} mx-2 mb-2 border bg-light">
      <img style="margin-top:0.5rem" src="{{ .Params.banner }}" alt="{{ .Title }}">
      {{ range (.GetTerms "dashboards_topics") }}
      <span class="topic_badge_small
                  {{ if eq .LinkTitle "COVID-19"}}topic_badge_covid
                  {{ else if eq .LinkTitle "Infectious diseases"}}topic_badge_infectious_d
                  {{ else if eq .LinkTitle "Antibiotic resistance"}}topic_badge_antib_r
                  {{ else if eq .LinkTitle "Mpox"}}topic_badge_mpox
                  {{ else if eq .LinkTitle "Enteric virus"}}topic_badge_enteric_v
                  {{ else }}topic_badge_general
                  {{ end }} "><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></span>
      {{ end }}
      <h6><a href="{{ .RelPermalink }}">{{ .Title }}</a></h6>
      <p> {{ .Description }} <br><a
          href="{{ .RelPermalink }}">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).readmore_text }} <i
            class="bi bi-arrow-right-circle-fill"></i></a></p>
    </div>
    {{ end }}
  </div>
  <div class="mt-2 fw-bold align-content-end"><a href="/dashboards/topics/{{ $key }}">See all dashboards
    on {{ $page_topic }} ({{ len $taxonomy.Pages }}) <i class="bi bi-arrow-right-circle-fill"></i></a></div>
<hr>
</div>
{{ end }}
{{ end }}

<!-- Sample collection -->

{{ if or (eq $page_topic "COVID-19") (eq $page_topic "Infectious diseases") }}
{{/* This needs to be updated manually. Usually once or twice per year. */}}
<h3><i class="bi bi-three-dots-vertical"></i> Sample collections (36)</h3>
<div class="container mt-3 mb-5">
  <div class="table-responsive">
    <table class="table table-hover no-last-row-border" width="100%">
      <thead class="bg-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Size</th>
          <th scope="col">Materials</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><small><b>Dalarna biobank (forskningsprov och nyinsamlade prov):</b></small><br>
            <h6><a href="/collections/873/1/">SARS-CoV-2 PCR positiva Dalarna</a></h6>
          </td>
          <td><span class="m-1 badge bg-secondary">Healthcare sample collection</span></td>
          <td><span class="m-1 badge bg-success">
              1000 - 10.000
            </span></td>
          <td><span class="m-1 badge bg-danger"></span>
            <span class="m-1 badge bg-danger"><a href="/materials/nasal-swab/" style="color:white;">Nasal
                swab</a></span>

            <span class="m-1 badge bg-danger"><a href="/materials/throat-swab/" style="color:white;">Throat
                swab</a></span>
          </td>
        </tr>
        <tr>
          <td><small><b>Gävleborg biobank:</b></small><br>
            <h6><a href="/collections/984/1/">Klinisk mikrobiologi</a></h6>
          </td>
          <td><span class="m-1 badge bg-secondary">Healthcare sample collection</span></td>
          <td><span class="m-1 badge bg-success">
              1000 - 10.000
            </span></td>
          <td><span class="m-1 badge bg-danger"></span>
            <span class="m-1 badge bg-danger taxonomy-term"><a href="/materials/nasal-swab/"
                style="color:white;">Nasal swab</a></span>
            <span class="m-1 badge bg-danger taxonomy-term"><a href="/materials/serum/"
                style="color:white;">Serum</a></span>
            <span class="m-1 badge bg-danger taxonomy-term"><a href="/materials/throat-swab/"
                style="color:white;">Throat swab</a></span>
            <span class="m-1 badge bg-danger taxonomy-term"><a href="/materials/other/"
                style="color:white;">Other</a></span>
          </td>
        </tr>
        <tr>
          <td><small><b>Halland biobank:</b></small><br>
            <h6><a href="/collections/325/1/">Patologen Halland</a></h6>
          </td>
          <td><span class="m-1 badge bg-secondary">Healthcare sample collection</span></td>
          <td><span class="m-1 badge bg-success">
              100 - 1000
            </span></td>
          <td><span class="m-1 badge bg-danger"></span>
            <span class="m-1 badge bg-danger taxonomy-term"><a href="/materials/tissue-stained-sections/slides/"
                style="color:white;">Tissue (stained sections/slides)</a></span>
            <span class="m-1 badge bg-danger taxonomy-term"><a href="/materials/tissue-paraffin-preserved/"
                style="color:white;">Tissue (paraffin preserved)</a></span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-2 fw-bold"><a href="https://biobanks.covid19dataportal.se/">See all sample collections on
        {{ $page_topic }} (36) <i class="bi bi-arrow-right-circle-fill"></i></a></div>
  </div>
  <hr>
</div>

{{ end }}

<!-- Research projects -->

{{ $topic_projects := slice }}
{{ range $ind, $cont := $.Site.Data.research_projects.projects }}
{{ if and (in .topic $page_topic) (gt (.enddate | time.Format "20060102") (now | time.Format "20060102")) }}
{{ $topic_projects = $topic_projects | append $cont}} {{ end }} {{ end }}
{{ if gt (len $topic_projects) 0 }}
<h3><i class="bi bi-three-dots-vertical"></i> Ongoing research projects ({{ len $topic_projects }})</h3>
<div class="container mt-3 mb-5">
  <div class="table-responsive">
    <table class="table table-hover no-last-row-border" width="100%">
      <thead class="bg-light">
        <tr>
          <th scope="col">Project title</th>
          <th scope="col">Funder</th>
        </tr>
      </thead>
      <tbody>
        {{ range $ind, $cont := first 3 $topic_projects }}
        <tr>
          <td>
            <div class="row">
              <div class="col">
                <h6>{{ if .url }}<a href="{{ .url }}">{{ end }}{{ .project_title }}{{ if .url }}</a>{{ end }}</h6>
                {{ if or .pi .pi_affiliation }}<p class="text-muted"><b>Host institute:</b>
                  {{ .pi_affiliation }}<br><b>Principal investigator:</b> {{ .pi }}</p>{{ end }}
                <div class="row mt-2">
                  <div class="col">
                    <button type="button" class="btn_details btn_details_primary" data-bs-toggle="modal"
                      data-bs-target="#call_details{{ $ind }}">
                      Details
                    </button>
                    <div class="modal fade" id="call_details{{ $ind }}" tabindex="-1" role="dialog"
                      aria-labelledby="call_details{{ $ind }}Label" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="call_details{{ $ind }}Label">{{ .call_title }}</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p><b>Project:</b> {{ .project_title }}<br>
                              <b>Funder:</b> {{ .funder }}<br>
                              {{ if .pi }}<b>Principal investigator:</b> {{ .pi }}<br>{{ end }}
                              {{ if .pi_affiliation }}<b>Host institute:</b> {{ .pi_affiliation }}<br>{{ end }}
                              {{ if or .startdate .enddate }}<b>Duration:</b> {{ .startdate}} –
                              {{ .enddate }}<br>{{ end }}
                              {{ if .funding_amount }}<b>Funding amount:</b> {{ .funding_amount}}<br>{{ end }}
                            </p>
                            {{ if .project_description }}<p><b>Project
                                description:</b><br><small>{{ .project_description | markdownify }}</small></p>{{ end }}
                            {{ if .url }}<p><a href="{{ .url }}">More information about the project <i
                                  class="bi bi-arrow-right-circle-fill" aria-hidden="true"></i></a></p>{{ end }}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn_details btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </td>
          <td>{{ if and (eq $.Site.Language.LanguageName "Svenska") .funder_sv }}{{ .funder_sv }}{{ else }}
            {{ .funder }}{{ end }}</td>
        {{ end }}
      </tbody>
    </table>
    <div class="mt-2 fw-bold"><a href="/research_projects/">See all ongoing research projects on
        {{ $page_topic }} ({{ len $topic_projects }}) <i class="bi bi-arrow-right-circle-fill"></i></a></div>
  </div>
  <hr>
</div>
{{ end }}

<!-- Fundings -->

{{ $topic_funding := slice }}
{{ range $ind, $cont := $.Site.Data.funding.calls }}
{{ if  and (or (in .topic $page_topic) (in .topic "General") ) (gt (.submission_deadline | time.Format "20060102") (now | time.Format "20060102")) }}
{{ $topic_funding = $topic_funding | append $cont }} {{ end }} {{ end }}
{{ if gt (len $topic_funding) 0 }}
<h3><i class="bi bi-three-dots-vertical"></i> Open funding opportunities ({{ len $topic_funding }})</h3>
<div class="container mt-3 mb-5">
  <div class="table-responsive">
    <table class="table table-hover no-last-row-border" width="100%">
      <thead class="bg-light">
        <tr>
          <th scope="col">Call title</th>
          <th scope="col">Deadline</th>
          <th scope="col">Funder</th>
        </tr>
      </thead>
      <tbody>
        {{ range $ind, $cont := first 3 $topic_funding }}
        <tr>
          <td>
            <div class="row">
              <div class="col">
                <h6><a href="{{ .call_url }}">{{ .call_title }}</a></h6>
              </div>
            </div>
            {{ if .call_description }}<div class="row">
              <div class="col text-muted">
                {{ truncate 190 .call_description | markdownify }}
              </div>
            </div>{{ end }}
            <div class="row mt-2">
              <div class="col">
                <button type="button" class="btn_details btn_details_primary" data-bs-toggle="modal"
                  data-bs-target="#call_details{{ $ind }}">
                  Details
                </button>
                <div class="modal fade" id="call_details{{ $ind }}" tabindex="-1" role="dialog"
                  aria-labelledby="call_details{{ $ind }}Label" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="call_details{{ $ind }}Label">{{ .call_title }}</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body funding_details">
                        <p><b>Funder:</b> {{ .funder }}<br>
                          {{ if .submission_opendate}}<b>Submission opens:</b>
                          {{ .submission_opendate | time.Format ":date_long" }}<br>{{ end }}
                          <b>Submission deadline:</b> {{ .submission_deadline | time.Format ":date_long" }}<br>
                          {{ if .funding_amount }}<b>Funding amount:</b> {{ .funding_amount }}<br>{{ end }}
                          {{ if .funding_period }}<b>Funding period:</b> {{ .funding_period}}<br>{{ end }}
                          {{ if .applicant }}<b>Eligible applicant:</b> {{ .applicant | markdownify }}<br>{{ end }}
                          {{ if .decision_date }}<b>Decision date:</b> {{ .decision_date }}<br>{{ end }}</p>
                        <p><b>Call description:</b><br><small>{{ .call_description | markdownify }}</small></p>
                        <p><a href="{{ .call_url }}">See call website for more information <i
                              class="bi bi-arrow-right-circle-fill" aria-hidden="true"></i></a></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>{{ .submission_deadline | time.Format ":date_long" }}</td>
          <td>{{ .funder }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
    <div class="mt-2 fw-bold"><a href="/funding/">See all open funding opportunities on {{ $page_topic }}
        ({{ len $topic_funding }}) <i class="bi bi-arrow-right-circle-fill"></i></a></div>
  </div>
</div>
{{ end }}

{{ end }}