{{ define "main" }}

{{ $page_topic := .Page.Params.topic }}

{{ if eq $page_topic "Antibiotic resistance" }}
<div class="alert alert-info">
    <i class="bi bi-exclamation-circle-fill"></i>
    <span><i>Antibiotic resistance</i> is a new topic on the Portal, and we are currently working on adding more
    information.</span>
</div>
{{ end }}

<div class="container">
  <p>Below is an overview of various sections of <i>The Swedish COVID-19 & Pandemic Preparedness Portal</i> where
    information about research data and resources relevant to {{ $page_topic }} can be found. For a short background on
    this topic below, <a href="#background">see the description below</a>.</p>
</div>

<!-- <h3>Available datasets</h3> -->

{{ range $key, $taxonomy := .Site.Taxonomies.highlights_topics }}
{{ if eq $key (urlize $page_topic) }}
<h3><i class="bi bi-three-dots-vertical"></i> Data highlights ({{ len $taxonomy.Pages }})</h3>
<div class="container mt-3">
  <div class="row">
    {{ $col_width :="col-md"}}
    {{ if lt (len $taxonomy.Pages) 3 }}
    {{ $col_width = "col-md-4" }}
    {{ end }}
    {{ range first 3 $taxonomy.Pages }}
    <div class="{{ $col_width }} mx-2 mb-2 border bg-light">
      <img style="margin-top:0.5rem" src="{{ .Params.banner }}" alt="{{ .Title }}">
      {{ range (.GetTerms "highlights_topics") }}
      <span class="topic_badge_small
                  {{ if eq .LinkTitle "COVID-19"}}topic_badge_covid
                  {{ else if eq .LinkTitle "Infectious diseases"}}topic_badge_infectious_d
                  {{ else if eq .LinkTitle "Antibiotic resistance"}}topic_badge_antib_r
                  {{ else if eq .LinkTitle "Monkeypox"}}topic_badge_monkeypox
                  {{ else }}topic_badge_general
                  {{ end }} "><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></span>
      {{ end }}
      <h6><a href="{{ .RelPermalink }}">{{ .Title }}</a></h6>
      <p class="small text-muted">{{.Date.Format "2006-01-02"}}</p>
      <p> {{ .Summary }} <br><a
          href="{{ .RelPermalink }}">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).readmore_text }} <i
            class="bi bi-arrow-right-circle-fill"></i></a></p>
    </div>
    {{ end }}
  </div>
  <div class="mt-2 font-weight-bold align-content-end"><a href="/highlights/topics/{{ $key }}">See all data highlights
      on {{ $page_topic }} ({{ len $taxonomy.Pages }}) <i class="bi bi-arrow-right-circle-fill"></i></a></div>
</div>
<hr>
{{ end }}
{{ end }}

{{ if or (eq $page_topic "COVID-19") (eq $page_topic "Infectious diseases") }}
<h3><i class="bi bi-three-dots-vertical"></i> Dashboards (6)</h3>
<div class="container">
  <div class="row">
    <div class="col mx-2 my-2 px-3 py-3 border font-weight-bold">
      <a style="color: rgba(75, 75, 75, 0.8);" href="/dashboards/serology-statistics/">SciLifeLab Autoimmunity and
        Serology profiling facility SARS-CoV-2 antibody test statistics</a>
    </div>
    <div class="col mx-2 my-2 px-3 py-3 border font-weight-bold">
      <a style="color: rgba(75, 75, 75, 0.8);" href="/dashboards/wastewater/">The amount of SARS-CoV-2 virus in
        wastewater across Sweden</a>
    </div>
  </div>
  <div class="row">
    <div class="col mx-2 my-2 px-3 py-3 border font-weight-bold">
      <a style="color: rgba(75, 75, 75, 0.8);" href="/dashboards/vaccines/">The administration and study of COVID-19
        vaccines in Sweden</a>
    </div>
    <div class="col mx-2 my-2 px-3 py-3 border font-weight-bold">
      <a style="color: rgba(75, 75, 75, 0.8);" href="/dashboards/post_covid/">Post COVID-19 condition in Sweden:
        statistics, research projects, and available data</a>
    </div>
  </div>
  <div class="mt-2 font-weight-bold"><a href="/dashboards/">See all dashboards on {{ $page_topic }} (6) <i
        class="bi bi-arrow-right-circle-fill"></i></a></div>
</div>
<hr>
{{ end }}

{{ if or (eq $page_topic "COVID-19") (eq $page_topic "Infectious diseases") }}
{{/* Doing this manually right now. Need to create expose an API from biobanks.covid19dataportal.se in the future to fetch this automatically. */}}
<h3><i class="bi bi-three-dots-vertical"></i> Sample collections (35)</h3>
<div class="container mt-3 ">
  <div class="table-responsive">
    <table class="table table-hover" width="100%">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Size</th>
          <th scope="col">Materials</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><small><b>Dalarna biobank (forskningsprov och nyinsamlade prov):</b></small><br>
            <h6><a href="/collections/873/1/">SARS-CoV-2 PCR positiva Dalarna</a></h6>
          </td>
          <td><span class="m-1 badge badge-secondary">Healthcare sample collection</span></td>
          <td><span class="m-1 badge badge-success">
              1000 - 10.000
            </span></td>
          <td><span class="m-1 badge badge-danger"></span>
            <span class="m-1 badge badge-danger"><a href="/materials/nasal-swab/" style="color:white;">Nasal
                swab</a></span>

            <span class="m-1 badge badge-danger"><a href="/materials/throat-swab/" style="color:white;">Throat
                swab</a></span>
          </td>
        </tr>
        <tr>
          <td><small><b>Gävleborg biobank:</b></small><br>
            <h6><a href="/collections/984/1/">Klinisk mikrobiologi</a></h6>
          </td>
          <td><span class="m-1 badge badge-secondary">Healthcare sample collection</span></td>
          <td><span class="m-1 badge badge-success">
              1000 - 10.000
            </span></td>
          <td><span class="m-1 badge badge-danger"></span>
            <span class="m-1 badge badge-danger taxonomy-term"><a href="/materials/nasal-swab/"
                style="color:white;">Nasal swab</a></span>
            <span class="m-1 badge badge-danger taxonomy-term"><a href="/materials/serum/"
                style="color:white;">Serum</a></span>
            <span class="m-1 badge badge-danger taxonomy-term"><a href="/materials/throat-swab/"
                style="color:white;">Throat swab</a></span>
            <span class="m-1 badge badge-danger taxonomy-term"><a href="/materials/other/"
                style="color:white;">Other</a></span>
          </td>
        </tr>
        <tr>
          <td><small><b>Halland biobank:</b></small><br>
            <h6><a href="/collections/325/1/">Patologen Halland</a></h6>
          </td>
          <td><span class="m-1 badge badge-secondary">Healthcare sample collection</span></td>
          <td><span class="m-1 badge badge-success">
              100 - 1000
            </span></td>
          <td><span class="m-1 badge badge-danger"></span>
            <span class="m-1 badge badge-danger taxonomy-term"><a href="/materials/tissue-stained-sections/slides/"
                style="color:white;">Tissue (stained sections/slides)</a></span>
            <span class="m-1 badge badge-danger taxonomy-term"><a href="/materials/tissue-paraffin-preserved/"
                style="color:white;">Tissue (paraffin preserved)</a></span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-2 font-weight-bold"><a href="https://biobanks.covid19dataportal.se/">See all sample collections on
        {{ $page_topic }} (35) <i class="bi bi-arrow-right-circle-fill"></i></a></div>
  </div>
</div>
<hr>

{{ end }}

<!-- <h3>Resources</h3> -->

{{ $topic_projects := slice }}
{{ range $ind, $cont := $.Site.Data.research_projects.projects }}
{{ if and (in .topic $page_topic) (gt (.enddate | time.Format "20060102") (now | time.Format "20060102")) }}
{{ $topic_projects = $topic_projects | append $cont}} {{ end }} {{ end }}
{{ if gt (len $topic_projects) 0 }}
<h3><i class="bi bi-three-dots-vertical"></i> Ongoing research projects ({{ len $topic_projects }})</h3>
<div class="container mt-3 ">
  <div class="table-responsive">
    <table class="table table-hover" width="100%">
      <thead class="thead-light">
        <tr>
          <th scope="col">Project title</th>
          <th scope="col">Funder</th>
          <th scope="col">Topics</th>
        </tr>
      </thead>
      <tbody>
        {{ range $ind, $cont := first 3 $topic_projects }}
        <tr>
          <td>
            <div class="row">
              <div class="col">
                <h6>{{ if .url }}<a href="{{ .url }}">{{ end }}{{ .project_title }}{{ if .url }}</a>{{ end }}</h6>
                {{ if or .pi .pi_affiliation }}<p class="text-muted"><b>Host institute:</b>
                  {{ .pi_affiliation }}<br><b>Principal investigator:</b> {{ .pi }}</p>{{ end }}
                <div class="row mt-2">
                  <div class="col">
                    <button type="button" class="btn_details btn_details_primary" data-toggle="modal"
                      data-target="#call_details{{ $ind }}">
                      Details
                    </button>
                    <div class="modal fade" id="call_details{{ $ind }}" tabindex="-1" role="dialog"
                      aria-labelledby="call_details{{ $ind }}Label" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="call_details{{ $ind }}Label">{{ .call_title }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p><b>Project:</b> {{ .project_title }}<br>
                              <b>Funder:</b> {{ .funder }}<br>
                              {{ if .pi }}<b>Principal investigator:</b> {{ .pi }}<br>{{ end }}
                              {{ if .pi_affiliation }}<b>Host institute:</b> {{ .pi_affiliation }}<br>{{ end }}
                              {{ if or .startdate .enddate }}<b>Duration:</b> {{ .startdate}} –
                              {{ .enddate }}<br>{{ end }}
                              {{ if .funding_amount }}<b>Funding amount:</b> {{ .funding_amount}}<br>{{ end }}
                            </p>
                            {{ if .project_description }}<p><b>Project
                                description:</b><br><small>{{ .project_description | markdownify }}</small></p>{{ end }}
                            {{ if .url }}<p><a href="{{ .url }}">More information about the project <i
                                  class="bi bi-arrow-right-circle-fill" aria-hidden="true"></i></a></p>{{ end }}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn_details btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </td>
          <td>{{ if and (eq $.Site.Language.LanguageName "Svenska") .funder_sv }}{{ .funder_sv }}{{ else }}
            {{ .funder }}{{ end }}</td>
          <td>{{ range .topic }}<span class="mx-1 my-1 topic_badge_small
          {{ if eq . "COVID-19"}}topic_badge_covid
          {{ else if eq . "Infectious diseases"}}topic_badge_infectious_d
          {{ else if eq . "Antibiotic resistance"}}topic_badge_antib_r
          {{ else if eq . "Monkeypox"}}topic_badge_monkeypox
          {{ else }}topic_badge_general
          {{ end }} ">{{ . }}</span>{{ end }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
    <div class="mt-2 font-weight-bold"><a href="/research_projects/">See all ongoing research projects on
        {{ $page_topic }} ({{ len $topic_projects }}) <i class="bi bi-arrow-right-circle-fill"></i></a></div>
  </div>
</div>
<hr>
{{ end }}

{{ $topic_funding := slice }}
{{ range $ind, $cont := $.Site.Data.funding.calls }}
{{ if  and (or (in .topic $page_topic) (in .topic "General") ) (gt (.submission_deadline | time.Format "20060102") (now | time.Format "20060102")) }}
{{ $topic_funding = $topic_funding | append $cont }} {{ end }} {{ end }}
{{ if gt (len $topic_funding) 0 }}
<h3><i class="bi bi-three-dots-vertical"></i> Open funding opportunities ({{ len $topic_funding }})</h3>
<div class="container mt-3 mb-5">
  <div class="table-responsive">
    <table class="table table-hover funding-opportunities" width="100%">
      <thead class="thead-light">
        <tr>
          <th scope="col">Call title</th>
          <th scope="col">Deadline</th>
          <th scope="col">Funder</th>
          <th scope="col">Topics</th>
        </tr>
      </thead>
      <tbody>
        {{ range $ind, $cont := first 3 $topic_funding }}
        <tr>
          <td>
            <div class="row">
              <div class="col">
                <h6><a href="{{ .call_url }}">{{ .call_title }}</a></h6>
              </div>
            </div>
            {{ if .call_description }}<div class="row">
              <div class="col text-muted">
                {{ truncate 190 .call_description | markdownify }}
              </div>
            </div>{{ end }}
            <div class="row mt-2">
              <div class="col">
                <button type="button" class="btn_details btn_details_primary" data-toggle="modal"
                  data-target="#call_details{{ $ind }}">
                  Details
                </button>
                <div class="modal fade" id="call_details{{ $ind }}" tabindex="-1" role="dialog"
                  aria-labelledby="call_details{{ $ind }}Label" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="call_details{{ $ind }}Label">{{ .call_title }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body funding_details">
                        <p><b>Funder:</b> {{ .funder }}<br>
                          {{ if .submission_opendate}}<b>Submission opens:</b>
                          {{ .submission_opendate | time.Format ":date_long" }}<br>{{ end }}
                          <b>Submission deadline:</b> {{ .submission_deadline | time.Format ":date_long" }}<br>
                          {{ if .funding_amount }}<b>Funding amount:</b> {{ .funding_amount }}<br>{{ end }}
                          {{ if .funding_period }}<b>Funding period:</b> {{ .funding_period}}<br>{{ end }}
                          {{ if .applicant }}<b>Eligible applicant:</b> {{ .applicant | markdownify }}<br>{{ end }}
                          {{ if .decision_date }}<b>Decision date:</b> {{ .decision_date }}<br>{{ end }}</p>
                        <p><b>Call description:</b><br><small>{{ .call_description | markdownify }}</small></p>
                        <p><a href="{{ .call_url }}">See call website for more information <i
                              class="bi bi-arrow-right-circle-fill" aria-hidden="true"></i></a></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>{{ .submission_deadline | time.Format ":date_long" }}</td>
          <td>{{ .funder }}</td>
          <td>{{ range .topic }}<span class="mx-1 my-1 topic_badge_small
          {{ if eq . "COVID-19"}}topic_badge_covid
          {{ else if eq . "Infectious diseases"}}topic_badge_infectious_d
          {{ else if eq . "Antibiotic resistance"}}topic_badge_antib_r
          {{ else if eq . "Monkeypox"}}topic_badge_monkeypox
          {{ else }}topic_badge_general
          {{ end }} ">{{ . }}</span>{{ end }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
    <div class="mt-2 font-weight-bold"><a href="/funding/">See all open funding opportunities on {{ $page_topic }}
        ({{ len $topic_funding }}) <i class="bi bi-arrow-right-circle-fill"></i></a></div>
  </div>
</div>
{{ end }}

<!-- Content from the markdown file -->
{{ .Content }}

{{ end }}