<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    {{- partial "head.html" . -}}
    <body>
        <a class="sr-only sr-only-focusable" href="#content">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).skip_to_content }}</a>
        {{- partial "navbar.html" . -}}
        {{- partial "header.html" . -}}
        {{- block "header" . }}{{- end }}
        {{ $auto_toc := and (not (isset .Params "toc")) (gt .WordCount 500) }}
        {{ if or ($auto_toc) (.Params.toc) }}
            <div class="container">
                <div class="row">
                    <div class="col-md-3 order-md-last toc">{{- partial "toc.html" . -}}</div>
                    <div class="col-md-9 order-md-first mt-5 content" id="content">{{- block "main" . }}{{- end }}</div>
                </div>
            </div>
        {{ else }}
            <div class="container mt-5 content" id="content">
                {{- block "main" . }}{{- end }}
            </div>
        {{ end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
