{{ define "main" }}

{{ .Content }}

{{ if eq $.Site.Language.LanguageName "Svenska" }}
{{ $display_alert := false }}
{{ range .RegularPages }}{{ if and .Params.needs_translation (eq $.Site.Language.LanguageName "Svenska") }} {{ $display_alert = true }} {{ end }} {{ end }}
  {{ if $display_alert}}
  <div class="alert alert-info">
    <i class="fas fa-exclamation-triangle"></i>
    <span class="small">Svensk översättning för de engelska texterna kommer inom kort.</span>
  </div>
  {{ end }}
{{ end }}

<div class="container mt-3">
  <div class="row">
  {{ $third_element := 2 }}
  {{ $total_items := len .RegularPages}}
  {{ $mod := mod $total_items 3 }}
  {{ $full_rows := first (sub $total_items $mod) .RegularPages }}
  {{ range $index, $content := $full_rows }}
      <div class="col-md mx-2 mb-2 border bg-light">
          <img style="margin-top:0.5rem" src="{{ .Params.banner }}" alt="{{ .Title }}">
          <h6><a href="{{ .RelPermalink }}">{{ .Title }}</a></h6>
          <p class="small text-muted">{{.Date.Format "2006-01-02"}}</p>
          <p> {{ .Summary }} <br><a href="{{ .RelPermalink }}">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).readmore_text }} <i class="fas fa-arrow-circle-right"></i></a></p>
      </div>
      {{ if eq $index $third_element }}
      <div class="w-100"></div>
      {{ $third_element = add $third_element 3 }}
      {{ end }}
  {{ end }}

  {{ if eq $mod 1}}
      {{ range last $mod .RegularPages }}
      <div class="col-md mx-2 mb-2 border bg-light">
          <img style="margin-top:0.5rem" src="{{ .Params.banner }}" alt="{{ .Title }}">
          <h6><a href="{{ .RelPermalink }}">{{ .Title }}</a></h6>
          <p class="small text-muted">{{.Date.Format "2006-01-02"}}</p>
          <p> {{ .Summary }} <br><a href="{{ .RelPermalink }}">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).readmore_text }} <i class="fas fa-arrow-circle-right"></i></a></p>
      </div>
      {{ end }}
      <div class="col-md mx-2 mb-2"></div>
      <div class="col-md mx-2 mb-2"></div>
  {{ else if eq $mod 2}}
      {{ range last $mod .RegularPages }}
      <div class="col-md mx-2 mb-2 border bg-light">
          <img style="margin-top:0.5rem" src="{{ .Params.banner }}" alt="{{ .Title }}">
          <h6><a href="{{ .RelPermalink }}">{{ .Title }}</a></h6>
          <p class="small text-muted">{{.Date.Format "2006-01-02"}}</p>
          <p> {{ .Summary }} <br><a href="{{ .RelPermalink }}">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).readmore_text }} <i class="fas fa-arrow-circle-right"></i></a></p>
      </div>
      {{ end }}
      <div class="col-md mx-2 mb-2"></div>
  {{ end }}

  </div>
</div>

{{ end }}
