@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,500;0,700;1,400&display=swap");

body {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

a {
  color: #4770b1;
  text-decoration: none;
}

a:hover {
  color: #4770b1;
  text-decoration: underline;
}

a.dark-blue {
  color: #193f90;
  text-decoration: none;
}

a.dark-blue:hover {
  color: #193f90;
  text-decoration: underline;
}

a.share-button {
  color: #295986;
}

img {
  max-width: 100%;
}

blockquote {
  border-left: 5px solid rgba(46, 104, 165, 0.3);
  padding-left: 1rem;
  margin-left: 1rem;
  color: #666;
}

h2 {
  margin-top: 2rem;
}
h3 {
  margin-top: 1.5rem;
}
h4 {
  margin-top: 1rem;
}
h5,
h6 {
  margin-top: 0.5rem;
}
div > h2:first-of-type,
aside > h5 {
  margin-top: 0;
}
li:empty {
  display: none;
}

figure.float-md-end {
  max-width: 50%;
}

/* For smaller device use full width */
@media (max-width: 767px) {
  figure.float-md-end {
    max-width: 100%;
  }
}

.navbar .navbar-brand {
  max-width: 75%;
}

/*
* Adapt header logo size for smaller mobile devices
*/

@media (max-width: 263px) {
  .navbar .navbar-brand {
    max-width: 65%;
  }
}

@media (max-width: 311px) {
  .navbar .navbar-brand {
    max-width: 70%;
  }
}

@media all and (min-width: 1400px) {
  .navbar .navbar-nav a.nav-link {
    padding: 0.3em 0.8rem;
  }
}

.navbar .navbar-brand img {
  height: 65px;
  max-width: 100%;
}

a.nav-link:hover,
a.nav-link:focus,
a.nav-link:active {
  text-decoration: none;
}

.nav-tabs a.nav-link,
.nav-list a.nav-link {
  color: #4770b1;
  font-weight: 500;
}

.nav-list li {
  margin: 0.2rem 0;
  border: 1px solid #d2e5e7;
  border-radius: 2px;
}

.nav-list a.active {
  color: #3f3f3f;
  background-color: #d2e5e7;
}

.nav-tabs-about a.active {
  font-weight: 600;
}

.navbar .navbar-nav.navbar-top {
  margin-left: 1rem;
}

.navbar-nav li.nav-item a.nav-link {
  color: rgba(0, 0, 0, 0.75) !important;
}

.navbar-nav.navbar-top li.nav-item a.nav-link:hover {
  color: rgba(0, 0, 0, 0.85) !important;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.85);
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
}

.navbar-top li.dropdown a.nav-link {
  padding-right: 0;
}

.nav-languages li a {
  text-decoration: none;
}

.languages-mobile a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75)
}

.dropdown-menu.nav-languages {
  min-width: 1rem;
  border-radius: 2px;
  padding: 4px 0px;
  margin-top: 0;
}

.dropdown-menu.nav-languages a.dropdown-item {
  padding: 2px 10px;
  font-size: 0.9rem;
}

.dropdown-menu.nav-languages a.dropdown-item:active {
  background-color: rgba(216, 216, 216, 0.5);
  color: rgba(0, 0, 0, 0.75);
}

.main_menu_item {
  color: rgba(41, 89, 134, 0.85);
  font-weight: 500;
  font-size: 1.07em;
}

.main_menu_item a {
  color: rgba(41, 89, 134, 0.85);
  text-decoration: none;
}

.main_menu_item_sub a {
  font-weight: 500;
  color: rgba(41, 89, 134, 0.85);
  text-align: left;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  margin: 0.2rem 0.1rem;
  font-size: 0.95rem;
  white-space: nowrap;
  padding-right: 0.5rem;
  text-decoration: none;
}

/* For smaller device use reduced font size */
@media (max-width: 767px) {
  .main_menu_item {
    font-size: 1.1em;
  }
  .main_menu_item_sub a {
    font-size: 0.83em;
  }
}

.main_menu_item a:hover,
.main_menu_item a:focus,
.main_menu_item a:active,
.main_menu_item_sub a:hover,
.main_menu_item_sub a:focus,
.main_menu_item_sub a:active {
  color: rgba(41, 89, 134, 1);
}

.main_menu_item_sub_dropdown a {
  font-weight: 500;
  font-size: 0.9em;
  text-align: left;
}

@media (max-width: 1199px) {
  .main_menu .border-right {
    border: 0px solid !important;
  }
}

.see-all-link-text {
  font-size: 0.95em;
}

.header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.1rem 0;
}

.breadcrumbs {
  background-color: rgba(46, 104, 165, 0.1);
  font-size: 0.8rem;
}
.breadcrumbs .breadcrumb {
  background-color: transparent;
  padding: 12px 0px;
}
.breadcrumbs .breadcrumb a {
  color: #6c757d;
}

/* Table of Content */
.toc {
  top: 0;
  z-index: 999;
}

.toc ul {
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}
.toc ul ul {
  font-size: 0.9rem;
}

@media all and (min-width: 767px) {
  .toc {
    position: sticky;
  }
}

.content ul:not([class]),
.content ul[class=""] {
  margin-bottom: 1rem;
}

footer .col-md {
  padding: 0.5rem;
}
footer h2.small {
  margin-top: 1rem;
}
footer img {
  max-height: 100%;
}

.plot_wrapper {
  max-width: 100%;
  overflow-x: auto;
}

.pagination > li > a {
  background-color: white;
  color: #295986;
}

.pagination > li > a:hover,
.pagination > li > span:hover {
  color: black;
  background-color: #d8d8d8;
  border-color: #ddd;
}

.pagination > li > span:focus,
.pagination > li > a:focus,
.pagination > .active > a,
.pagination > .active > a:hover {
  color: white;
  background-color: #295986 !important;
  border: solid 1px #295986;
}

#dwbuttons .collapsed {
  background-color: white !important;
  color: #5a626a !important;
}

.preprint-icon {
  color: white;
  background-color: rgba(77, 77, 77, 0.8);
  border-radius: 5px;
  padding: 4px;
  font-size: small;
  font-weight: 500;
}

.data-available-icon {
  color: white;
  background-color: #de2c6c;
  border-radius: 5px;
  padding: 4px;
  font-size: small;
  font-weight: 500;
}

/* Vertical line for the homepage */

@media all and (min-width: 992px) {
  .vert-line-right {
    border-right: 1px;
    border-right-style: solid;
    border-color: #ccc;
  }
}

/* Share your data block for the homepage */
.share-new-data {
  background-color: #37ae94 !important;
}

/* Special announcements */

.announcement_banner_homepage {
  border: 1px solid #de2c6c;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.announcement_banner_homepage a {
  color: #de2c6c;
}

.announcement_banner {
  border: 1px solid #de2c6c;
  border-radius: 2px;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
}

.announcement_banner a {
  color: #de2c6c;
}

.ena_tutorial_banner {
  border: 1px solid rgba(77, 77, 77, 0.8);
  color: rgba(77, 77, 77, 0.8);
  padding: 0.5rem 1rem;
  border-radius: 2px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.ena_tutorial_banner a {
  color: rgba(77, 77, 77, 0.8);
}

/* Styling of dashboard cards filter items */
.filter-dashboards-items label {
  color: rgba(41, 89, 134, 0.85);
  font-weight: 500;
  cursor: pointer;
}

.filter-dashboards-items label:hover {
  color: rgba(41, 89, 134, 1);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
}

.filter-dashboards-items input:checked ~ label {
  color: rgba(41, 89, 134, 1);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
}

/*
* Styling of badges to indicate topics
*/

.topic_badge_small {
  color: #fff;
  background-color: #295986;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.topic_badge_large {
  color: #fff;
  background-color: #295986;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 0.95em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.topic_badge_small a,
.topic_badge_large a {
  color: #fff;
  text-decoration: none;
}

.dataset_badge_data {
  background-color: #d7bde2;
  color: #000000;
  font-weight: 500;
  padding: 2px 5px 4px;
  vertical-align: 0.14em;
  border-radius: 3px;
}

.dataset_badge_code {
  background-color: #f9e79f;
  color: #000000;
  font-weight: 500;
  padding: 2px 5px 4px;
  vertical-align: 0.14em;
  border-radius: 3px;
}

.dataset_badge_protocol {
  background-color: #aed6f1;
  color: #000000;
  font-weight: 500;
  padding: 2px 5px 4px;
  vertical-align: 0.14em;
  border-radius: 3px;
}

.latest-news {
  background-color: #d4de27;
  color: #1a1c1a;
  vertical-align: 0.15em;
  margin-left: 2px;
}

.card-badge {
  background-color: #55585a;
  color: white;
}

/*
* Our own button
*/

.btn_details {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.55rem;
  font-size: 0.9rem;
  line-height: 1;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn_details_primary {
  color: #fff;
  background-color: #4770b1;
  border-color: #4770b1;
}

.btn-blue {
  color: #fff;
  background-color: #295986;
}

.btn-blue:hover {
  color: #fff;
  background-color: #2e68a5;
}

a.btn-white-black {
  padding: 2px 6px;
  color: #1a1c1a;
  background-color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  border-radius: 3px;
}

a.btn-white-black:hover {
  text-decoration: none;
  box-shadow: 0px 0px 5px #55585a;
}

div.cpp-query-links a {
  padding: 5px 10px;
  color: #3b6fb6;
  font-weight: bold;
  background-color: #FFF;
  box-shadow: 5px 5px 1px 1px #193f90;
  border: #3b6fb6 solid 5px;
  margin: 0px 15px 15px 0px;
  display: inline-block;
  transition: transform 0.1s, box-shadow 0.1s;
}

div.cpp-query-links a:hover {
  text-decoration: none;
  transform: translate(4px, 4px);
  box-shadow: 1px 1px 1px 1px #193f90;
}

/*
* Our own backgrounds
*/

.bg-dashboard {
  height: 100%;
  background-color: #fff;
  border-color: #295986;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}

.bg-dashboard:hover {
  box-shadow: 0px 0px 4px #55585a;
}

.bg-dashboard-title {
  background-color: #295986;
}

.bg-dashboard-title a {
  color: #fff;
}

.bg-highlight {
  height: 100%;
  padding: 16px 10px 12px;
  background-color: #d8d8d8;
  border-radius: 3px;
}

.bg-highlight:hover {
  box-shadow: 0px 0px 3px #55585a;
}

.bg-plp {
  height: 100%;
  padding: 16px 10px;
  background-color: #d8d8d8;
  border-radius: 3px;
}

.bg-plp:hover {
  box-shadow: 0px 0px 3px #55585a;
}

.bg-home-topics {
  padding: 12px 16px 4px;
  background-color: #d8d8d8;
}

.bg-home-topics-btn {
  padding: 5px 10px;
  color: #fff;
  background-color: #4770b1;
  box-shadow: 3px 3px 1px 1px #292986;
  border-radius: 3px;
  margin: 0px 10px 12px 0px;
  display: inline-block;
}

.bg-home-topics-btn:hover {
  color: #1a1c1a;
  background-color: #d4de27;
}

.bg-dataset-container {
  margin: 0px;
  padding: 10px 0px;
  border-style: solid;
  border-color: #4770b1;
  border-width: 0px;
  border-radius: 3px;
}

.bg-dataset {
  padding: 3px 6px 4px 12px;
  color: #fff;
  background-color: #4770b1;
  border-radius: 3px;
  box-shadow: 3px 3px 1px 1px#292986;
}

.bg-dataset:hover {
  border-style: solid;
  border-color: #4770b1;
  border-width: 0.5px;
}

.bg-dataset-container a {
  text-decoration: none;
}

.bg-ppn {
  background-color: #fff;
  border: #295986 1px solid;
  padding: 8px 16px 0px;
}

.bg-biobank {
  margin: 0px;
  padding: 16px 0px;
  background-color: #d8d8d8;
  border-radius: 3px;
}

.bg-see-all-link {
  padding: 5px 0px;
  border-radius: 2px;
  background-color: #d8d8d8;
  text-align: center;
  font-size: 0.95rem;
}

.bg-card {
  height: 100%;
  background-color: #f8f9fa;
  padding: 6px 12px 0px;
  border-width: 0.01px;
  border-style: solid;
  border-radius: 3px;
  border-color: #ccc;
}

.bg-bussiness-card {
  height: 100%;
  background-color: #f8f9fa;
  padding: 10px;
  border-width: 0.01px;
  border-style: solid;
  border-radius: 3px;
  border-color: #ccc;
}

table.no-last-row-border > tbody > tr:last-child {
  border-color: #fff;
}

/*
* Customed horizontal divder, taken from the net
*/

hr.faded {
  border: 0;
  height: 3px;
  margin: 20px 0;
  position: relative;
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.65) 50%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(10%, rgba(0, 0, 0, 0)),
    color-stop(50%, rgba(0, 0, 0, 0.65)),
    color-stop(90%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.65) 50%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.65) 50%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.65) 50%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 100%
  ); /* IE10+ */
  background: linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.65) 50%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

hr.faded:before {
  content: "";
  display: block;
  border-top: solid 1.5px #f9f9f9;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

/* Specifically for the images on the topics overview page */

.topics-image {
  margin-top: 0.5rem;
}

/* iframe size for privacy opt out on different devices */

iframe#matoOpOut {
  padding: 5px 10px;
  background-color: #f8f9fa;
  width: 100%;
  height: 120px;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 3px;
  border-color: #ccc;
}

@media (max-width: 1199px) {
  iframe#matoOpOut {
    height: 135px;
  }
}
@media (max-width: 767px) {
  iframe#matoOpOut {
    height: 165px;
  }
}
@media (max-width: 475px) {
  iframe#matoOpOut {
    height: 200px;
  }
}
@media (max-width: 371px) {
  iframe#matoOpOut {
    height: 250px;
  }
}
/* Search */
/* search results area */
#search-results {
  font-size: 1.175em;
  background-color: rgba(229, 229, 229, 0.5);
}

#search-results a:hover {
  font-size: 1.01em;
  transition: 0.1s;
  text-decoration: none;
}

#search-results mark {
  padding: 0;
}

.text-muted-dark {
  color: rgba(0, 0, 0, 0.65);
}
