{{ $displayed_in_homepage := .IsHome }}
{{ $currentPage := path.Split (path.Clean .RelPermalink) }}
{{ $homepage_dashboards := slice "post_covid" "vaccines" "wastewater" }}

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-2 {{ if not $displayed_in_homepage }}g-lg-3{{ end }}">
  {{ range .Site.Menus.dashboard_menu }}
    {{ if or 
       (eq $currentPage.File "dashboards")
       (and ($displayed_in_homepage) (in $homepage_dashboards .Identifier))
       (and (eq $currentPage.Dir "/dashboards/topics/") (in (apply .Page.Params.dashboards_topics "urlize" ".") $currentPage.File))
    }}
      <div class="col">
        <div class="bg-card">
          <img style="margin-top:0.5rem"
               src="{{ with .Page.Params.banner }}{{ . }}{{ else }}{{ "/img/plp_default.png" }}{{ end }}">
          {{ range (.Page.GetTerms "dashboards_topics") }}
              <span class="topic_badge_small
              {{ if eq .LinkTitle "COVID-19"}}topic_badge_covid
              {{ else if eq .LinkTitle "Infectious diseases"}}topic_badge_infectious_d
              {{ else if eq .LinkTitle "Antibiotic resistance"}}topic_badge_antib_r
              {{ else if eq .LinkTitle "Mpox"}}topic_badge_mpox
              {{ else }}topic_badge_general
              {{ end }} "><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></span>
          {{ end }}
          <h6><a href="{{ .Page.RelPermalink }}">{{ .Name }}</a></h6>
          <p>{{ .Page.Description }}</p>
        </div>
      </div>
    {{ end }}
  {{ end }}
</div>
