<footer class="container border-top mt-5 mb-2">
  <div class="row border-bottom">
    
    <!-- About section -->
    <div class="col-md px-5 px-md-2">
      <h2 class="small text-uppercase text-muted">{{ if eq $.Site.Language.LanguageName "Svenska" }}Om
        dataportalen{{ else }}About{{ end }}</h2>
      <ul class="list-unstyled mb-1">
        {{ range .Site.Menus.footer_about }}
        <li><a href="{{ .Page.RelPermalink }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </div>
    
    <!-- Other section for English page -->
    {{ if eq $.Site.Language.LanguageName "English" }}
    <div class="col-md px-5 px-md-2">
      <h2 class="small text-uppercase text-muted">Other sections</h2>
      <ul class="list-unstyled">
        <li><a href="/resources/">Pandemic Preparedness</a></li>
        <li><a href="/pathogens/">Emerging Pathogens</a></li>
        {{ range .Site.Menus.research_menu }}
        <li><a href="{{ .Page.RelPermalink }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
    
    <!-- Data and follow section -->
    <div class="col-md px-5 px-md-2">
      <h2 class="small text-uppercase text-muted">
        {{ if eq $.Site.Language.LanguageName "Svenska" }}Sektioner{{ else }}Data{{ end }}</h2>
      <ul class="list-unstyled mb-0">
        {{ if eq $.Site.Language.LanguageName "English" }}
        {{ range .Site.Menus.data_menu }}
        <li><a href="{{ .Page.RelPermalink }}">{{ .Name }}</a></li>
        {{ end }}
        <li><a href="/dashboards/">Dashboards</a></li>
        <li><a href="/biobanks/">Sample collection database</a></li>
        {{ end }}
        {{ if eq $.Site.Language.LanguageName "Svenska" }}
        <li><a href="/sv/dashboards/">Dashboards</a></li>
        <li><a href="/sv/biobanks/">Provsamlingsregistret</a></li>
        {{ end }}
      </ul>
      {{ if eq $.Site.Language.LanguageName "Svenska" }}</div><div class="col-md px-5 px-md-2">{{ end }}
      <h2 class="small text-uppercase text-muted">{{ if eq $.Site.Language.LanguageName "Svenska" }}Följ
        oss{{ else }}Connect{{ end }}</h2>
      <div>
        <a style="font-size:1.75em;" target="_blank" aria-label="Datacentre on LinkedIn"
          href="https://linkedin.com/company/scilifelab-data-centre"><i class="bi bi-linkedin"></i></a>
        <a class="ps-2" style="font-size:1.75em;" target="_blank" aria-label="Datacentre on Twitter" 
          href="https://twitter.com/scilifelab_DC"><i class="bi bi-twitter-x"></i></a>
        <a class="ps-2" style="font-size:1.90em;" target="_blank" aria-label="Datacentre email link" 
          href="mailto:pathogens@scilifelab.se"><i class="bi bi-envelope-fill"></i></a>
      </div>
    </div>
    
    <!-- Host and partner logo -->
    <div class="col-md px-5 px-md-2">
      <div>
        <a class="d-block">
          <img style="max-height: 200px" src="/img/logos/complete_footer.png" alt="SciLifeLab, Knut and Alice Wallenberg Foundation and SSF Logos">
        </a>
      </div>
    </div>

  </div>
  
  <!-- The hugo env value is passed via github action, during image building -->
  {{ $env_info := split hugo.Environment "-" }}
  {{ $git_sha := index $env_info 1 }}
  {{ $code_version := cond (strings.HasPrefix $git_sha "v") $git_sha (substr $git_sha 0 7) }}
  <div class="d-flex justify-content-center small mt-2">
    <a target="_blank"
       href="https://github.com/ScilifelabDataCentre/pathogens-portal{{ with $code_version }}/tree/{{ $code_version }}{{ end }}">
      {{ if eq $.Site.Language.LanguageName "Svenska" }}Källkod finns tillgänglig på GitHub{{ else }}Website code is available on Github{{ end }} 
    </a>
      {{ with $code_version }}<span class="ps-1 text-muted">({{ $code_version }})</span>{{ end }}
  </div>
</footer>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["disableCookies"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function () {
    var u = "//matomo.dc.scilifelab.se/";
    _paq.push(['setTrackerUrl', u + 'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
    g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
  })();
</script>
<!-- End Matomo Code -->
