<footer class="container border-top mt-5 mb-5">
  <div class="row border-bottom small text-muted">
    <div class="col-md">
      <p class="mb-0">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).enquire_email_footer_dc }}: <a href="mailto:datacentre@scilifelab.se">datacentre@scilifelab.se</a></p>
    </div>
    <div class="col-md">
      <p class="mb-0">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).enquire_email_footer_bioinformatics }}: <a href="https://nbis.se/support/">https://nbis.se/support/</a></p>
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col-md">
      {{ range .Site.Menus.main }}
        {{ if eq .Identifier "data_types" }}
          <h2 class="small text-uppercase text-black-50">{{ .Name }}</h2>
          <ul class="list-unstyled">
            {{ range .Children }}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        {{ end }}
      {{ end }}
    </div>
    <div class="col-md">
      {{ range .Site.Menus.main }}
        {{ if eq .Identifier "support_services" }}
          <h2 class="small text-uppercase text-black-50">{{ .Name }}</h2>
          <ul class="list-unstyled">
            {{ range .Children }}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        {{ end }}
      {{ end }}
    </div>
    <div class="col-md">
      <h2 class="small text-uppercase text-black-50">About</h2>
      <ul class="list-unstyled mb-1">
      {{ range .Site.Menus.top_nav }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
      </ul>
      <ul class="list-unstyled border-top pt-1 nav-languages">
      {{ if .IsTranslated }}
        {{ range .AllTranslations }}
          <li><a href="{{ relURL .Permalink }}" lang="{{ .Language.Lang }}">{{ .Language.LanguageName }} <img src="/img/flag-{{ .Language.Lang }}.svg" alt=""></a></li>
        {{ end }}
      {{ else }}
        {{ range $.Site.Home.AllTranslations }}
          <li><a href="{{ relURL .Permalink }}" lang="{{ .Language.Lang }}">{{ .Language.LanguageName }} <img src="/img/flag-{{ .Language.Lang }}.svg" alt=""></a></li>
        {{ end }}
      {{ end }}
      </ul>
    </div>
    <div class="col-md text-center">
      <a class="d-block my-4" href="https://www.scilifelab.se"><img src="/img/logos/scilifelab-logo.svg" alt="SciLifeLab"></a>
      <a class="d-block my-4" href="https://elixir-europe.org/about-us/who-we-are/nodes/sweden"><img src="/img/logos/elixir-se-logo.png" alt="Elixir Sweden"></a>
    </div>
  </div>
  <div class="row footer-lower-row">
    <div class="col-md-3 p-2">
      <a href="https://www.scilifelab.se/data/">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).support_feedback }}</a>
    </div>
    <div class="col-md-3 p-2">
      <a href='{{ "/privacy" | relLangURL }}'>{{ (index $.Site.Params.lang_strings .Site.Language.Lang).privacy }}</a>
    </div>
  </div>
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/471b59d3f8.js" crossorigin="anonymous"></script>
