<nav class="navbar navbar-expand-md navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="img/logo/CV19DP_logo_oneliner_SWE.svg" alt="COVID-19 Data Portal Sweden">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="col-mdlapse" data-target="#navbarCollapseBottom" aria-controls="navbarCollapseBottom" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-mdlapse navbar-collapse" id="navbarCollapseTop">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#">EU Hub</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Submit Data</a></li>
      </ul>
    </div>
  </div>
  </nav>
  <nav class="navbar navbar-expand-md navbar-light bg-white pt-0 mb-4">
  <div class="container">
    <div class="col-mdlapse navbar-collapse" id="navbarCollapseBottom">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="#">Sequences</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Expression</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Proteins</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Structures</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Literature</a></li>
      </ul>
      <hr class="d-md-none">
      <ul class="navbar-nav d-md-none">
        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#">EU Hub</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Submit Data</a></li>
      </ul>
    </div>
  </div>
</nav>
