<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Site meta -->
  <title>{{ if ne .Title "Home"}}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  <meta name="description" content='{{ if .IsHome }}{{ .Param "description" }}{{ else }}{{ .Description }}{{ end }}'>
  {{ if .IsTranslated }}{{ range .Translations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ relURL .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}{{ end }}
  <meta http-equiv="content-language" content="{{ .Site.Language.Lang }}">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Covid Portal CSS -->
  <link rel="stylesheet" href="/css/styles.css">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <!-- Data tables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">

  <!-- Select2 -->
  {{ if eq .Section "biobanks" }}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  {{ end }}

  <!-- reCAPTCHA -->
  {{ if eq .Page.Section "contact"}}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  {{ end }}

  <!-- plotly -->
  {{ if or (eq .Page.RelPermalink "/projects/dashboard/") (eq .Page.RelPermalink "/sv/projects/dashboard/")}}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  {{ end }}

  <!-- Openlayers -->
  {{ if or (eq .Page.RelPermalink "/data_types/environment/wastewater/") (eq .Page.RelPermalink "/sv/data_types/environment/wastewater/")}}
  <link rel="stylesheet" href="https://openlayers.org/en/v5.3.0/css/ol.css" type="text/css">
  {{ end }}

  <!-- imjoy -->
  {{ with .Params.imjoy }}
  <!-- <script src="http://localhost:8080/imjoy-loader.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/imjoy-core@0.13.65/dist/imjoy-loader.min.js"></script>
  <script>
    // Convert a string to a JS function
    function parseFunction(str) {
      const is_async = str.trim().startsWith('async'),
        fn_body_idx = str.indexOf('{'),
        fn_body = str.substring(fn_body_idx + 1, str.lastIndexOf('}')),
        fn_declare = str.substring(0, fn_body_idx),
        fn_params = fn_declare.substring(fn_declare.indexOf('(') + 1, fn_declare.lastIndexOf(')')),
        args = fn_params.split(',');
      args.push(fn_body);

      if (is_async) {
        const AsyncFunction = Object.getPrototypeOf(async function () {}).constructor;

        function Fn() {
          return AsyncFunction.apply(this, args);
        }
        Fn.prototype = AsyncFunction.prototype;
      } else {
        function Fn() {
          return Function.apply(this, args);
        }
        Fn.prototype = Function.prototype;
      }
      return new Fn();
    }
    const imjoyTemplates = JSON.parse("{{ . | jsonify }}");
    // Define a config object for the ImJoyBasicApp
    // More details here: https://github.com/imjoy-team/imjoy-core/blob/master/docs/integration.md#api-options
    const config = {
      version: '0.13.65',
      // base_url: "http://localhost:8080/",
      // debug: true,
      process_url_query: true,
      show_window_title: false,
      show_progress_bar: false,
      show_empty_window: false,
      // menu_container: "menu-container",
      // menu_style: { position: "absolute", right: 0, top: "2px" },
      // window_manager_container: "window-container",
      // window_style: {
      //   width: '100%',
      //   height: '100vh'
      // },
    }
    loadImJoyBasicApp(Object.assign(config, imjoyTemplates.config || {})).then(async app => {
      window.api = app.imjoy.api;
      window.imjoy = {}
      // Parsing functions defined in the page and making them available through the `window.imjoy` object
      Object.keys(imjoyTemplates).map(function (key, index) {
        if (key !== 'config') window.imjoy[key] = parseFunction(imjoyTemplates[key]);
      });
      // run the startup function
      if(window.imjoy.startup){
        window.imjoy.startup()
      }
    });
  </script>
  {{ end }}

</head>
