{{ $highlights := where (where $.Site.Pages "Section" "highlights" ) "Kind" "page" }}
{{ $currentPage := path.Split (path.Clean .RelPermalink) }}
{{ $displayedInHome := .IsHome }}
{{ if $displayedInHome }}
  {{ $highlights = first 3 $highlights }}
{{ end }}

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-2 {{ if not $displayedInHome }}g-lg-3{{ end }}">
{{ range $highlights }}
  <!-- If its a topics highlight page, display only relavant DH-->
  {{ if or (ne $currentPage.Dir "/highlights/topics/") (in (apply .Params.highlights_topics "urlize" ".") $currentPage.File) }}
  <div class="col">
    <div class="bg-card">
      <img style="margin-top:0.5rem" src="{{ .Params.banner }}" alt="{{ .Title }}">
      {{ range (.GetTerms "highlights_topics") }}
          <span class="topic_badge_small
          {{ if eq .LinkTitle "COVID-19"}}topic_badge_covid
          {{ else if eq .LinkTitle "Infectious diseases"}}topic_badge_infectious_d
          {{ else if eq .LinkTitle "Antibiotic resistance"}}topic_badge_antib_r
          {{ else if eq .LinkTitle "Enteric viruses"}}topic_badge_enteric_v
          {{ else }}topic_badge_general
          {{ end }} "><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></span>
      {{ end }}
      <h6><a href="{{ .RelPermalink }}">{{ .Title }}</a></h6>
      <p class="small text-muted">{{.Date.Format "2006-01-02"}}</p>
      <p>{{ .Summary }}
        {{ if not $displayedInHome }}
        <br><a href="{{ .RelPermalink }}">
          {{ (index $.Site.Params.lang_strings .Site.Language.Lang).readmore_text }}
          <i class="bi bi-arrow-right-circle-fill"></i>
        </a>
        {{ end }}
      </p>
    </div>
  </div>
  {{ end }}
{{ end }}
</div>
