<nav class="navbar navbar-expand-lg navbar-light bg-white pb-0">
  <div class="container">
    <a class="navbar-brand" href="{{ relLangURL .Site.BaseURL }}">
      <img class="mt-2" src="/img/site_logo/eml_pathogens_logo.svg" alt="Pathogens Portal Sweden">
    </a>
    <a class="navbar-brand" href="https://www.scilifelab.se">
      <img class="p-1" src="/img/site_logo/SciLifeLab_logo.svg" alt="SciLifeLab Home">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapseBottom"
      aria-controls="navbarCollapseBottom" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex align-items-end flex-column collapse navbar-collapse">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto navbar-top">
          {{ range .Site.Menus.navbar_top }}
          <li class="nav-item"><a class="nav-link {{ .Post }}" href="{{ .Page.RelPermalink }}">{{ .Pre }}{{ .Name }}</a>
          </li>
          {{ end }}
          {{ if .IsTranslated }}
          {{ range .AllTranslations }}
          <li class="nav-item"><a class="nav-link" href="{{ relURL .Permalink }}"><span
                lang="{{ .Language.Lang }}">{{ .Language.Lang }} <img src="/img/flag-{{ .Language.Lang }}.svg"
                  alt=""></span></a></li>
          {{ end }}
          {{ else if .Parent.IsTranslated }}
          <li class="nav-item"><a class="nav-link" href="{{ relURL .Permalink }}"><span
                lang="{{ .Language.Lang }}">{{ .Language.Lang }} <img src="/img/flag-{{ .Language.Lang }}.svg"
                  alt=""></span></a></li>
          <li class="nav-item"><a class="nav-link" href="/sv{{ relURL .Parent.Permalink }}"><span lang="sv">sv <img
                  src="/img/flag-sv.svg" alt=""></span></a></li>
          {{ else if .Parent.Parent.IsTranslated }}
          <li class="nav-item"><a class="nav-link" href="{{ relURL .Permalink }}"><span
                lang="{{ .Language.Lang }}">{{ .Language.Lang }} <img src="/img/flag-{{ .Language.Lang }}.svg"
                  alt=""></span></a></li>
          <li class="nav-item"><a class="nav-link" href="/sv{{ relURL .Parent.Parent.Permalink }}"><span lang="sv">sv
                <img src="/img/flag-sv.svg" alt=""></span></a></li>
          {{ else }}
          {{ range $.Site.Home.AllTranslations }}
          <li class="nav-item navbar-languages"><a class="nav-link" href="{{ relURL .Permalink }}"><span
                lang="{{ .Language.Lang }}">{{ .Language.Lang }} <img src="/img/flag-{{ .Language.Lang }}.svg"
                  alt=""></span></a></li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          {{ range .Site.Menus.top_actions }}
          <li class="nav-item"><a class="nav-link highlight" href="{{ .Page.RelPermalink }}">{{ .Pre }}{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- Expandable top navigation menu -->
<nav class="navbar navbar-expand-lg navbar-light pt-0">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarCollapseBottom">
      <ul class="navbar-nav d-lg-none nav-languages">
        {{ if .IsTranslated }}
        {{ range .AllTranslations }}
        <li class="nav-item"><a class="nav-link" href="{{ relURL .Permalink }}"
            lang="{{ .Language.Lang }}">{{ .Language.LanguageName }} <img src="/img/flag-{{ .Language.Lang }}.svg"
              alt=""></a></li>
        {{ end }}
        {{ else if .Parent.IsTranslated }}
        <li class="nav-item"><a class="nav-link" href="{{ relURL .Permalink }}"
            lang="{{ .Language.Lang }}">{{ .Language.LanguageName }} <img src="/img/flag-{{ .Language.Lang }}.svg"
              alt=""></a></li>
        <li class="nav-item"><a class="nav-link" href="/sv{{ relURL .Parent.Permalink }}" lang="sv">Svenska <img
              src="/img/flag-sv.svg" alt=""></a></li>
        {{ else if .Parent.Parent.IsTranslated }}
        <li class="nav-item"><a class="nav-link" href="{{ relURL .Permalink }}"
            lang="{{ .Language.Lang }}">{{ .Language.LanguageName }} <img src="/img/flag-{{ .Language.Lang }}.svg"
              alt=""></a></li>
        <li class="nav-item"><a class="nav-link" href="/sv{{ relURL .Parent.Parent.Permalink }}" lang="sv">Svenska <img
              src="/img/flag-sv.svg" alt=""></a></li>
        {{ else }}
        {{ range $.Site.Home.AllTranslations }}
        <li class="nav-item"><a class="nav-link" href="{{ relURL .Permalink }}"
            lang="{{ .Language.Lang }}">{{ .Language.LanguageName }} <img src="/img/flag-{{ .Language.Lang }}.svg"
              alt=""></a></li>
        {{ end }}
        {{ end }}
      </ul>
      <hr class="d-lg-none">
      <ul class="navbar-nav d-lg-none">
        {{ range .Site.Menus.top_actions }}
        <li class="nav-item"><a class="nav-link highlight" href="{{ .Page.RelPermalink }}">{{ .Pre }}{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
      <hr class="d-lg-none">
    </div>
  </div>
</nav>

<!-- Main menu, English version -->
{{ if eq $.Site.Language.LanguageName "English" }}
<div class="container mb-1">
  <div class="row main_menu">
    <div class="col-lg-5">
      <div class="row">
        <div class="col main_menu_item">
          <i class="bi bi-table"></i>
          <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink"
             data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">Available Data & Highlights</a>
            <div class="dropdown-menu main_menu_item_sub" aria-labelledby="navbarDropdownMenuLink">
              <div class="dropend">
                <a class="dropdown-item dropdown-toggle m-0" href="#" id="navbarDropdownMenuLink"
                   data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Available Datasets</a>
                <div class="dropdown-menu main_menu_item_sub" aria-labelledby="navbarDropdownMenuLink">
                  {{ range .Site.Menus.datasets_menu }}
                  <a class="dropdown-item m-0" href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
                  {{ end }}
                </div>
              </div>
              <a class="dropdown-item m-0" href="/highlights/">Data Highlights</a>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col main_menu_item">
          <i class="bi bi-graph-up"></i>
          <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-auto-close="outside"
             data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data Dashboards</a>
          <div class="dropdown-menu main_menu_item_sub" aria-labelledby="navbarDropdownMenuLink">
            {{ range .Site.Menus.dashboard_menu }}
            <a class="dropdown-item m-0" href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col main_menu_item">
          <i class="bi bi-journal-text"></i> <a href="/data-management/">Research Data Management</a>
        </div>
      </div>
      <div class="row">
        <div class="col main_menu_item">
          <i class="bi bi-collection"></i> <a href="/biobanks/">Sample Collection Database (Biobanks)</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-3 mt-lg-0 vert-line-right">
      <div class="row">
        <div class="col main_menu_item">
          <i class="bi bi-grid-fill"></i> <a href="/resources/">Pandemic Preparedness</a>
        </div>
      </div>
      <div class="row">
        <div class="col main_menu_item">
          <i class="bi bi-clipboard-data"></i> <a href="/pathogens/">Emerging Pathogens</a>
        </div>
      </div>
      <div class="row">
        <div class="col main_menu_item">
          <i class="bi bi-inboxes-fill"></i>
          <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-auto-close="outside"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Research & Funding</a>
          <div class="dropdown-menu main_menu_item_sub" aria-labelledby="navbarDropdownMenuLink">
            {{ range .Site.Menus.research_menu }}
            <a class="dropdown-item m-0" href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col main_menu_item">
          <i class="bi bi-calendar-event"></i> <a href="/events/">Events & Training</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 my-3 my-lg-0">
      <div class="topics_title">Topics:</div>
      {{ range $ind, $topic := .Site.Menus.topics_menu }}
      <span class="me-2 mb-2 topic_badge_large"><a href="{{ .Page.RelPermalink }}">{{ .Name }}</a></span>
      {{ if eq (mod (add $ind 1) 2) 0 }}<br>{{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}

<!-- Main menu, Swedish version -->
{{ if eq $.Site.Language.LanguageName "Svenska" }}
<div class="container mb-1">
  <div class="row main_menu">
      <div class="col-md-auto main_menu_item">
        <i class="bi bi-window-stack"></i>
        <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink"
         data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">Data Dashboards</a>
        <div class="dropdown-menu main_menu_item_sub" aria-labelledby="navbarDropdownMenuLink">
          {{ range .Site.Menus.dashboard_menu }}
            <a class="dropdown-item m-0" href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
          {{ end }}
        </div>
      </div>
      <div class="col-md-auto main_menu_item">
        <i class="bi bi-journal-text"></i> <a href="/sv/biobanks/">Provsamlingsregistret</a>
      </div>
  </div>
</div>
{{ end }}
