<nav class="navbar navbar-expand-md navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" href="{{ relLangURL .Site.BaseURL }}">
      <img src="/img/site_logo/CV19DP_logo_oneliner_SWE.svg" alt="COVID-19 Data Portal Sweden">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapseBottom" aria-controls="navbarCollapseBottom" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapseTop">
      <ul class="navbar-nav ml-auto">
        {{ range .Site.Menus.top_nav }}
          <li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
      <ul class="navbar-nav navbar-languages">
        {{ if .IsTranslated }}
          {{ range .AllTranslations }}
            <li class="nav-item"><a class="nav-link" href="{{ relURL .Permalink }}"><span lang="{{ .Language.Lang }}">{{ .Language.Lang }} <img src="/img/flag-{{ .Language.Lang }}.svg" alt=""></span></a></li>
          {{ end }}
        {{ else }}
          {{ range $.Site.Home.AllTranslations }}
            <li class="nav-item"><a class="nav-link" href="{{ relURL .Permalink }}"><span lang="{{ .Language.Lang }}">{{ .Language.Lang }} <img src="/img/flag-{{ .Language.Lang }}.svg" alt=""></span></a></li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-md navbar-light pt-0">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarCollapseBottom">
      <ul class="navbar-nav mr-auto navbar-primary-links">
        {{ range .Site.Menus.main }}
          {{ if eq .Identifier "data_types" }}
            {{ range .Children }}
              <li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          {{ end }}
        {{ end }}
      </ul>
      <hr class="d-md-none">
      <ul class="navbar-nav d-md-none">
        {{ range .Site.Menus.top_nav }}
          <li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
      <hr class="d-md-none">
      <ul class="navbar-nav d-md-none nav-languages">
        {{ if .IsTranslated }}
          {{ range .AllTranslations }}
            <li class="nav-item"><a class="nav-link" href="{{ relURL .Permalink }}" lang="{{ .Language.Lang }}">{{ .Language.LanguageName }} <img src="/img/flag-{{ .Language.Lang }}.svg" alt=""></a></li>
          {{ end }}
        {{ else }}
          {{ range $.Site.Home.AllTranslations }}
            <li class="nav-item"><a class="nav-link" href="{{ relURL .Permalink }}" lang="{{ .Language.Lang }}">{{ .Language.LanguageName }} <img src="/img/flag-{{ .Language.Lang }}.svg" alt=""></a></li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
