<!-- Main contet start further below, this is to compute respective language page -->

{{ $page_lang := dict }}
{{ if .IsTranslated }}
  {{ range .AllTranslations }}
    {{ $page_lang = merge $page_lang (dict .Language.Lang .RelPermalink) }}
  {{ end }}
{{ else if .Parent.IsTranslated }}
  {{ $page_lang = merge $page_lang (dict "en" .RelPermalink "sv" (printf "%s%s" "/sv" .Parent.RelPermalink)) }}
{{ else if .Parent.Parent.IsTranslated }}
  {{ $page_lang = merge $page_lang (dict "en" .RelPermalink "sv" (printf "%s%s" "/sv" .Parent.Parent.RelPermalink)) }}
{{ else }}
  {{ $page_lang = merge $page_lang (dict "en" "/" "sv" "/sv/") }}
{{ end }}

<!-- MAIN CONTENT -->

<!-- Top navigation bar with logo and menu beside the logo -->
<nav class="navbar navbar-expand-lg navbar-light bg-white pb-0">
  <div class="container">
    <!-- Logo -->
    <div class="d-flex navbar-brand">
      <a href="{{ relLangURL .Site.BaseURL }}">
        <img class="mt-1 me-lg-3" src="/img/site_logo/swe_pathogens_logo.svg" alt="Pathogens Portal Sweden">
      </a>
      <a href="https://www.scilifelab.se">
        <img class="px-2 py-lg-1" src="/img/site_logo/SciLifeLab_logo.svg" alt="SciLifeLab Home">
      </a>
    </div>
    
    <!-- Hamburger button, shows up only on smaller screen-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapseBottom"
      aria-controls="navbarCollapseBottom" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Navigation links beside logo, visible only on biger screen -->
    <div class="d-flex flex-column align-items-end collapse navbar-collapse">

      <!-- Top navbar list i.e. About, Contact, Language, etc -->
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto navbar-top">
          {{ range .Site.Menus.navbar_top }}
          <li class="nav-item"><a class="nav-link" href="{{ .Page.RelPermalink }}">{{ .Name | safeHTML}}</a></li>
          {{ end }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-globe2"></i> {{ if eq $.Site.Language.LanguageName "English" }} EN {{ else }} SV {{ end }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end nav-languages">
              <li>
                <a class="dropdown-item" href="{{ $page_lang.en }}">
                  <i class="bi bi-{{ if eq .Language.Lang "en" }}check-{{ end }}circle"></i>
                  <span lang="{{ .Language.Lang }}"> English</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ $page_lang.sv }}">
                  <i class="bi bi-{{ if eq .Language.Lang "sv" }}check-{{ end }}circle"></i>
                  <span lang="sv"> Svenska</span>
                </a>
              </li>
            </ul>
          </li>        
        </ul>
      </div>

    </div>
  </div>
</nav>
<!-- ENDS HERE - Top navigation bar with logo and menu beside the logo -->

<!-- Expandable top navigation menu, controlled by above defined hamburger button, only visible on small screens -->
<nav class="navbar navbar-expand-lg navbar-light pt-0 pb-1">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarCollapseBottom">

      <!-- Top nav list i.e. About, Contact, Language, etc -->
      <ul class="d-lg-none navbar-nav nav-top">
        <li class="nav-item py-2 dropdown languages-mobile">
          <a href="#languageMobile" class="py-2" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="languageMobile">
            <i class="bi bi-globe2"></i> {{ if eq $.Site.Language.LanguageName "English" }} EN {{ else }} SV {{ end }}
            <i class="bi bi-caret-down-fill small"></i>
          </a>
          <div class="collapse ps-2 pt-1" id="languageMobile">
              <a class="dropdown-item" href="{{ $page_lang.en }}">
                <i class="bi bi-{{ if eq .Language.Lang "en" }}check-{{ end }}circle"></i>
                <span lang="{{ .Language.Lang }}"> English</span>
              </a>
              <a class="dropdown-item" href="{{ $page_lang.sv }}">
                <i class="bi bi-{{ if eq .Language.Lang "sv" }}check-{{ end }}circle"></i>
                <span lang="sv"> Svenska</span>
              </a>
          </div>
        </li>
        {{ range .Site.Menus.navbar_top }}
        <li class="nav-item"><a class="nav-link {{ .Post }}" href="{{ .Page.RelPermalink }}">{{ .Pre }}{{ .Name | safeHTML}}</a>
        </li>
        {{ end }}
      </ul>
      <hr class="d-lg-none">
      
      <!-- Main navigation menu for all pages, English site. Visible only in smaller devices -->
      {{ if eq $.Site.Language.LanguageName "English" }}
      <div class="d-lg-none">
        <!-- Data Highlights & Editorials -->
        <div class="main_menu_item pb-1">
          <a href="#highlightAndEditorialMobile" data-bs-toggle="collapse"  role="button"
             aria-expanded="false" aria-controls="highlightAndEditorialMobile">
             <i class="bi bi-pencil-square"></i> Data Highlights & Editorials <i class="bi bi-caret-down-fill small"></i>
           </a>
            <div class="collapse main_menu_item_sub ps-4" id="highlightAndEditorialMobile">
              <a class="d-block" href="/highlights/">Data Highlights</a>
              <a class="d-block" href="/editorials/">Editorials</a>
            </div>
        </div>
        <!-- Data Dashboards -->
        <div class="main_menu_item pb-1">
          <a href="#dataDashboardsMobile" data-bs-toggle="collapse"  role="button"
             aria-expanded="false" aria-controls="dataDashboardsMobile">
             <i class="bi bi-graph-up"></i> Data Dashboards <i class="bi bi-caret-down-fill small"></i>
          </a>
          <div class="collapse main_menu_item_sub ps-4" id="dataDashboardsMobile">
            {{ range .Site.Menus.dashboard_menu }}
            <a class="d-block" href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </div>
        <!-- Share & Access Data -->
        <div class="main_menu_item pb-1">
          <a href="#shareAndAccessDataMobile" data-bs-toggle="collapse"  role="button"
             aria-expanded="false" aria-controls="shareAndAccessDataMobile">
            <i class="bi bi-archive"></i> Share & Access Data <i class="bi bi-caret-down-fill small"></i>
          </a>
          <div class="collapse main_menu_item_sub ps-4" id="shareAndAccessDataMobile">
            <a class="d-block" href="/share-data/">Share data</a>
            <a class="d-block" href="/datasets/all/">Available datasets</a>
            <a class="d-block" href="/dashboards/">Data dashboards</a>
            <a class="d-block" href="/data-sources/">Data sources & repositories</a>
            <a class="d-block" href="/biobanks/">Sample collection database</a>
            <a class="d-block" href="/data-management/">Research data management</a>
          </div>
        </div>
        <!-- Research & Funding -->
        <div class="main_menu_item pb-1">
          <a href="#researchAndFundingMobile" data-bs-toggle="collapse"  role="button"
             aria-expanded="false" aria-controls="researchAndFundingMobile">
            <i class="bi bi-inboxes-fill"></i> Research & Funding <i class="bi bi-caret-down-fill small"></i>
          </a>
          <div class="collapse main_menu_item_sub ps-4" id="researchAndFundingMobile">
            {{ range .Site.Menus.research_menu }}
            <a class="d-block" href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </div>
        <!-- Pandemic Preparedness -->
        <div class="main_menu_item pb-1">
          <a href="#pandemicPreparednessMobile" data-bs-toggle="collapse"  role="button"
             aria-expanded="false" aria-controls="pandemicPreparednessMobile">
            <i class="bi bi-clipboard-data"></i> Pandemic Preparedness <i class="bi bi-caret-down-fill small"></i>
          </a>
          <div class="collapse main_menu_item_sub ps-4" id="pandemicPreparednessMobile">
            <a class="d-block" href="/pathogens/">Emerging Pathogens</a>
            <a class="d-block" href="/plp-program-background/">SciLifeLab PLP</a>
            <a class="d-block" href="/resources/">Preparedness Resources</a>
          </div>
        </div>
        <!-- Topics -->
        <div class="main_menu_item pb-1">
          <a href="#topicsMobile" data-bs-toggle="collapse"  role="button"
             aria-expanded="false" aria-controls="topicsMobile">
            <i class="bi bi-card-list"></i> Topics <i class="bi bi-caret-down-fill small"></i>
          </a>
          <div class="collapse main_menu_item_sub ps-4" id="topicsMobile">
            {{ range .Site.Menus.topics_menu }}
            <a class="d-block" href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      <hr class="d-lg-none">
      {{ end }}
      
      <!-- Main navigation menu for all pages, Swedish site. Visible only in smaller devices -->
      {{ if eq $.Site.Language.LanguageName "Svenska" }}
      <div class="d-lg-none">
        <!-- Data dashboards -->
        <div class="main_menu_item pb-1">
          <a href="#dataDashboardsMobile" data-bs-toggle="collapse"  role="button"
             aria-expanded="false" aria-controls="dataDashboardsMobile">
            <i class="bi bi-window-stack"></i> Data Dashboards <i class="bi bi-caret-down-fill small"></i>
          </a>
          <div class="collapse main_menu_item_sub ps-4" id="dataDashboardsMobile">
            {{ range .Site.Menus.dashboard_menu }}
              <a class="d-block" href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </div>
        <!-- Share & Access Data -->
        <div class="main_menu_item pb-1">
          <a href="#shareAndAccessDataMobile" data-bs-toggle="collapse"  role="button"
             aria-expanded="false" aria-controls="shareAndAccessDataMobile">
            <i class="bi bi-archive"></i> Datadelning och Tillgång <i class="bi bi-caret-down-fill small"></i>
          </a>
          <div class="collapse main_menu_item_sub ps-4" id="shareAndAccessDataMobile">
            <a class="d-block" href="/sv/share-data/">Dela data</a>
            <a class="d-block" href="/sv/dashboards/">Data dashboards</a>
            <a class="d-block" href="/sv/biobanks/">Provsamlingsregistret</a>
          </div>
        </div>
        <!-- Research & Funding -->
        <div class="main_menu_item pb-1">
          <a href="/sv/publications/">
            <i class="bi bi-inboxes-fill"></i> Publikationer rörande covid-19
          </a>
        </div>
      </div>
      <hr class="d-lg-none">
      {{ end }}
      
    </div>
  </div>
</nav>
<!-- ENDS HERE - Expandable top navigation menu, controlled by above defined hamburger button -->

<!-- Main navigation menu, English version. Visibile only on bigger screens -->
{{ if eq $.Site.Language.LanguageName "English" }}
<div class="container mb-3 d-none d-lg-block">
  <div class="row row-cols-lg-3 row-cols-xxl-auto justify-content-xxl-between main_menu">

    <!-- Highlights & Editorials -->
    <div class="col-auto main_menu_item">
      <a class="dropdown-toggle" href="#" id="highlightAndEditorial"
          data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><i class="bi bi-pencil-square"></i> Data Highlights & Editorials</a>
        <div class="dropdown-menu main_menu_item_sub" aria-labelledby="highlightAndEditorial">
          <a class="dropdown-item m-0" href="/highlights/">Data Highlights</a>
          <a class="dropdown-item m-0" href="/editorials/">Editorials</a>
        </div>
    </div>
    <!-- Dashboards -->
    <div class="col-auto main_menu_item">
      <a class="dropdown-toggle" href="#" id="dataDashboards"
          data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><i class="bi bi-graph-up"></i> Data Dashboards</a>
      <div class="dropdown-menu main_menu_item_sub" aria-labelledby="dataDashboards">
        {{ range .Site.Menus.dashboard_menu }}
        <a class="dropdown-item m-0" href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
    <!-- Share and access data -->
    <div class="col-auto main_menu_item">
      <a class="dropdown-toggle" href="#" id="shareAndAccessData"
          data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><i class="bi bi-archive"></i> Share & Access Data</a>
      <div class="dropdown-menu main_menu_item_sub" aria-labelledby="shareAndAccessData">
        <a class="dropdown-item m-0" href="/share-data/">Share data</a>
        <a class="dropdown-item m-0" href="/datasets/all/">Available datasets</a>
        <a class="dropdown-item m-0" href="/dashboards/">Data dashboards</a>
        <a class="dropdown-item m-0" href="/data-sources/">Data sources & repositories</a>
        <a class="dropdown-item m-0" href="/biobanks/">Sample collection database</a>
        <a class="dropdown-item m-0" href="/data-management/">Research data management</a>
      </div>
    </div>
    <!-- Research & Funding -->
    <div class="col-auto main_menu_item">
      <a class="dropdown-toggle" href="#" id="researchAndFunding"
          data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><i class="bi bi-inboxes-fill"></i> Research & Funding</a>
      <div class="dropdown-menu main_menu_item_sub" aria-labelledby="researchAndFunding">
        {{ range .Site.Menus.research_menu }}
        <a class="dropdown-item m-0" href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
    <!-- Pandemic Preparedness -->
    <div class="col-auto main_menu_item">
      <a class="dropdown-toggle" href="#" id="pandemicPreparedness"
          data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><i class="bi bi-clipboard-data"></i> Pandemic Preparedness</a>
      <div class="dropdown-menu main_menu_item_sub" aria-labelledby="pandemicPreparedness">
        <a class="dropdown-item m-0" href="/pathogens/">Emerging Pathogens</a>
        <a class="dropdown-item m-0" href="/plp-program-background/">SciLifeLab PLP</a>
        <a class="dropdown-item m-0" href="/resources/">PLP Capabilities</a>
      </div>
    </div>
    <!-- Topics -->
    <div class="col-auto main_menu_item">
      <a class="dropdown-toggle" href="#" id="topics"
          data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><i class="bi bi-card-list"></i> Topics</a>
      <div class="dropdown-menu main_menu_item_sub" aria-labelledby="topics">
        {{ range .Site.Menus.topics_menu }}
        <a class="dropdown-item m-0" href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
        {{ end }}
      </div>
    </div>

  </div>
</div>
{{ end }}
<!--  ENDS HERE - Main navigation menu, English version for bigger screens -->

<!-- Main menu, Swedish version. Visibile only on bigger screens -->
{{ if eq $.Site.Language.LanguageName "Svenska" }}
<div class="container mb-1 d-none d-lg-block">
  <div class="row main_menu">
      <!-- Data dashboard -->
      <div class="col-md-auto main_menu_item">
        <i class="bi bi-graph-up"></i>
        <a class="dropdown-toggle" href="#" id="dataDashboards"
         data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">Data Dashboards</a>
        <div class="dropdown-menu main_menu_item_sub" aria-labelledby="dataDashboards">
          {{ range .Site.Menus.dashboard_menu }}
            <a class="dropdown-item m-0" href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
          {{ end }}
        </div>
      </div>
      <!-- Share & Access Data -->
      <div class="col-md-auto main_menu_item">
        <i class="bi bi-archive"></i>
        <a class="dropdown-toggle" href="#" id="shareAndAccessData"
         data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">Datadelning och Tillgång</a>
        <div class="dropdown-menu main_menu_item_sub" aria-labelledby="shareAndAccessData">
          <a class="dropdown-item m-0" href="/sv/share-data/">Dela data</a>
          <a class="dropdown-item m-0" href="/sv/dashboards/">Data dashboards</a>
          <a class="dropdown-item m-0" href="/sv/biobanks/">Provsamlingsregistret</a>
        </div>
      </div>
       <!-- Research & Funding -->
    <div class="col-auto main_menu_item">
      <a class="main_link" href="/sv/publications/" id="researchAndFunding">
        <i class="bi bi-inboxes-fill"></i> Publikationer rörande covid-19
      </a>
    </div>
  </div>
</div>
{{ end }}
<!--  ENDS HERE - Main navigation menu, Swedish version for bigger screens -->
