{{/*
  This is Schema partial, which generates relavant schema for individual pages.
  The relavance is curated in the if block, typically it sets the schema type.  
*/}}

{{/* Default values */}}
{{ $type := "WebPage" }}
{{ $name := .Site.Title }}
{{ $description := (or .Params.description .Params.summary .Site.Params.description) }}
{{ $image := index .Site.Params.Images 0 | absURL }}

{{ $currentPage := path.Split (path.Clean .RelPermalink) }}

{{/* Determine page type */}}
{{ $isHomePage := .IsHome }}
{{ $isSingleEditorialPage := and (eq $currentPage.Dir "/editorials/") ($currentPage.File) }}
{{ $isSingleHighlightPage := and (eq $currentPage.Dir "/highlights/") ($currentPage.File) }}
{{ $isHighlitsPage := and (strings.HasPrefix .RelPermalink "/highlights") (not $isSingleHighlightPage) }}
{{ $isDatasetsPage := strings.HasPrefix .RelPermalink "/datasets" }}
{{ $isDashboardsPage := strings.HasSuffix .RelPermalink "/dashboards/" }}
{{ $isSingleDashboardPage := and (in (slice "/dashboards/" "/sv/dashboards/") $currentPage.Dir) ($currentPage.File) }}

{{/* Overwrite page specific values */}}
{{ if $isHomePage }}
  {{ $type = "WebSite" }}
{{ else if $isSingleEditorialPage }}
  {{ $type = "Article" }}
{{ else if $isSingleHighlightPage }}
  {{ $type = "Dataset" }}
{{ else if $isHighlitsPage }}
  {{ $type = "DataCatalog" }}
{{ else if $isDatasetsPage }}
  {{ $type = "DataCatalog" }}
{{ else if (or $isDashboardsPage $isSingleDashboardPage) }}
  {{ $type = cond (not (eq $isSingleDashboardPage false)) "Dataset" "DataCatalog" }}
{{ end }}

<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "{{ $type }}",
    "url": "{{ .Permalink }}",
    "name": "{{ if .Title }}{{ .Title }}{{ else }}{{ $name }}{{ end }}",
    "image": "{{ if .Params.banner }}{{ .Params.banner | absURL }}{{ else }}{{ $image }}{{ end }}",
    "description": {{ $description }},
    "keywords": [
    {{- if $isDatasetsPage -}}
      "Biochemistry data",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q764876"
      },
      "Drug discovery data",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q1418791"
      },
      "Genomics & transcriptomics data",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q222046"
      },
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q28946449"
      },
      "Health data",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q18745135"
      },
      "Imaging data",
      "Protein data",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q7251429"
      },
      "Public health data",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q189603"
      },
      "Serology data",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q502159"
      },
      "Social science and humanities data",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q33122512"
      }
    {{- else if (or $isDashboardsPage $isSingleDashboardPage) -}}
      "Swedish portal",
      "datagraph",
      "visualisation",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q451553"
      },
      "postcovid",
      "wastewater",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q336191"
      },
      "wastewater epidemiology",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q96246050"
      },
      "publications",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q13442814"
      },
      "dashboard",
      "registry data",
      "vaccination",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q192995"
      },
      "serology",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q502159"
      },
      "clinical microbiology",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q9498048"
      },
      "sequence",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q1764062"
      },
      "whole genome sequencing",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q2068526"
      },
      "SARS-CoV-2",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q82069695"
      },
      "COVID-19",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q84263196"
      },
      "influenza",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q2840"
      },
      "enteric virus"
    {{- else }}
      "Swedish portal",
      "Enteric viruses",
      "Covid19 data portal",
      "Pathogens portal",
      "Pathogens",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q170065"
      },
      "Influenza",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q2840"
      },
      "Mpox",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q382370"
      },
      "COVID-19",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q84263196"
      },
      "coronavirus",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q57751738"
      },
      "SARS-CoV-2",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q82069695"
      },
      "Antibiotic resistance",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q380775"
      },
      "Infectious diseases",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q18123741"
      },
      "Pandemic",
      {
        "@type": "URL",
        "@value": "https://www.wikidata.org/wiki/Q12184"
      },
      "Pandemic preparedness",
      "Pandemic Laboratory Preparedness"
    {{- end }}
    ]
    {{- if $isSingleEditorialPage -}}
    {{- with .Params.editorials_authors -}},
    {{- $authorsList := . }}
    "author": [
      {{ range $ind, $author := $authorsList -}}
      {
        "@type": "Person",
        "name": {{ $author }}
      }{{- if ne (add $ind 1) ($authorsList | len) -}},{{- end -}}
      {{ end }}
    ]
    {{- end -}}
    {{- end -}}
    {{- if not (eq $type "Dataset") }},
    "creator": {
        "@type": "Organization",
        "@id": "https://www.scilifelab.se/",
        "name": "SciLifeLab",
        "address": "SciLifeLab, Tomtebodavägen 23, 171 65 Solna",
        "email": "info@scilifelab.se",
        "url": "https://www.scilifelab.se/",
        "description": "Science for Life Laboratory (SciLifeLab), is an institution for the advancement of molecular biosciences in Sweden. We are funded as a national research infrastructure by the Swedish government."
    }
    {{- else if eq $type "Dataset" -}},
    "includedInDataCatalog": {
      "@id": "{{ .Parent.Permalink }}",
      "@type": "DataCatalog"
    }
    {{- end }}
  }
</script>
