{{ define "main" }}

<!-- Main content -->
<div class="row">
  <div class="col-md-8 vert-line-right mt-3">

    The <a href = "https://www.health-ri.nl/initiatives/dutch-covid-19-data-support-programme"> Dutch COVID-19 Data Support Programme</a> supports investigators and health care professionals with tools and services in their search for ways to overcome the pandemic and its health consequences. Specific component of this support program are
<ul>
  <li>The <a href = "https://covid19initiatives.health-ri.nl/p/ProjectOverview"> Dutch National COVID-19 metadata portal</a>, where information about covid-related projects within the Netherlands can be found.</li>
  <li>The <a href = "https://elsi.health-ri.nl/">ELSI servicedesk</a> (in Dutch), which provides guidance and answers on Ethical, Legal, and Societal Impact (ELSI) implications of e.g. research on personalised medicine and next generation sequencing.</li>
  <li>The <a href = "https://www.infectious-diseases-toolkit.org/national-resources/netherlands">Dutch national resources</a> page on the infectious disease toolkit website discusses infectious disease research in the Netherlands and provides information on relevant health authorities and initiatives. In addition, the page offers a collection of key considerations for researchers such as regulations for data handling and disease control.</li>
  </div>

  <!-- Right sidebar -->
  <div class="col-md-4 ms-auto p-3">
    <hr class="d-lg-none">

    <!-- About the portal -->
    <div class="row mt-4 mb-3">
      <h4>About this portal</h4>
      {{ .Content }}
    </div>

    <!-- Share your data ad -->
    <div class="row ps-2">
      <div class="share-new-data text-white ms-1 pb-3 px-3">
        <h4>Share new data</h4>
        The portal team is happy to assist you with submitting your data to open repositories or answer any questions about data management.
      </div>
    </div>
    <div class="row">
      <div class="col text-white pb-3 px-3">
        <h6><a style="color:white"
            href="{{ if eq $.Site.Language.LanguageName "Nederlands" }}/nl{{ end }}/share-data/">Guidelines
            <i class="bi bi-arrow-right-circle-fill"></i></a></h6>
        <h6><a style="color:white"
            href=>Support
            request <i class="bi bi-arrow-right-circle-fill"></i></a></h6>
      </div>
    </div>
  </div>
</div>

{{ end }}
