
{{ define "header" }}
  <div class="header">
    <div class="container">
      <h1>{{ (index $.Site.Params.lang_strings .Site.Language.Lang).home_title }}</h1>
    </div>
  </div>
{{ end }}

{{ define "main" }}

  <!-- Main content -->
  <div class="row">
    <div class="col-lg-8 vert-line-right">

      <!-- Available data -->
      <div class="container mb-5">
        <div class="row"><h2>Available data</h2></div>
        <div class="row"><p class="small text-muted">{{ if eq $.Site.Language.LanguageName "Svenska" }}Swedish text here. {{ else }}Data available from research groups in Sweden. <a href="/data_types/all/data/">See available data for all data types <i class="fas fa-arrow-circle-right"></i></a> {{ end }}</p></div>
        <div class="row">
          <div class="col-md">
            <div class="row"><h5><a href="">Genomics data (16) <i class="fas fa-arrow-circle-right"></i></a></h5></div>
            <div class="row"><h5><a href="">Protein data (11) <i class="fas fa-arrow-circle-right"></i></a></h5></div>
            <div class="row"><h5><a href="">Imaging data (4) <i class="fas fa-arrow-circle-right"></i></a></h5></div>
          </div>
          <div class="col-md">
            <div class="row"><h5><a href="">Biochemistry (30) <i class="fas fa-arrow-circle-right"></i></a></h5></div>
            <div class="row"><h5><a href="">Health data (57) <i class="fas fa-arrow-circle-right"></i></a></h5></div>
            <div class="row"><h5><a href="">Drug discovery (4) <i class="fas fa-arrow-circle-right"></i></a></h5></div>
        </div>
          <div class="col-md">
            <div class="row"><h5><a href="">Serology (7) <i class="fas fa-arrow-circle-right"></i></a></h5></div>
            <div class="row"><h5><a href="">Public health (19) <i class="fas fa-arrow-circle-right"></i></a></h5></div>
            <div class="row"><h5><a href="">Other data (14) <i class="fas fa-arrow-circle-right"></i></a></h5></div>
          </div>
        </div>
      </div>

      <!-- Data highlights -->
      <div class="container mb-5">
        {{ range .Site.Menus.news }}
        <div class="row"><h2>{{ .Name }}</h2></div>
        <div class="row"><p class="small text-muted">{{ if eq $.Site.Language.LanguageName "Svenska" }} Swedish text here. <a href="/sv/news/">Se alla <i class="fas fa-arrow-circle-right"></i></a> {{ else }}Highlights of recent openly shared data and data re-use. <a href="/news/">See all highlights <i class="fas fa-arrow-circle-right"></i></a>{{ end }}</p></div>
        {{ end }}
        <div class="row">
        {{ $news_high := where .Site.RegularPages "Section" "news" }}
        {{ if eq $.Site.Language.LanguageName "Svenska" }}
        {{ $display_alert := false }}
        {{ range first 3 $news_high }} {{ if .Params.needs_translation }} {{ $display_alert = true }} {{ end }} {{ end }}
        {{ if $display_alert }}<div class="alert alert-info">
          <i class="fas fa-exclamation-triangle"></i>
          <span class="small">Svensk översättning för de engelska texterna kommer inom kort.</span>
        </div> {{ end }}
        {{ end }}
          <div class="row">
            {{ range first 3 $news_high }}
                <div class="col-md mx-2 mb-2 border bg-light">
                  <img style="margin-top:0.5rem" src="{{ .Params.banner }}" alt="{{ .Title }}">
                  <h6><a href="{{ .RelPermalink }}">{{ .Title }}</a></h6>
                  <p class="small text-muted">{{.Date.Format "2006-01-02"}}</p>
                </div>
            {{ end }}
          </div>
          </div>
      </div>

      <!-- Sample Collection Database -->
      <div class="container mb-5">
        <div class="row"><h2>Sample Collection Database</h2></div>
        <div class="row"><p class="small text-muted">{{ if eq $.Site.Language.LanguageName "Svenska" }}Swedish text here. {{ else }}Registry of Swedish biobanks and sample collections for COVID-19 research. <a href="/biobanks/">About the database <i class="fas fa-arrow-circle-right"></i></a>{{ end }}</p></div>
        <div class="row">
          <div class="col-md-4">
          <div class="row"><h5>Biobanks: 16</h5></div>
          <div class="row"><h5>Collections: 27</h5></div>
          <div class="row align-items-end">
            <h5><a target="_blank" href="https://biobanks.covid19dataportal.se/">Search in the database <i class="fas fa-arrow-circle-right"></i></a></h5></div>
          </div>
          <div class="col-md-8">
            <img class="img-thumbnail" src="/img/biobanks/scd_scr.png" alt="Sample Collection Database">
          </div>
        </div>
      </div>

      <!-- Research projects -->
      <div class="container mb-5">
        <div class="row"><h2>Research projects</h2></div>
        <div class="row"><p class="small text-muted">{{ if eq $.Site.Language.LanguageName "Svenska" }}Swedish text here. {{ else }}Overview of ongoing research projects, publications, and funding opportunities in Sweden.{{ end }}</p></div>
        <div class="row">
          <div class="col-md-6">
            <div class="row"><h5><a href="{{ if eq $.Site.Language.LanguageName "Svenska" }}/sv{{ end}}/publications/">Publications (1043) <i class="fas fa-arrow-circle-right"></i></a></h5></div>
            <div class="row"><h5><a href="{{ if eq $.Site.Language.LanguageName "Svenska" }}/sv{{ end}}/projects/ongoing/">Ongoing research projects (150) <i class="fas fa-arrow-circle-right"></i></a></h5></div>
            <div class="row"><h5><a href="{{ if eq $.Site.Language.LanguageName "Svenska" }}/sv{{ end}}/projects/funding/">Funding opportunities (6) <i class="fas fa-arrow-circle-right"></i></a></h5></div>
          </div>
        </div>
      </div>

      <!-- Visualizations pages -->
      <div class="container mb-5">
        <div class="row"><h2>Recent SARS-CoV-2 testing results</h2></div>
        <div class="row"><p class="small text-muted">{{ if eq $.Site.Language.LanguageName "Svenska" }}Swedish text here. {{ else }}Pages with recent data and visualizations on SARS-CoV-2 and COVID-19 tests carried out at various research facilities. {{ end }}</p></div>
        <!-- Serology testing -->
        <div class="row">
          <div class="col-md mb-2">
            <div class="row"><h6><a href="{{ if eq $.Site.Language.LanguageName "Svenska" }}/sv{{ end}}/data_types/health_data/serology-statistics/">{{ $.Param "teststats.serologytitle" }} <i class="fas fa-arrow-circle-right"></i></a></h6></div>
            <div class="row"><div class="d-lg-none alert alert-info">Scroll the plot sideways to view all data.</div><div id="serology"></div></div>
          </div>
        </div>
        <!-- Wastewater Uppsala -->
        <div class="row">
          <div class="col-md mb-2">
            <div class="row"><h6><a href="{{ if eq $.Site.Language.LanguageName "Svenska" }}/sv{{ end}}/data_types/environment/wastewater/#uppsala">Amount of SARS-CoV-2 in Uppsala wastewater <i class="fas fa-arrow-circle-right"></i></a></h6></div>
            <div class="row"><div class="d-lg-none alert alert-info">Scroll the plot sideways to view all data.</div><div id="uppsala_wastewater"></div></div>
          </div>
        </div>
        <!-- Wastewater Stockholm -->
        <div class="row">
          <div class="col-md mb-2">
            <div class="row"><h6><a href="{{ if eq $.Site.Language.LanguageName "Svenska" }}/sv{{ end}}/data_types/environment/wastewater/#stockholm">Amount of SARS-CoV-2 in Stockholm wastewater <i class="fas fa-arrow-circle-right"></i></a></h6></div>
            <div class="row"><div class="d-lg-none alert alert-info">Scroll the plot sideways to view all data.</div><div id="stockholm_wastewater"></div></div>
          </div>
        </div>
        <!-- Wastewater Umeå -->
        <div class="row">
          <div class="col-md mb-2">
            <div class="row"><h6><a href="{{ if eq $.Site.Language.LanguageName "Svenska" }}/sv{{ end}}/data_types/environment/wastewater/#umea">Amount of SARS-CoV-2 in Umeå wastewater <i class="fas fa-arrow-circle-right"></i></a></h6></div>
            <div class="row"><div class="d-lg-none alert alert-info">Scroll the plot sideways to view all data.</div><div id="umea_wastewater"></div></div>
          </div>
        </div>
        <!-- Wastewater Örebro -->
        <div class="row">
          <div class="col-md mb-2">
            <div class="row"><h6><a href="{{ if eq $.Site.Language.LanguageName "Svenska" }}/sv{{ end}}/data_types/environment/wastewater/#orebro">Amount of SARS-CoV-2 in Örebro wastewater <i class="fas fa-arrow-circle-right"></i></a></h6></div>
            <div class="row"><div class="d-lg-none alert alert-info">Scroll the plot sideways to view all data.</div><div id="orebro_wastewater"></div></div>
          </div>
        </div>
      </div>

      <!-- Partner projects -->
      <div class="container mb-5">
        <div class="row"><h2>Partner projects</h2></div>
      </div>
    </div>

    <!-- Right sidebar -->
    <div class="col-lg-4">

      <!-- About the portal -->
      <div class="container">
        <div class="row"><h4>About this portal</h4></div>
        <div class="row">
          <p>The Swedish COVID-19 Data Portal provides information, guidelines, tools and services to support researchers to utilise Swedish and European infrastructures for data sharing. The portal is a national node of the <a href="https://covid19dataportal.org/">European COVID-19 Data Portal</a>. The portal is operated by the <a href="https://scilifelab.se/data/">SciLifeLab Data Centre</a> and partners. Suggestions, corrections, and other comments are <a href="/suggestions/">most welcome</a>.</p>
        </div>
      </div>

      <!-- Your your data ad -->
      <div class="container mt-2">
        <div class="row bg-danger text-white pt-2 px-3"><h4>Share new COVID-19 data</h4></div>
        <div class="row bg-danger text-white pb-3 px-3">The portal team is happy to assist you with submitting your data to open repositories or answer any questions about data management.</div>
        <div class="row bg-danger text-white pb-3 px-3"><h6><a style="color:white" href="">Support request <i class="fas fa-arrow-circle-right"></i></a></h6></div>
      </div>

      <!-- External support services -->
      <div class="container mt-3">
        <div class="row"><h4>External support services</h4></div>
        <div class="row">
           {{ range .Site.Menus.main }}
                {{ if eq .Identifier "support_services" }}
                  <div class="col homepage-accordions px-0">
                    {{ range .Children }}
                      <div class="card">
                        <div class="card-header">
                          <a href="{{ .Page.RelPermalink }}">{{ .Pre }}<span class="{{ if .Pre }}ml-2{{ end }} mr-2">{{ .Name }}</span>{{ .Post }}</a>
                        </div>
                      </div>
                    {{ end }}
                  </div>
                {{ end }}
            {{ end }}
          </div>
        </div>

    </div>

  </div>



<script src="https://cdn.jsdelivr.net/npm/vega@5.12.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4.12.2"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.8.0"></script>

<script src="https://datagraphics.dckube.scilifelab.se/graphic/e4c6a7b8bff648a5adaabbdd3d994bf9.js?id=serology"></script>
<script src="https://datagraphics.dckube.scilifelab.se/graphic/48e8c01dbdb5415ea278549cba592b34.js?id=uppsala_wastewater"></script>
<script src="https://datagraphics.dckube.scilifelab.se/graphic/017c5db7e9cf47aea6be323c13b61a25.js?id=stockholm_wastewater"></script>
<script src="https://datagraphics.dckube.scilifelab.se/graphic/f2eebe5990a6430fa57fefa5e34da81b.js?id=umea_wastewater"></script>
<script src="https://datagraphics.dckube.scilifelab.se/graphic/c922ca88bdec49e0a9b62ff67090b402.js?id=orebro_wastewater"></script>

{{ end }}
