
{{ define "header" }}
  <div class="header">
    <div class="container">
      <h1>{{ (index $.Site.Params.lang_strings .Site.Language.Lang).home_title }}</h1>
    </div>
  </div>
{{ end }}

{{ define "main" }}

  {{ .Content }}

  <div>
    {{ range .Site.Menus.news }}
    <h2>{{ .Name }}</h2>
    {{ if .Post }}<p class="small text-muted">{{ .Post | markdownify}}</p>{{ end }}
    {{ end }}
    {{ $news_high := where .Site.RegularPages "Section" "news" }}
    {{ if eq $.Site.Language.LanguageName "Svenska" }}
    {{ $display_alert := false }}
    {{ range first 3 $news_high }} {{ if .Params.needs_translation }} {{ $display_alert = true }} {{ end }} {{ end }}
    {{ if $display_alert }}<div class="alert alert-info">
      <i class="fas fa-exclamation-triangle"></i>
      <span class="small">Svensk översättning för de engelska texterna kommer inom kort.</span>
    </div> {{ end }}
    {{ end }}
      <div class="row">
        {{ range first 3 $news_high }}
            <div class="col-md mx-2 mb-2 border bg-light">
              <img style="margin-top:0.5rem" src="{{ .Params.banner }}" alt="{{ .Title }}">
              <h6><a href="{{ .RelPermalink }}">{{ .Title }}</a></h6>
              <p class="small text-muted">{{.Date.Format "2006-01-02"}}</p>
              <p> {{ .Summary }} <br><a href="{{ .RelPermalink }}">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).readmore_text }} <i class="fas fa-arrow-circle-right"></i></a></p>
            </div>
        {{ end }}
      </div>
  </div>

  <div class="row mb-4 homepage-accordions">
    {{ range .Site.Menus.main }}
    <div class="col-md">
      <h2 class="mt-4" id="{{ urlize .Identifier }}">{{ .Name }}</h2>
      {{ if .Post }}<p class="small text-muted">{{ .Post }}</p>{{ end }}
      <div class="accordion" id="{{ urlize .Identifier }}_accordion">
      {{ range .Children }}
        <div class="card">
          <div class="card-header">
              {{ if .HasChildren }}
              <a href="{{ .Page.RelPermalink }}" data-toggle="collapse" data-target="#{{ urlize .Identifier }}" aria-expanded="false" aria-controls="{{ urlize .Identifier }}">
                {{ .Pre }}<span class="{{ if .Pre }}ml-2{{ end }} mr-2">{{ .Name }}</span>{{ .Post }}<i class="fas fa-caret-down"></i>
              </a>
              {{ else }}
              <a href="{{ .Page.RelPermalink }}">{{ .Pre }}<span class="{{ if .Pre }}ml-2{{ end }} mr-2">{{ .Name }}</span>{{ .Post }}</a>
              {{ end }}
          </div>
          {{ if .HasChildren }}
          <div id="{{ urlize .Identifier }}" class='collapse' data-parent="#{{ urlize .Parent }}_accordion">
            <ul class="list-group list-group-flush border-top">
              {{ range .Children }}
                <li class="list-group-item"><a href="{{ .Page.RelPermalink }}"><span class="mr-2">{{ .Name }}</span>{{ .Post }}</a></li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
        </div>
      {{ end }}
      </div>
    </div>
    {{ end }}
  </div>

  <div class="col">
    <div class="row"><h2>{{ $.Param "teststats.name" }}</h2></div>
    <div class="row"><span class="small text-muted">{{ $.Param "teststats.desc" | markdownify }}</span></div>
    <div class="row">
      <div class="col">
        <div class="row"><h5>{{ $.Param "teststats.serologytitle" }}</h5></div>
        <div class="row"><div id="serology"></div></div>
        <div class="row"><a href="{{ if eq $.Site.Language.LanguageName "Svenska" }}/sv{{ end}}/data_types/health_data/serology-statistics/">{{ $.Param "teststats.seemoretext" }} <i class="fas fa-arrow-circle-right"></i></a></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row"><h5>{{ $.Param "teststats.uppsala_wastewater" }}</h5></div>
        <div class="row"><div id="uppsala_wastewater"></div></div>
        <div class="row"><a href="{{ if eq $.Site.Language.LanguageName "Svenska" }}/sv{{ end}}/data_types/environment/wastewater/#uppsala">{{ $.Param "teststats.seemoretext" }} <i class="fas fa-arrow-circle-right"></i></a></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row"><h5>{{ $.Param "teststats.stockholm_wastewater" }}</h5></div>
        <div class="row"><div id="stockholm_wastewater"></div></div>
        <div class="row"><a href="{{ if eq $.Site.Language.LanguageName "Svenska" }}/sv{{ end}}/data_types/environment/wastewater/#stockholm">{{ $.Param "teststats.seemoretext" }} <i class="fas fa-arrow-circle-right"></i></a></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row"><h5>{{ $.Param "teststats.umeaa_wastewater" }}</h5></div>
        <div class="row"><div id="umeaa_wastewater"></div></div>
        <div class="row"><a href="{{ if eq $.Site.Language.LanguageName "Svenska" }}/sv{{ end}}/data_types/environment/wastewater/#umea">{{ $.Param "teststats.seemoretext" }} <i class="fas fa-arrow-circle-right"></i></a></div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row"><h5>{{ $.Param "teststats.orebro_wastewater" }}</h5></div>
        <div class="row"><div id="orebro_wastewater"></div></div>
        <div class="row"><a href="{{ if eq $.Site.Language.LanguageName "Svenska" }}/sv{{ end}}/data_types/environment/wastewater/#orebro">{{ $.Param "teststats.seemoretext" }} <i class="fas fa-arrow-circle-right"></i></a></div>
      </div>
    </div>
  </div>


<script src="https://cdn.jsdelivr.net/npm/vega@5.12.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4.12.2"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.8.0"></script>

<script src="https://datagraphics.dckube.scilifelab.se/graphic/e4c6a7b8bff648a5adaabbdd3d994bf9.js?id=serology"></script>
<script src="https://datagraphics.dckube.scilifelab.se/graphic/48e8c01dbdb5415ea278549cba592b34.js?id=uppsala_wastewater"></script>
<script src="https://datagraphics.dckube.scilifelab.se/graphic/017c5db7e9cf47aea6be323c13b61a25.js?id=stockholm_wastewater"></script>
<script src="https://datagraphics.dckube.scilifelab.se/graphic/c922ca88bdec49e0a9b62ff67090b402.js?id=umeaa_wastewater"></script>
<script src="https://datagraphics.dckube.scilifelab.se/graphic/c922ca88bdec49e0a9b62ff67090b402.js?id=orebro_wastewater"></script>
{{ end }}
