{{ define "main" }}

<section>
  <div>
    {{ .Content }}</div>
  </section>

<section>
  <div class="my-2 text-start">
    <button type="button" class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#suggestionModal">
      Submit an event
    </button>
  </div>
  <div class="modal fade" id="suggestionModal" tabindex="-1" aria-labelledby="suggestionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="https://forms.dckube.scilifelab.se/api/v1/form/MgVSFpeWGs8oLftv/incoming" class="needs-validation"
          novalidate method="POST" accept-charset="utf-8">
          <div class="modal-header">
            <h5 class="modal-title" id="suggestionModalLabel">Events & training suggestion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="">
              <p>We welcome suggestions for events to be displayed in this section. It can be an event that you are
                organising or an event that you simply think would be useful to others in the life science community
                in Sweden. We primarily aggregate events in Sweden or for a Swedish audience, but submissions about
                important international events are also welcome.</p>
              <p>Please fill out at least all obligatory fields (marked with an asterisk) below. The editorial team
                behind the portal will then evaluate the suggestion and add relevant events as soon as possible.</p>
            </div>
            <div class="mb-3">
              <label for="event_title" class="form-label fw-bold">Event title:*</label>
              <input type="text" class="form-control" id="event_title" name="event_title" required>
            </div>
            <div class="mb-3">
              <label for="event_type" class="form-label fw-bold">Event type:*</label>
              <select class="form-select" id="event_type" name="event_type" required>
                <option hidden disabled selected value> </option>
                <option value="conferece">Conference</option>
                <option value="course">Course</option>
                <option value="seminar">Seminar</option>
                <option value="webinar">Webinar</option>
                <option value="workshop">Workshop</option>
                <option value="other">Other</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="event_start_date" class="form-label fw-bold">Event start date:*</label>
              <input type="date" class="form-control" id="event_start_date" name="event_start_date" required>
            </div>
            <div class="mb-3">
              <label for="event_start_time" class="form-label fw-bold">Event start time:</label>
              <input type="time" class="form-control" id="event_start_time" name="event_start_time">
            </div>
            <div class="mb-3">
              <label for="event_end_date" class="form-label fw-bold">Event end date:</label>
              <input type="date" class="form-control" id="event_end_date" name="event_end_date">
            </div>
            <div class="mb-3">
              <label for="event_end_time" class="form-label fw-bold">Event end time:</label>
              <input type="time" class="form-control" id="event_end_time" name="event_end_time">
            </div>
            <div class="mb-3">
              <label for="venue" class="form-label fw-bold">Venue:</label>
              <input type="text" class="form-control" id="venue" name="venue">
              <div class="form-text">For example, "Online event via Zoom" or "Biologihuset, Sölvegatan 35, Lund".</div>
            </div>
            <div class="mb-3">
              <label for="organisers" class="form-label fw-bold">Organiser(s):</label>
              <input type="text" class="form-control" id="organisers" name="organisers">
              <div class="form-text">For example, "Swedish National Infrastructure for Computing, SNIC; Chalmers
                e-commons infrastructure".</div>
            </div>
            <div class="mb-3">
              <label for="event_info_url" class="form-label fw-bold">Event information webpage:*</label>
              <input type="url" class="form-control" id="event_info_url" name="event_info_url" required>
              <div class="form-text">Enter URL starting with 'https://...'.</div>
            </div>
            <div class="mb-3">
              <label for="event_registration_url" class="form-label fw-bold">Event registration webpage:</label>
              <input type="url" class="form-control" id="event_registration_url" name="event_registration_url">
              <div class="form-text">Enter URL starting with 'https://...'.</div>
            </div>
            <div class="mb-3">
              <label for="event_description" class="form-label fw-bold">Event description:</label>
              <textarea class="form-control" id="event_description" name="event_description" rows="5"></textarea>
            </div>
            <div class="mb-3 form-check fw-bold">
              <input type="checkbox" class="form-check-input" id="involved_in_organising" name="involved_in_organising">
              <label class="form-check-label" for="involved_in_organising">I am involved in organising this
                event.</label>
            </div>
            <div class="mb-3">
              <label for="submitter_name" class="form-label fw-bold">Your name:*</label>
              <input type="text" class="form-control" id="submitter_name" name="submitter_name" required>
              <div class="form-text">Enter your name if you agree to be contacted regarding this suggestion (your name
                will not be shown in the event information).</div>
            </div>
            <div class="mb-3">
              <label for="submitter_email" class="form-label fw-bold">Your contact email*:</label>
              <input type="email" class="form-control" id="submitter_email" name="submitter_email" required>
              <div class="form-text">Enter your email address if you agree to be contacted regarding this suggestion
                (your email will not be displayed in the event information).</div>
            </div>
            <div class="g-recaptcha" data-sitekey="6LesV0gaAAAAAGFjazG7Hd_hN72cpeYm2woivBT3"></div>
            <input type="url" id="originUrl" name="originUrl" value="" hidden />
            <input type='hidden' name='origin' value='event_training_suggestion'>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-blue">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

  {{ $upcoming_events := slice }}
  {{ range sort $.Site.Data.events.items ".date_start" "asc" }}
  {{ $banner_date := cond (isset . "date_start") .date_start .registration_deadline }}
  {{ if ge ($banner_date | time.Format "20060102") (now | time.Format "20060102") }}
    {{ $upcoming_events = $upcoming_events | append . }}
  {{ end }}
  {{ end }}
  {{ if ge (len $upcoming_events) 1 }}
  <section>
    <div class="row g-2 mt-3 mb-5">
      {{ range $ind, $cont := $upcoming_events }}

      {{/* Potentially different colors of the calendar icon depending on the event type */}}
      <div class="col-md-6 col-lg-4">
        <div class="p-3 border rounded h-100">
          <div class="d-flex justify-content-between">
            <div>
              <span class="badge event-type mb-1">{{ .type }}</span>
              <h5><a class="" role="button" data-bs-toggle="modal" data-bs-target="#descriptionModal{{ $ind }}">{{ .title }}</a></h5>
            </div>
            <div class="px-2 pb-1 m-2 d-flex flex-column rounded event-date">
              {{ $banner_date := cond (isset . "date_start") .date_start .registration_deadline }}
              <div class="px-2 fs-3 mx-auto">{{ time.Format "2" $banner_date }}</div>
              <div class="px-2 mx-auto">{{ time.Format "January" $banner_date }}</div>
              {{ if and (not .date_start) (.registration_deadline) }}
                <div class="px-2 mx-auto">(deadline)</div>
              {{ end }}
            </div>
          </div>
          {{ if .date_start }}
          <div class="row mt-3">
            <div class="col">
              <b>Date and time:</b> {{ .date_start | time.Format ":date_medium" }}
                                    {{ if .time_start }} {{ .time_start }}{{ end }}
                                    {{ if or .date_end .time_end }} - {{ end }}
                                    {{ if and (.date_end) (ne .date_end .date_start) }}{{ .date_end | time.Format ":date_medium" }}{{ end}}
                                    {{ if .time_end }}{{ .time_end }}{{ end }}
            </div>
          </div>
          {{ end }}
          {{ if .registration_deadline }}
          <div class="row mt-1">
            <div class="col">
              <b>Registration deadline:</b> {{ .registration_deadline | time.Format ":date_medium" }}
            </div>
          </div>
          {{ end }}
          {{ if .organisers }}
          <div class="row">
            <div class="col">
              <b>Organiser(s):</b> {{ .organisers }}
            </div>
          </div>
          {{ end }}
          {{ if .venue }}
          <div class="row">
            <div class="col">
              <b>Venue:</b> {{ .venue }}
            </div>
          </div>
          {{ end }}
          <div class="row mt-3">
            <div class="col">
              <button type="button" class="btn btn-blue btn-sm" data-bs-toggle="modal" data-bs-target="#descriptionModal{{ $ind }}">
                See details
              </button>
              <div class="modal fade" id="descriptionModal{{ $ind }}" tabindex="-1" aria-labelledby="descriptionModalLabel{{ $ind }}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="descriptionModalLabel">{{ .title }}</h5>
                      <button type="button" class="btn-close mt-1" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col">
                          <b>Event type:</b> <span class="badge event-type mb-1">{{ .type }}</span>
                        </div>
                      </div>
                      {{ if .date_start }}
                      <div class="row mt-1">
                        <div class="col">
                          <b>Date and time:</b> {{ .date_start | time.Format ":date_medium" }}
                                                {{ if .time_start }} {{ .time_start }}{{ end }}
                                                {{ if or .date_end .time_end }} - {{ end }}
                                                {{ if and (.date_end) (ne .date_end .date_start) }}{{ .date_end | time.Format ":date_medium" }}{{ end}}
                                                {{ if .time_end }}{{ .time_end }}{{ end }}
                        </div>
                      </div>
                      {{ end }}
                      {{ if .registration_deadline }}
                      <div class="row mt-1">
                        <div class="col">
                          <b>Registration deadline:</b> {{ .registration_deadline | time.Format ":date_medium" }}
                        </div>
                      </div>
                      {{ end }}
                      {{ if .organisers }}
                      <div class="row mt-1">
                        <div class="col">
                          <b>Organiser(s):</b> {{ .organisers }}
                        </div>
                      </div>
                      {{ end }}
                      {{ if .venue }}
                      <div class="row mt-1">
                        <div class="col">
                          <b>Venue:</b> {{ .venue }}
                        </div>
                      </div>
                      {{ end }}
                      {{ if .description }}
                      <div class="row mt-3">
                        <div class="col"><b>Description:</b><br>
                          {{ .description | markdownify }}
                        </div>
                      </div>
                      {{ end }}
                      <div class="row mt-3">
                        <div class="col-md">
                          <a target="_blank" href="{{ .event_url }}"><i class="bi bi-globe"></i> Event webpage</a>
                        </div>
                        {{ if .registration_url }}
                        <div class="col-md">
                          <a target="_blank" href="{{ .registration_url }}"><i class="bi bi-globe"></i> Registration</a>
                        </div>
                        {{ end }}
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </section>
  {{ else }}
    <div class="alert alert-secondary mt-4">
      We are currently unaware of any upcoming events or training opportunities relevant for life science.
      If you know of any relevant events or training opportunities that should be shown here, please recommend
      them to us using the "Submit an event" button above.
    </div>
  {{ end }}

<script>
  document.getElementById('originUrl').value = location.href;

  var form = document.querySelector('.needs-validation');
  form.addEventListener('submit', function (event) {
    if (form.checkValidity() === false) {
      event.preventDefault();
      alert("Please fill out all required fields.");
      event.stopPropagation();
      form.classList.add('was-validated')
    }
    var recaptcha = $("#g-recaptcha-response").val();
    if (recaptcha === "") {
      event.preventDefault();
      alert("Please tick 'I'm not a robot' above the 'Submit the form' button.");
    }
  });
</script>

  {{ end }}
