{{ define "main" }}

<section>
  <div>
    {{ .Content }}</div>
</section>

<section>
  <div class="my-2 text-start">
    <button type="button" class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#suggestionModal">
      Submit an event
    </button>
  </div>
  <div class="modal fade" id="suggestionModal" tabindex="-1" aria-labelledby="suggestionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="https://forms.dc.scilifelab.se/api/v1/form/MgVSFpeWGs8oLftv/incoming" class="needs-validation"
          novalidate method="POST" accept-charset="utf-8">
          <div class="modal-header">
            <h5 class="modal-title" id="suggestionModalLabel">Events & training suggestion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="">
              <p>We welcome suggestions for events related to pandemic preparedness. This could include, for example,
                events related to COVID-19, antibiotic resistance, or resources related to pandemic preparedness. The
                event does not need to be organised by you in order for it to be submitted as a suggestion.</p>
              <p>Please fill out at least all obligatory fields (marked with an asterisk) below. The editorial team
                behind the portal will then evaluate the suggestion and add relevant events as soon as possible.</p>
            </div>
            <div class="mb-3">
              <label for="event_title" class="form-label fw-bold">Event title:*</label>
              <input type="text" class="form-control" id="event_title" name="event_title" required>
            </div>
            <div class="mb-3">
              <label for="event_type" class="form-label fw-bold">Event type:*</label>
              <select class="form-select" id="event_type" name="event_type" required>
                <option hidden disabled selected value> </option>
                <option value="conferece">Conference</option>
                <option value="course">Course</option>
                <option value="seminar">Seminar</option>
                <option value="webinar">Webinar</option>
                <option value="workshop">Workshop</option>
                <option value="other">Other</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="event_start_date" class="form-label fw-bold">Event start date:*</label>
              <input type="date" class="form-control" id="event_start_date" name="event_start_date" required>
            </div>
            <div class="mb-3">
              <label for="event_start_time" class="form-label fw-bold">Event start time:</label>
              <input type="time" class="form-control" id="event_start_time" name="event_start_time">
            </div>
            <div class="mb-3">
              <label for="event_end_date" class="form-label fw-bold">Event end date:</label>
              <input type="date" class="form-control" id="event_end_date" name="event_end_date">
            </div>
            <div class="mb-3">
              <label for="event_end_time" class="form-label fw-bold">Event end time:</label>
              <input type="time" class="form-control" id="event_end_time" name="event_end_time">
            </div>
            <div class="mb-3">
              <label for="venue" class="form-label fw-bold">Venue:</label>
              <input type="text" class="form-control" id="venue" name="venue">
              <div class="form-text">For example, "Online event via Zoom" or "Biologihuset, Sölvegatan 35, Lund".</div>
            </div>
            <div class="mb-3">
              <label for="organisers" class="form-label fw-bold">Organiser(s):</label>
              <input type="text" class="form-control" id="organisers" name="organisers">
              <div class="form-text">For example, "Swedish National Infrastructure for Computing, SNIC; Chalmers
                e-commons infrastructure".</div>
            </div>
            <div class="mb-3">
              <label for="event_info_url" class="form-label fw-bold">Event information webpage:*</label>
              <input type="url" class="form-control" id="event_info_url" name="event_info_url" required>
              <div class="form-text">Enter URL starting with 'https://...'.</div>
            </div>
            <div class="mb-3">
              <label for="event_registration_url" class="form-label fw-bold">Event registration webpage:</label>
              <input type="url" class="form-control" id="event_registration_url" name="event_registration_url">
              <div class="form-text">Enter URL starting with 'https://...'.</div>
            </div>
            <div class="mb-3">
              <label for="event_description" class="form-label fw-bold">Event description:</label>
              <textarea class="form-control" id="event_description" name="event_description" rows="5"></textarea>
            </div>
            <div class="mb-3 form-check fw-bold">
              <input type="checkbox" class="form-check-input" id="involved_in_organising" name="involved_in_organising">
              <label class="form-check-label" for="involved_in_organising">I am involved in organising this
                event.</label>
            </div>
            <div class="mb-3">
              <label for="submitter_name" class="form-label fw-bold">Your name:*</label>
              <input type="text" class="form-control" id="submitter_name" name="submitter_name" required>
              <div class="form-text">Enter your name if you agree to be contacted regarding this suggestion (your name
                will not be shown in the event information).</div>
            </div>
            <div class="mb-3">
              <label for="submitter_email" class="form-label fw-bold">Your contact email*:</label>
              <input type="email" class="form-control" id="submitter_email" name="submitter_email" required>
              <div class="form-text">Enter your email address if you agree to be contacted regarding this suggestion
                (your email will not be displayed in the event information).</div>
            </div>
            <div class="g-recaptcha" data-sitekey="6LesV0gaAAAAAGFjazG7Hd_hN72cpeYm2woivBT3"></div>
            <input type="url" id="originUrl" name="originUrl" value="" hidden />
            <input type='hidden' name='origin' value='event_training_suggestion'>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-blue">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section id="events-section">
  <!-- The events content will filled by JS function below -->
</section>

<script>
  // Functions need to be run when the DOM is ready
  document.addEventListener("DOMContentLoaded", function (event) {
    // Takes a URL and calls the callback function pass the data fetched
    function getDataFromUrl(url, load_callback, loadend_callback) {
      var req = new XMLHttpRequest();
      req.overrideMimeType("application/json");
      req.open("GET", url, true);
      // The function call for fetching data and display
      req.onload = function () {
        load_callback(JSON.parse(req.responseText).items);
      };
      
      req.send(null);
    }; // function "getDataFromUrl" ends here
    
    function addEvents(dataArray) {
      var eventList = [], local = [], level = [], category = []
      // Not insterested if the deadline have already passed
      dataArray.forEach((event) => {
        event.banner_date = event.date_start || event.registration_deadline;
        if (typeof event.banner_date !== 'undefined'){
          if (new Date(event.banner_date) >= new Date().setHours(0,0,0,0)){
            eventList.push(event);
            if (typeof event.location !== 'undefined'){
              event.location.forEach((lc) => {if(!local.includes(lc)){local.push(lc)}});
            };
            if (typeof event.category !== 'undefined'){
              event.category.forEach((ct) => {if(!category.includes(ct)){category.push(ct)}});
            };
            if (typeof event.level !== 'undefined'){
              if(!level.includes(event.level)){level.push(event.level);}
            };
          };
        };
      }); // dataArray for each ends here
      
      // Sort the arrays
      eventList = eventList.sort((a,b) => (a.banner_date > b.banner_date) ? 1 : (a.banner_date < b.banner_date) ? -1 : 0);
      local = local.sort();
      level = level.sort();
      category = category.sort();
      
      // If no event to show, display appropriate message
      if (eventList.length === 0) {
        var eventsHTML = `<div class="alert alert-secondary mt-4">
                          We are currently unaware of any upcoming events or training opportunities relevant for 
                          life science. If you know of any relevant events or training opportunities that should be shown 
                          here, please suggest them to us using the "Submit an event" button above.
                        </div>`
      } else {
        var eventsHTML = `<div class="row mt-3 mb-3">`;
        if (local.length > 0){
          eventsHTML += `<h5>Location</h5>`;
          local.forEach((lc) => {
            eventsHTML += `<div class="form-check">   
                            <input class="form-check-input" type="checkbox" id="${lc}" name="location" value="${lc.replaceAll(" ", "-").toLowerCase()}">
                            <label class="form-check-label" for="${lc}">${(lc == "Online") ? "Online/Hybrid" : lc}</label>
                           </div>`;
          });
        };
        if (category.length > 0){
          eventsHTML += `<h5 class="mt-3">Category</h5>`;
          category.forEach((ct) => {
            eventsHTML += `<div class="form-check">   
                            <input class="form-check-input" type="checkbox" id="${ct}" name="category" value="${ct.replaceAll(" ", "-").toLowerCase()}">
                            <label class="form-check-label" for="${ct}">${ct}</label>
                           </div>`;
          });
        };
        if (level.length > 0){
          eventsHTML += `<h5 class="mt-3">Level</h5>`;
          level.forEach((lv) => {
            eventsHTML += `<div class="form-check">   
                            <input class="form-check-input" type="checkbox" id="${lv}" name="level" value="${lv.replaceAll(" ", "-").toLowerCase()}">
                            <label class="form-check-label" for="${lv}">${lv}</label>
                           </div>`;
          });
        };
        eventsHTML += `</div>
                       <div class="col-lg">
                         <div class="row g-2" id="events-container">`;
        eventList.forEach((event, ind) => {
          var this_event_local, this_event_category, this_event_level;
          var event_date = new Date(event.banner_date);
          if (typeof event.location !== 'undefined'){
            this_event_local = event.location.map(lc => lc.replaceAll(" ", "-").toLowerCase()).join(" ");
          };
          if (typeof event.category !== 'undefined'){
            this_event_category = event.category.map(ct => ct.replaceAll(" ", "-").toLowerCase()).join(" ");
          };
          if (typeof event.level !== 'undefined'){
            this_event_level = event.level.replaceAll(" ", "-").toLowerCase();
          };
          eventsHTML += `<div class="col-md-6 col-lg-4 event" data-event-location="${this_event_local}"
                          data-event-category="${this_event_category}" data-event-level="${this_event_level}">
                          <div class="p-3 border rounded h-100">
                            <div class="d-flex justify-content-between">
                              <div>
                                <span class="badge event-type mb-1">${event.type}</span>
                                <h5><a class="" role="button" data-bs-toggle="modal"
                                    data-bs-target="#descriptionModal${ind}">${event.title}</a></h5>
                              </div>
                              <div>
                                <div class="px-2 pb-1 m-2 d-flex flex-column rounded event-date">
                                <div class="px-2 fs-3 mx-auto">${event_date.getDate()}</div>
                                <div class="pb-1 px-2 mx-auto">${event_date.toLocaleString('default', {'month': 'long'})}</div>
                                </div>
                              </div>
                            </div>`;
          var event_date_time = [], date_format_options = {'month': 'short', day:'numeric', year: 'numeric'};
          event.date_start && event_date_time.push(new Date(event.date_start).toLocaleString('en-US', date_format_options));
          event.time_start && event_date_time.push(event.time_start);
          (event.date_end || event.time_end) && event_date_time.push("-")
          event.date_end && event_date_time.push(new Date(event.date_end).toLocaleString('en-US', date_format_options));
          event.time_end && event_date_time.push(event.time_end);
          if (event_date_time.length > 0){
            eventsHTML += `<div class="row mt-3">
                             <div class="col">
                               <b>Date and time:</b> ${event_date_time.join(" ")}
                             </div>
                           </div>`;
          }
          if (event.registration_deadline){
            eventsHTML += `<div class="row mt-1">
                             <div class="col">
                               <b>Registration deadline:</b> ${new Date(event.registration_deadline).toLocaleString('en-US', date_format_options)}
                             </div>
                           </div>`;
          }
          if (event.organisers){
            eventsHTML += `<div class="row">
                             <div class="col">
                               <b>Organiser(s):</b> ${event.organisers}
                             </div>
                           </div>`;
          }
          if (event.venue){
            eventsHTML += `<div class="row">
                             <div class="col">
                               <b>Venue:</b> ${event.venue}
                             </div>
                           </div>`;
          }
          eventsHTML += `<div class="row mt-3">
                          <div class="col">
                            <button type="button" class="btn btn-blue btn-sm" data-bs-toggle="modal"
                              data-bs-target="#descriptionModal${ind}">
                              See details
                            </button>
                            <div class="modal fade" id="descriptionModal${ind}" tabindex="-1"
                              aria-labelledby="descriptionModalLabel${ind}" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="descriptionModalLabel">${event.title}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="row">
                                      <div class="col">
                                        <b>Event type:</b> <span class="badge event-type mb-1">${event.type}</span>
                                      </div>
                                    </div>`;
          if (event_date_time.length > 0){
            eventsHTML += `<div class="row mt-1">
                             <div class="col">
                               <b>Date and time:</b> ${event_date_time.join(" ")}
                             </div>
                           </div>`;
          }
          if (event.registration_deadline){
            eventsHTML += `<div class="row mt-1">
                             <div class="col">
                               <b>Registration deadline:</b> ${new Date(event.registration_deadline).toLocaleString('en-US', date_format_options)}
                             </div>
                           </div>`;
          }
          if (event.organisers){
            eventsHTML += `<div class="row mt-1">
                             <div class="col">
                               <b>Organiser(s):</b> ${event.organisers}
                             </div>
                           </div>`;
          }
          if (event.venue){
            eventsHTML += `<div class="row mt-1">
                             <div class="col">
                               <b>Venue:</b> ${event.venue}
                             </div>
                           </div>`;
          }
          if (event.description){
            eventsHTML += `<div class="row mt-3">
                             <div class="col">
                               <b>Description:</b><br> ${event.description}
                             </div>
                           </div>`;
          }
          eventsHTML += `<div class="row mt-3">
                          <p>For more information, see the event webpage at the link below.</p>
                          <div class="col-md">
                            <a target="_blank" href="${event.event_url}"><i class="bi bi-globe"></i> Event webpage</a>
                          </div>`;
          if (event.registration_url){
            eventsHTML += `<div class="col-md">
                            <a target="_blank" href="${event.registration_url}"><i class="bi bi-globe"></i>
                              Registration</a>
                          </div>`;
          }
          eventsHTML += `</div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>`;
        }); // for each events iteration to create html ends here
        eventsHTML += `<div id="no-filtered-events" style="display:none;">
                      <p class="text-center">No events found for selected criteria.</p>
                    </div>
                    </div>
                  </div>
                </div>`;
        
      }; // Creating of events display html ends here
      
      var eventsSection = document.getElementById('events-section');
      eventsSection.innerHTML = eventsHTML;
    }; // function "addEvents" ends here
    
    // Call the function to fetch, parse and display events
    getDataFromUrl(
      decodeURIComponent("https%3A%2F%2Fblobserver.dc.scilifelab.se%2Fblob%2Fcovid_portal_events.json"),
      addEvents
    );

  // Events suggestion form related function
  // set origin url in the form
  document.getElementById('originUrl').value = location.href;

  // Validate the form by checking mandatory fields and recaptcha
  var form = document.querySelector('.needs-validation');
  form.addEventListener('submit', function (event) {
    if (form.checkValidity() === false) {
      event.preventDefault();
      alert("Please fill out all required fields.");
      event.stopPropagation();
      form.classList.add('was-validated')
    }
    var recaptcha = $("#g-recaptcha-response").val();
    if (recaptcha === "") {
      event.preventDefault();
      alert("Please tick 'I'm not a robot' above the 'Submit the form' button.");
    }
  }); // Forms validation block ends here

}); // Document "DOMContentLoaded" trigger ends here
</script>

{{ end }}