{{ define "main" }}

{{ .Content }}

<div class="container mt-3">
  {{ range .RegularPages }}
  <div class="row border bg-light mb-3">
    <div class="col-md-4 p-3">
      <img src="{{ .Params.banner }}" alt="{{ .Title }}">
    </div>
    <div class="col-md-8">
      <h6><a href="{{ .RelPermalink }}">{{ .Title }}</a></h6>
      <p class="small" style="color: #55585a;">{{.Date.Format "2006-01-02"}}</p>
      <p> {{ .Summary }} </p>
      <p><a href="{{ .RelPermalink }}">Read more <i class="bi bi-arrow-right-circle-fill"></i></a></p>
    </div>
  </div>
  {{ end }}
</div>

{{ end }}