{{ define "main" }}

<h2>{{ if .Params.title_full }}{{ .Params.title_full }}{{ else }}{{ .Title}}{{ end }}</h2>
<p class="text-muted">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).published_text }}: {{ .Date.Format "2006-01-02"}}</p>

<figure class="figure float-end mx-2 w-50">
  <img src="{{ if (isset .Params "banner") }}{{ .Params.banner }}{{ else }}{{"/updates/banners/default_banner.png"}} {{ end }}" alt="{{ .Title }}" class="img-news-banner img-thumbnail">
  <figcaption class="figure-caption mt-1"><i>{{ if (isset .Params "banner_caption") }}{{ .Params.banner_caption | markdownify }}{{ else }}{{ "Swedish Pathogens Portal Logo" | markdownify }}{{ end }}</i></figcaption>
</figure>

{{ .Content }}

<hr>
<h5><a href="{{ .Parent.RelPermalink }}"><i class="bi bi-arrow-left-circle-fill"></i> Back to all Portal news</a></h5>

{{ end }}
