{{ define "main" }}

{{ .Content }}

{{/*
  Select which entries from the database to display on this page
*/}}

{{ $entries_to_display := slice }}

{{ range $index, $entry := $.Site.Data.publications.publications }}
{{ $entries_to_display = $entries_to_display | append $entry}}
{{ end }}

<div>
  {{ if eq $.Site.Language.LanguageName "Nederlands" }}
    <p><i>Senast uppdaterad: {{ substr $.Site.Data.publications.timestamp 0 10 }}</i></p>
  {{ else }}
    <p><i>Last updated: {{ substr $.Site.Data.publications.timestamp 0 10 }}</i></p>
  {{ end }}
</div>

<div class="container">
  <div class="row">
    <!-- Apply filters -->
    <div class="col-lg-2 ps-0 {{ if eq $.Site.Language.LanguageName "Nederlands" }}mr-5{{ else }}mr-1{{ end }}">
      <h5>{{ (index $.Site.Params.lang_strings .Site.Language.Lang).pubs_field }}</h5>
      {{ if eq $.Site.Language.LanguageName "Nederlands" }}
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="t_bild" name="topic" value="Category: Imaging">
        <label class="form-check-label" for="t_bild">Beelden</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="t_folk" name="topic" value="Category: Public Health">
        <label class="form-check-label" for="t_folk">Volksgezondheid</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="t_gene" name="topic" value="Category: Genomics & transcriptomics">
        <label class="form-check-label" for="t_gene">Genomics & transcriptomics</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="t_halsa" name="topic" value="Category: Health">
        <label class="form-check-label" for="t_halsa">Gezondheid</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="t_kemi" name="topic" value="Category: Biochemistry">
        <label class="form-check-label" for="t_kemi">Biochemie</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="t_lake" name="topic" value="Category: Drug Discovery">
        <label class="form-check-label" for="t_lake">Ontwikkeling van medicijnen</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="ts_prot" name="topic" value="Category: Proteins">
        <label class="form-check-label" for="ts_prot">Protëinen</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="ts_sero" name="topic" value="Category: Serology">
        <label class="form-check-label" for="ts_sero">Serologie</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="t_samha" name="topic" value="Category: Social Science & Humanities">
        <label class="form-check-label" for="t_samha">Sociale wetenschappen</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="t_ovriga" name="topic" value="Category: Other">
        <label class="form-check-label" for="t_ovriga">Anders</label>
      </div>
      {{ else }}
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="t_biochem" name="topic" value="Category: Biochemistry">
        <label class="form-check-label" for="t_biochem">Biochemistry</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="t_drug" name="topic" value="Category: Drug Discovery">
        <label class="form-check-label" for="t_drug">Drug discovery</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="t_gene_tran" name="topic" value="Category: Genomics & transcriptomics">
        <label class="form-check-label" for="t_gene_tran">Genomics & transcriptomics</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="t_health" name="topic" value="Category: Health">
        <label class="form-check-label" for="t_health">Health</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="t_image" name="topic" value="Category: Imaging">
        <label class="form-check-label" for="t_image">Imaging</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="t_protein" name="topic" value="Category: Proteins">
        <label class="form-check-label" for="t_protein">Proteins</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="t_pub_health" name="topic" value="Category: Public Health">
        <label class="form-check-label" for="t_pub_health">Public health</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="t_serology" name="topic" value="Category: Serology">
        <label class="form-check-label" for="t_serology">Serology</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="t_social" name="topic" value="Category: Social Science & Humanities">
        <label class="form-check-label" for="t_social">Social science & humanities</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="t_other" name="topic" value="Category: Other">
        <label class="form-check-label" for="t_other">Other</label>
      </div>
      {{ end }}
      
      <h5>{{ (index $.Site.Params.lang_strings .Site.Language.Lang).pubs_availability }}</h5>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="data_avail" name="data_available" value="data available">
        <label class="form-check-label" for="data_avail">
          {{ if eq $.Site.Language.LanguageName "Nederlands" }}Beschikbare data{{ else }}Data
        </label>
        available{{ end }}
      </div>
          
      <h5>{{ (index $.Site.Params.lang_strings .Site.Language.Lang).pubs_type }}</h5>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="ty_journel" name="pub_type" value="Type: Journal article">
        <label class="form-check-label" for="ty_journel">
          {{ if eq $.Site.Language.LanguageName "Nederlands" }}Artikelen{{ else }}Journal article{{ end }}
        </label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="ty_review" name="pub_type" value="Type: Review">
        <label class="form-check-label" for="ty_review">
          {{ if eq $.Site.Language.LanguageName "Nederlands" }}Reviews{{ else }}Review{{ end }}
        </label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="ty_prepri" name="pub_type" value="Type: Preprint">
        <label class="form-check-label" for="ty_prepri">
          {{ if eq $.Site.Language.LanguageName "Nederlands" }}Preprint{{ else }}Preprint{{ end }}
        </label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="ty_other" name="pub_type" value="Type: Other">
        <label class="form-check-label" for="ty_other">
          {{ if eq $.Site.Language.LanguageName "Nederlands" }}Anders{{ else }}Other{{ end }}
        </label>
      </div>
      
      <h5>{{ (index $.Site.Params.lang_strings .Site.Language.Lang).pubs_year }}</h5>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="y20" name="year" value="2020">
        <label class="form-check-label" for="y20">2020</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="y21" name="year" value="2021">
        <label class="form-check-label" for="y21">2021</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="y22" name="year" value="2022">
        <label class="form-check-label" for="y22">2022</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="y23" name="year" value="2023">
        <label class="form-check-label" for="y23">2023</label>
      </div>
      
      <h5>{{ (index $.Site.Params.lang_strings .Site.Language.Lang).pubs_funder }}</h5>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="f_forte" name="funder" value="Funder: Forte">
          <label class="form-check-label" for="f_forte">Forte</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="f_h2020" name="funder" value="Funder: H2020">
          <label class="form-check-label" for="f_h2020">H2020</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="f_hjart" name="funder" value="Funder: Hjärt-Lungfonden">
          <label class="form-check-label" for="f_hjart">Hjärt-Lungfonden</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="f_kaw" name="funder" value="Funder: KAW/SciLifeLab">
          <label class="form-check-label" for="f_kaw">KAW/SciLifeLab</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="f_nord" name="funder" value="Funder: NordForsk">
          <label class="form-check-label" for="f_nord">NordForsk</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="f_veten" name="funder" value="Funder: VR">
          <label class="form-check-label" for="f_veten">
            {{ if eq $.Site.Language.LanguageName "Svenska" }}Vetenskapsrådet{{ else }}Swedish Research Council{{ end}}
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="f_vin" name="funder" value="Funder: Vinnova">
          <label class="form-check-label" for="f_vin">Vinnova</label>
        </div>
    </div>
    
    <!-- Display table -->
    <div class="col-lg">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-hover" width="100%">
            <thead class="table-light">
              <tr>
                <th scope="col">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).pubs_pub }}</th>
                <th scope="col">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).pubs_updated }}</th>
                <th scope="col">Field/Topic</th>
                <th scope="col">Publication type</th>
                <th scope="col">Funder</th>
                <th scope="col">Data availability</th>
                <th scope="col">Year</th>
              </tr>
            </thead>
            <tbody>
              {{ $valid_db_list := slice "URL" "NA" "N/A" "GENBANK" "PBD" "BioProject" "GEO" "ISRCTN" "Dryad" "PubChem-Substance" "RefSeq" "dbGaP"}}
              {{ range $index, $entry := $entries_to_display }}
              {{ $has_data := false }}
              {{ range .xrefs }}
              {{ if in $valid_db_list .db }}
              {{ $has_data = true }}
              {{ end }}
              {{ end }}
              <tr>
                <td>
                  <b><a target="_blank"
                      href="{{ if .doi }}https://doi.org/{{ .doi }}{{ else }}https://pubmed.ncbi.nlm.nih.gov/{{ .pmid }}{{ end}}">{{ .title }}</a></b><br>
                  <span class="text-muted">{{ with .authors }}
                    {{ $n := sub (len .) 1}}
                    {{ range first $n . }}
                    {{ $family := (index . "family") }}
                    {{ $initials := (index . "initials") }}
                    {{ if not $initials }} {{ $initials = substr (index . "given") 0 1 }} {{ end }}
                    {{ $family }} {{ $initials }},
                    {{ end }}
                    {{ range last 1 . }}
                    {{ $family := (index . "family") }}
                    {{ $initials := (index . "initials") }}
                    {{ if not $initials }} {{ $initials = substr (index . "given") 0 1 }} {{ end }}
                    {{ $family }} {{ $initials }}
                    {{ end }}
                    {{ end }}
                  </span><br>
                  <i>{{ .journal.title }}</i>{{ if .journal.volume }}
                  <b>{{ .journal.volume }}</b>{{ end }}{{if .journal.issue}}
                  ({{ .journal.issue }}){{ end }}{{ if .journal.pages }} {{ .journal.pages }}{{ end }}.{{ if .doi}} DOI:
                  {{ .doi }}{{ end }} {{ range $key, $content := .labels }} {{ if eq $key "Type: Preprint"}} <span
                    class="preprint-icon">preprint</span>{{ end }}{{ end}} {{ if $has_data }}<span
                    class="data-available-icon">data&nbsp;available</span>{{ end }}
                </td>
                <td>{{ .published }}</td>
                <td>{{ range $key, $content := .labels }} {{ if findRE "Category *?" $key }} {{ $key }} {{ end }}
                  {{ end }}</td>
                <td>{{ range $key, $content := .labels }} {{ if findRE "Type *?" $key }} {{ $key }} {{ end }} {{ end }}
                </td>
                <td>{{ range $key, $content := .labels }} {{ if findRE "Funder *?" $key }} {{ $key }} {{ end }}
                  {{ end }}</td>
                <td>{{ if $has_data }}data available{{ end }}</td>
                <td>{{ slicestr .published 0 4 }}</td>
              </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    var table = $('table.table').DataTable({
      "sDom": '<"top row"<"col-md"i><"col-md"f>>rt<"bottom row"<"col-md"l><"col-md"p>><"clear">',
      "order": [[1, "desc"]],
      "columnDefs": [{
        "targets": [2, 3, 4, 5, 6],
        "visible": false
      }],
    {{ if eq $.Site.Language.LanguageName "English" }}
    "language": {
    "lengthMenu": "Show _MENU_ entries per page",
    "zeroRecords": "Nothing found.",
    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
    "infoEmpty": "No records available",
    "infoFiltered": "(filtered from _MAX_ records in total).",
    "search": "Search:",
    "paginate": {
      "first": "First",
      "last": "Last",
      "next": "»",
      "previous": "«"
    }
  }
    {{ else }}
    "language": {
    "lengthMenu": "Visa _MENU_ poster per sida",
    "zeroRecords": "Inga resultat",
    "info": "Visar _START_-_END_ av _TOTAL_ poster",
    "infoEmpty": "Inga resultat",
    "infoFiltered": "(filtrerad av _MAX_ poster).",
    "search": "Sök:",
    "paginate": {
      "first": "Första",
      "last": "Sista",
      "next": "»",
      "previous": "«"
    }
  }
    {{ end }}
  }
  );

  $('input:checkbox').on('change', function () {

    var topics = $('input:checkbox[name="topic"]:checked').map(function () {
      return this.value;
    }).get().join('|');

    // filter for publication type, with no regex, no smart filtering, not case sensitive
    table.column(2).search(topics, true, false, false).draw(false);

    // Publications type filter
    var pub_types = $('input:checkbox[name="pub_type"]:checked').map(function () {
      return this.value;
    }).get().join('|');

    table.column(3).search(pub_types, true, false, false).draw(false);

    // Funder filter
    var funders = $('input:checkbox[name="funder"]:checked').map(function () {
      return this.value;
    }).get().join('|');

    table.column(4).search(funders, true, false, false).draw(false);

    // Data availability filter
    var data_available = $('input:checkbox[name="data_available"]:checked').map(function () {
      return this.value;
    }).get().join('|');

    table.column(5).search(data_available, true, false, false).draw(false);

    // Years filter
    var years = $('input:checkbox[name="year"]:checked').map(function () {
      return '^' + this.value + '$';
    }).get().join('|');

    // filter for year, without regex, smart filtering, not case sensitive
    table.column(6).search(years, true, false, false).draw(false);

  });

} );

</script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>

{{ end }}
