<form class="needs-validation" novalidate action="https://biobank-forms.dckube.scilifelab.se/forms/add_biobank/">
  <div class="accordion md-accordion" id="accordionForm" role="tablist" aria-multiselectable="true">
    <div class="card">
      <div class="card-header" role="tab" id="generalinfo">
        <a data-toggle="collapse" data-parent="#accordionForm" href="#collapseGeneralInformation" aria-expanded="true"
        aria-controls="collapseGeneralInformation">
        <h5 class="mb-0">
          General information* <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>
    <div id="collapseGeneralInformation" class="collapse show" role="tabpanel" aria-labelledby="generalinfo"
    data-parent="#accordionForm">
    <div class="card-body">
      <div class="form-group">
        <label for="name"><b>Biobank name:*</b></label>
        <input type="text" class="form-control" name="name" required>
        <small class="form-text text-muted">Provide the full name of the biobank (as required by <a target="_blank" href="https://github.com/MIABIS/miabis/blob/master/Data-describing-Biobank.md">MIABIS-2.0-03</a>).</small>
      </div>
      <div class="form-group">
        <label for="acronym"><b>Biobank acronym:</b></label>
        <input type="text" class="form-control" name="acronym">
        <small class="form-text text-muted">Biobank acronym (as required by <a target="_blank" href="https://github.com/MIABIS/miabis/blob/master/Data-describing-Biobank.md">MIABIS-2.0-02</a>).</small>
      </div>
      <div class="form-group">
        <label for="juridicalPerson"><b>Juridical person:*</b></label>
        <input type="text" class="form-control" name="juridicalPerson" required>
        <small class="form-text text-muted">Juristic person of a biobank (as required by <a target="_blank" href="https://github.com/MIABIS/miabis/blob/master/Data-describing-Biobank.md">MIABIS-2.0-05</a>).</small>
      </div>
      <div class="form-group">
        <label for="biobank_sverige"><b>Is the biobank part of Biobank Sverige?*</b></label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="biobank_sverige" id="yes" value="yes" required>
          <label class="form-check-label" for="yes">Yes</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="biobank_sverige" id="no" value="no">
          <label class="form-check-label" for="no">No</label>
        </div>
        <small class="form-text text-muted">The biobank belong to the Biobank Sverige network.</small>
      </div>
      <div class="form-group">
        <label for="bbmri_id"><b>BBMRI-ERIC biobank ID:</b></label>
        <input type="text" class="form-control" name="bbmri_id">
        <small class="form-text text-muted">If the biobank is already listed in BBMRI-ERIC, please provide its ID. These IDs are based on MIABIS 2.0 standard (ISO 3166-1 alpha-2 + underscore + biobank national ID or name), prefixed with bbmri-eric:ID: string. For example, <i>bbmri-eric:ID:SE_9999</i>.</small>
      </div>
      <div class="form-group">
        <label for="url"><b>Biobank homepage URL:</b></label>
        <input type="url" class="form-control" name="url">
        <small class="form-text text-muted">Biobank URL (as required by <a target="_blank" href="https://github.com/MIABIS/miabis/blob/master/Data-describing-Biobank.md">MIABIS-2.0-04</a>).</small>
      </div>
      <div class="form-group">
        <label for="description"><b>Biobank description:</b></label>
        <textarea class="form-control" id="description" rows="3" name="description"></textarea>
        <small class="form-text text-muted">Biobank description (as required by <a target="_blank" href="https://github.com/MIABIS/miabis/blob/master/Data-describing-Biobank.md">MIABIS-2.0-08</a>).</small>
      </div>
      <div class="form-group">
          <label for="logoURL"><b>Biobank logo URL:</b></label>
          <input type="url" class="form-control" name="logoURL">
          <small class="form-text text-muted">If the biobank has a logotype, please provide a URL of this logo (http://..). The logo will be displayed on the page of the biobank in the registry.</small>
      </div>
    </div>
  </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="generalinfo">
      <a data-toggle="collapse" data-parent="#accordionForm" href="#collapseContactInformation" aria-expanded="true"
      aria-controls="collapseContactInformation">
      <h5 class="mb-0">
        Contact information* <i class="fas fa-angle-down rotate-icon"></i>
      </h5>
    </a>
  </div>
  <div id="collapseContactInformation" class="collapse show" role="tabpanel" aria-labelledby="generalinfo"
  data-parent="#accordionForm">
  <div class="card-body">
    <h5>Location</h5>
    <div class="form-group">
        <label for="address"><b>Biobank address:*</b></label>
        <input type="text" class="form-control" name="address" required>
        <small class="form-text text-muted">Provide the address where the biobank is located.</small>
    </div>
    <h5>Contact person</h5>
    <div class="form-row">
    <div class="form-group col-md-6">
        <label for="first_name"><b>First name of the contact person for enquiries:*</b></label>
        <input type="text" class="form-control" name="first_name" required>
        <small class="form-text text-muted">First name of the person who handles enquiries and questions on behalf of the biobank.</small>
    </div>
    <div class="form-group col-md-6">
        <label for="last_name"><b>Last name of the contact person for enquiries:*</b></label>
        <input type="text" class="form-control" name="last_name" required>
        <small class="form-text text-muted">First name of the person who handles enquiries and questions on behalf of the biobank.</small>
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
        <label for="email"><b>E-mail of the contact person for enquiries:*</b></label>
        <input type="email" class="form-control" name="email" required>
        <small class="form-text text-muted">E-mail address of the person who handles enquiries and questions on behalf of the biobank.</small>
    </div>
    <div class="form-group col-md-6">
        <label for="phone"><b>Phone number of the contact person for enquiries:</b></label>
        <input type="text" class="form-control" name="phone">
        <small class="form-text text-muted">Phone number of the person who handles enquiries and questions on behalf of the biobank. To be filled out according to MIABIS 2.0 including international prefix (+99999999999 form with no spaces).</small>
    </div>
    </div>
  </div>
  </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="submissionToken">
      <a data-toggle="collapse" data-parent="#accordionForm" href="#collapseSubmissionToken" aria-expanded="true"
         aria-controls="collapseSubmissionToken">
      <h5 class="mb-0">
        Submission password* <i class="fas fa-angle-down rotate-icon"></i>
      </h5>
      </a>
    </div>
    <div id="collapseSubmissionToken" class="collapse show" role="tabpanel" aria-labelledby="submissionToken"
         data-parent="#accordionForm">
      <div class="card-body">
        <div class="form-group">
          <label for="token"><b>Password:*</b></label>
          <input type="text" class="form-control" name="token" required>
          <small class="form-text text-muted">The password used to validate the submission.</small>
        </div>
      </div>
    </div>
  </div>
  </div>

  <input type="url" id="originUrl" name="originUrl" value="" hidden />

  <button type="submit" class="btn btn-secondary mt-3">Submit the form</button>
</form>

<script>
  var form = document.querySelector('.needs-validation');
  form.addEventListener('submit', function(event){
      if(form.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated')
  })

  document.getElementById('originUrl').value = location.href;
</script>
