<form action="https://forms.dckube.scilifelab.se/api/v1/form/SCWgJNpbx71kp9Ez/incoming" 
      class="needs-validation" novalidate method="POST" accept-charset="utf-8">

<div class="accordion md-accordion" id="accordionForm" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="generalinfo">
      <a data-toggle="collapse" data-parent="#accordionForm" href="#collapseGeneralInformation" aria-expanded="true"
      aria-controls="collapseGeneralInformation">
      <h5 class="mb-0">
        General information* <i class="bi bi-caret-down-fill"></i>
      </h5>
    </a>
  </div>
  <div id="collapseGeneralInformation" class="collapse show" role="tabpanel" aria-labelledby="generalinfo"
  data-parent="#accordionForm">
  <div class="card-body">
    <div class="form-group">
      <label for="biobank_id"><b>Biobank:*</b></label>
      <select class="form-control" id="biobank_id" name="biobank_id" required>
        <option hidden disabled selected value> </option>
        <option value="c19dp:biobank:SE_1462">Blekinge biobank (462)</option>
        <option value="c19dp:biobank:SE_1873">Dalarna biobank (forskningsprov och nyinsamlade prov) (873)</option>
        <option value="c19dp:biobank:SE_1874">Dalarna biobank (diagnostiska patologiprov) (874)</option>
        <option value="c19dp:biobank:SE_1984">Gävleborg biobank (984)</option>
        <option value="c19dp:biobank:SE_1325">Halland biobank (325)</option>
        <option value="c19dp:biobank:SE_1398">Jämtland Härjedalen biobank (398)</option>
        <option value="c19dp:biobank:SE_1868">Jönköping biobank (868)</option>
        <option value="c19dp:biobank:SE_1488">Kalmar biobank (Patologi/cytologi) (488)</option>
        <option value="c19dp:biobank:SE_1490">Kalmar biobank (Klinisk mikrobiologi) (490)</option>
        <option value="c19dp:biobank:SE_1491">Kalmar biobank (Klinisk kemi) (491)</option>
        <option value="c19dp:biobank:SE_1340">Kronoberg biobank (340)</option>
        <option value="c19dp:biobank:SE_npc">National Pandemic Centre (NPC)</option>
        <option value="c19dp:biobank:SE_1003">Norrbotten biobank (3)</option>
        <option value="c19dp:biobank:SE_1136">Skåne biobank (136)</option>
        <option value="c19dp:biobank:SE_1914">Stockholm biobank (914)</option>
        <option value="c19dp:biobank:SE_1872">Sörmland biobank (872)</option>
        <option value="c19dp:biobank:SE_1827">Uppsala biobank (827)</option>
        <option value="c19dp:biobank:SE_1924">Värmland biobank (924)</option>
        <option value="c19dp:biobank:SE_1472">Västerbotten biobank (472)</option>
        <option value="c19dp:biobank:SE_1437">Västernorrland biobank (Avdelningen patologi och cytologi) (437)</option>
        <option value="c19dp:biobank:SE_1438">Västernorrland biobank (Laboratoriemedicin Västernorrland) (438)</option>
        <option value="c19dp:biobank:SE_1556">Västmanland biobank (Patologi/cytologi) (556)</option>
        <option value="c19dp:biobank:SE_1084">Västmanland biobank (Klinisk mikrobiologi) (84)</option>
        <option value="c19dp:biobank:SE_1442">Västmanland biobank (Klinisk kemi) (442)</option>
        <option value="c19dp:biobank:SE_1890">Västra Götaland biobank (890)</option>
        <option value="c19dp:biobank:SE_1456">Örebro biobank (456)</option>
        <option value="c19dp:biobank:SE_1001">Östergötland biobank (1)</option>
        <option value="biobank_other">Other (please specify)</option>
      </select>
      <div id="biobank_other_name_text" class="form-group mt-2 mb-0 d-none">
        <small class="form-text mb-1"><b>Specify the name of the biobank:*</b></small>
        <input type="text" class="form-control" id="biobank_other_name" name="biobank_other_name" maxlength="100">
      </div>
      <small class="form-text text-muted">Provide the name of the biobank to which the collection belongs. Not all biobanks have been added to the Swedish COVID-19 Sample Collection database. In order to add a new biobank, please <a href="/biobanks/add_biobank/">fill out this form</a>. To avoid potential delays caused during the addition of new biobanks, the portal team have made it possible for users to specify a different biobank name. Simply select 'other (please specify)' and then write the new biobank name in the box that appears below</small>
    </div>
    <div class="form-group">
      <label for="collection_name"><b>Collection name:*</b></label>
      <input type="text" class="form-control" name="collection_name" required>
      <small class="form-text text-muted">Collection name (as required by <a href="https://github.com/MIABIS/miabis/blob/master/Data-describing-Sample-Collection.md">MIABIS-2.0-03</a>).</small>
    </div>
    <div class="form-group">
      <label for="collection_acronym"><b>Collection acronym:</b></label>
      <input type="text" class="form-control" name="collection_acronym">
      <small class="form-text text-muted">Collection acronym (as required by <a href="https://github.com/MIABIS/miabis/blob/master/Data-describing-Sample-Collection.md">MIABIS-2.0-02</a>).</small>
    </div>
    <div class="form-group">
      <label for="parent_collection"><b>Parent collection:</b></label>
      <input type="text" class="form-control" name="parent_collection">
      <small class="form-text text-muted">If this is a subcollection of a larger collection, provide the name or local ID of the parent collection.</small>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="collection_local_id"><b>Local collection ID:*</b></label>
      <input type="text" class="form-control" name="collection_local_id" required>
      <small class="form-text text-muted">Collection ID within the biobank. Please put "N/A" in case the local collection ID is not available (healthcare samples).</small>
    </div>
    <div class="form-group col-md-6">
      <label for="collection_bbmri_id"><b>BBMRI-ERIC collection ID:</b></label>
      <input type="text" class="form-control" name="collection_bbmri_id">
      <small class="form-text text-muted">If the collection is already listed at BBMRI-ERIC, please provide its unique ID within BBMRI-ERIC. This ID is constructed from biobankID prefix + :collection: + local collection ID string (as required by <a href="https://github.com/MIABIS/miabis/blob/master/Data-describing-Sample-Collection.md">MIABIS-2.0-01</a>). For example, <i>bbmri-eric:ID:SE_9999:0000</i>.</small>
    </div>
    </div>
    <div class="form-group">
      <label for="collection_description"><b>Collection description:</b></label>
      <textarea class="form-control" id="description" rows="3" name="collection_description"></textarea>
      <small class="form-text text-muted">Collection description (as required by <a href="https://github.com/MIABIS/miabis/blob/master/Data-describing-Sample-Collection.md">MIABIS-2.0-08</a>).</small>
    </div>
    <div class="form-group">
      <label for="collection_url"><b>Collection homepage URL:</b></label>
      <input type="url" class="form-control" name="collection_url">
      <small class="form-text text-muted">Collection homepage URL.</small>
    </div>
    <div class="form-group">
        <label for="collection_bioresource_reference"><b>Collection reference(s):</b></label>
        <textarea class="form-control" id="collection_bioresource_reference" rows="3" name="collection_bioresource_reference"></textarea>
        <small class="form-text text-muted">Please provide a reference to a published article or a preprint (including DOI) that should be cited when resources from this collection are used for research.</small>
    </div>
    <div class="form-group">
      <label for="collection_ethics_id"><b>Swedish ethical approval ID:*</b></label>
      <input type="text" class="form-control" name="collection_ethics_id" required>
      <small class="form-text text-muted">Registration number of the Swedish ethical approval. Please put "N/A" in case ethical approval was not required (healthcare samples).</small>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="sampling_start_date"><b>Start date of sampling:*</b></label>
      <input type="date" class="form-control" name="sampling_start_date" required>
      <small class="form-text text-muted">When did the sampling for this collection start.</small>
    </div>
    <div class="form-group col-md-6">
      <label for="sampling_end_date"><b>End date of sampling:</b></label>
      <input type="date" class="form-control" name="sampling_end_date">
      <small class="form-text text-muted">When did the sampling for this collection end. Leave blank if sampling is ongoing.</small>
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="collection_preserved_until"><b>Until when will the collection be preserved?*</b></label>
      <input type="date" class="form-control" name="collection_preserved_until" required>
      <small class="form-text text-muted">Provide a date until which the collection is guaranteed to be available. After this date, the researchers will be advised to contact the biobank to ask whether the collection is still available.</small>
    </div>
    </div>
    <div class="form-group types_sweden">
      <label for="types_sweden"><b>Collection type(s) according to categorization in Sweden:*</b></label>
      <div class="form-check">
        <input id="SAMPLE_COLLECTION_TYPE_HEALTHCARE_sample_collection" type="checkbox" name="SAMPLE_COLLECTION_TYPE_HEALTHCARE_sample_collection" required>
        <label for="SAMPLE_COLLECTION_TYPE_HEALTHCARE_sample_collection" class="form-check-label">Healthcare sample collection</label>
      </div>
      <div class="form-check">
        <input id="SAMPLE_COLLECTION_TYPE_RESEARCH_sample_collection" type="checkbox" name="SAMPLE_COLLECTION_TYPE_RESEARCH_sample_collection" required>
        <label for="SAMPLE_COLLECTION_TYPE_RESEARCH_sample_collection" class="form-check-label">Research sample collection</label>
        <div class="invalid-feedback"><b>Choose at least one collection type.</b></div>
      </div>
      <div><small class="form-text text-muted">Type(s) of collection.</small></div>
    </div>
    <div class="form-group types_bbmri">
      <label for="types_bbmri"><b>Collection type(s) according to BBMRI-ERIC:*</b></label>
      <div class="form-check">
        <input id="COLLECTION_TYPE_PROSPECTIVE_COLLECTION" type="checkbox" name="COLLECTION_TYPE_PROSPECTIVE_COLLECTION" required>
        <label for="COLLECTION_TYPE_PROSPECTIVE_COLLECTION" class="form-check-label">A prospective study</label>
      </div>
      <div class="form-check">
        <input id="COLLECTION_TYPE_BIRTH_COHORT" type="checkbox" name="COLLECTION_TYPE_BIRTH_COHORT" required>
        <label for="COLLECTION_TYPE_BIRTH_COHORT" class="form-check-label">Birth cohort</label>
      </div>
      <div class="form-check">
        <input id="COLLECTION_TYPE_CASE_CONTROL" type="checkbox" name="COLLECTION_TYPE_CASE_CONTROL" required>
        <label for="COLLECTION_TYPE_CASE_CONTROL" class="form-check-label">Case-Control</label>
      </div>
      <div class="form-check">
        <input id="COLLECTION_TYPE_COHORT" type="checkbox" name="COLLECTION_TYPE_COHORT" required>
        <label for="COLLECTION_TYPE_COHORT" class="form-check-label">Cohort</label>
      </div>
      <div class="form-check">
        <input id="COLLECTION_TYPE_CROSS_SECTIONAL" type="checkbox" name="COLLECTION_TYPE_CROSS_SECTIONAL" required>
        <label for="COLLECTION_TYPE_CROSS_SECTIONAL" class="form-check-label">Cross-sectional</label>
      </div>
      <div class="form-check">
        <input id="COLLECTION_TYPE_DISEASE_SPECIFIC" type="checkbox" name="COLLECTION_TYPE_DISEASE_SPECIFIC" required>
        <label for="COLLECTION_TYPE_DISEASE_SPECIFIC" class="form-check-label">Disease specific</label>
      </div>
      <div class="form-check">
        <input id="COLLECTION_TYPE_HOSPITAL" type="checkbox" name="COLLECTION_TYPE_HOSPITAL" required>
        <label for="COLLECTION_TYPE_HOSPITAL" class="form-check-label">Hospital</label>
      </div>
      <div class="form-check">
        <input id="COLLECTION_TYPE_IMAGE" type="checkbox" name="COLLECTION_TYPE_IMAGE" required>
        <label for="COLLECTION_TYPE_IMAGE" class="form-check-label">Image collection</label>
      </div>
      <div class="form-check">
        <input id="COLLECTION_TYPE_LONGITUDINAL" type="checkbox" name="COLLECTION_TYPE_LONGITUDINAL" required>
        <label for="COLLECTION_TYPE_LONGITUDINAL" class="form-check-label">Longitudinal</label>
      </div>
      <div class="form-check">
        <input id="COLLECTION_TYPE_NON_HUMAN" type="checkbox" name="COLLECTION_TYPE_NON_HUMAN" required>
        <label for="COLLECTION_TYPE_NON_HUMAN" class="form-check-label">Non-human</label>
      </div>
      <div class="form-check">
        <input id="COLLECTION_TYPE_POPULATION_BASED" type="checkbox" name="COLLECTION_TYPE_POPULATION_BASED" required>
        <label for="COLLECTION_TYPE_POPULATION_BASED" class="form-check-label">Population-based</label>
      </div>
      <div class="form-check">
        <input id="COLLECTION_TYPE_QUALITY_CONTROL" type="checkbox" name="COLLECTION_TYPE_QUALITY_CONTROL" required>
        <label for="COLLECTION_TYPE_QUALITY_CONTROL" class="form-check-label">Quality control</label>
      </div>
      <div class="form-check">
        <input id="COLLECTION_TYPE_RD" type="checkbox" name="COLLECTION_TYPE_RD" required>
        <label for="COLLECTION_TYPE_RD" class="form-check-label">Rare disease collection</label>
      </div>
      <div class="form-check">
        <input id="COLLECTION_TYPE_SAMPLE_COLLECTION" type="checkbox" name="COLLECTION_TYPE_SAMPLE_COLLECTION" required>
        <label for="COLLECTION_TYPE_SAMPLE_COLLECTION" class="form-check-label">Sample collection</label>
      </div>
      <div class="form-check">
        <input id="COLLECTION_TYPE_TWIN_STUDY" type="checkbox" name="COLLECTION_TYPE_TWIN_STUDY" required>
        <label for="COLLECTION_TYPE_TWIN_STUDY" class="form-check-label">Twin-study</label>
      </div>
      <div class="form-check">
        <input id="COLLECTION_TYPE_OTHER" type="checkbox" name="OTHER" required>
        <label for="COLLECTION_TYPE_OTHER" class="form-check-label">Other</label>
        <div class="invalid-feedback"><b>Choose at least one collection type.</b></div>
      </div>
      <div><small class="form-text text-muted">Type(s) of collection as per BBMRI-ERIC classification. Required for the collection to be included in BBMRI-ERIC.</small></div>
    </div>
    <div class="form-group data_categories">
      <label for="data_categories"><b>Data categories:*</b></label>
      <div class="form-check">
        <input id="DATA_CATEGORY_ANTIBODIES" type="checkbox" name="DATA_CATEGORY_ANTIBODIES" required>
        <label for="DATA_CATEGORY_ANTIBODIES" class="form-check-label">Antibodies titer (IgM and IgG)</label>
      </div>
      <div class="form-check">
        <input id="DATA_CATEGORY_BIOLOGICAL_SAMPLES" type="checkbox" name="DATA_CATEGORY_BIOLOGICAL_SAMPLES" required>
        <label for="DATA_CATEGORY_BIOLOGICAL_SAMPLES" class="form-check-label">Biological samples</label>
      </div>
      <div class="form-check">
        <input id="DATA_CATEGORY_BLOOD" type="checkbox" name="DATA_CATEGORY_BLOOD" required>
        <label for="DATA_CATEGORY_BLOOD" class="form-check-label">Blood count and other lab results especially at the moment of hospital admission</label>
      </div>
      <div class="form-check">
        <input id="DATA_CATEGORY_CT" type="checkbox" name="DATA_CATEGORY_CT" required>
        <label for="DATA_CATEGORY_CT" class="form-check-label">CT imaging of lungs, alternatively Xray</label>
      </div>
      <div class="form-check">
        <input id="DATA_CATEGORY_CLINICAL_SYMPTOMS" type="checkbox" name="DATA_CATEGORY_CLINICAL_SYMPTOMS" required>
        <label for="DATA_CATEGORY_CLINICAL_SYMPTOMS" class="form-check-label">Data on clinical symptoms</label>
      </div>
      <div class="form-check">
        <input id="DATA_CATEGORY_DiseaseDuration" type="checkbox" name="DATA_CATEGORY_DiseaseDuration" required>
        <label for="DATA_CATEGORY_DiseaseDuration" class="form-check-label">Data on disease duration and disease outcome</label>
      </div>
      <div class="form-check">
        <input id="DATA_CATEGORY_GENEALOGICAL_RECORDS" type="checkbox" name="DATA_CATEGORY_GENEALOGICAL_RECORDS" required>
        <label for="DATA_CATEGORY_GENEALOGICAL_RECORDS" class="form-check-label">Genealogical records</label>
      </div>
      <div class="form-check">
        <input id="DATA_CATEGORY_IMAGING_DATA" type="checkbox" name="DATA_CATEGORY_IMAGING_DATA" required>
        <label for="DATA_CATEGORY_IMAGING_DATA" class="form-check-label">Imaging data</label>
      </div>
      <div class="form-check">
        <input id="DATA_CATEGORY_MEDICAL_RECORDS" type="checkbox" name="DATA_CATEGORY_MEDICAL_RECORDS" required>
        <label for="DATA_CATEGORY_MEDICAL_RECORDS" class="form-check-label">Medical records</label>
      </div>
      <div class="form-check">
        <input id="DATA_CATEGORY_NATIONAL_REGISTRIES" type="checkbox" name="DATA_CATEGORY_NATIONAL_REGISTRIES" required>
        <label for="DATA_CATEGORY_NATIONAL_REGISTRIES" class="form-check-label">National registries</label>
      </div>
      <div class="form-check">
        <input id="DATA_CATEGORY_PHYSIOLOGICAL_BIOCHEMICAL_MEASUREMENTS" type="checkbox" name="DATA_CATEGORY_PHYSIOLOGICAL_BIOCHEMICAL_MEASUREMENTS" required>
        <label for="DATA_CATEGORY_PHYSIOLOGICAL_BIOCHEMICAL_MEASUREMENTS" class="form-check-label">Physiological/Biochemical measurements</label>
      </div>
      <div class="form-check">
        <input id="DATA_CATEGORY_SURVEY_DATA" type="checkbox" name="DATA_CATEGORY_SURVEY_DATA" required>
        <label for="DATA_CATEGORY_SURVEY_DATA" class="form-check-label">Survey data</label>
      </div>
      <div class="form-check">
        <input id="DATA_CATEGORY_TREATMENT_PROTOCOL" type="checkbox" name="DATA_CATEGORY_TREATMENT_PROTOCOL" required>
        <label for="DATA_CATEGORY_TREATMENT_PROTOCOL" class="form-check-label">Treatment protocol (types of drugs used)</label>
      </div>
      <div class="form-check">
        <input id="DATA_CATEGORY_OTHER" type="checkbox" name="DATA_CATEGORY_OTHER" required>
        <label for="DATA_CATEGORY_OTHER" class="form-check-label">Other</label>
      </div>
      <div class="form-check">
        <input id="DATA_CATEGORY_NAV" type="checkbox" name="DATA_CATEGORY_NAV" required>
        <label for="DATA_CATEGORY_NAV" class="form-check-label">Not available</label>
        <div class="invalid-feedback"><b>Choose at least one data category.</b></div>
      </div>
      <div><small class="form-text text-muted">Which types of data are available (as required by <a href="https://github.com/MIABIS/miabis/blob/master/Data-describing-Sample-Collection.md">MIABIS-2.0-13</a>).</small></div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="size_of_collection"><b>Size of the collection:*</b></label>
        <select class="form-control" id="size_of_collection" name="size_of_collection" required>
          <option hidden disabled selected value> </option>
          <option value="size_ofcollection_lessthan10">&lt; 10</option>
          <option value="size_ofcollection_10_100">10 - 100</option>
          <option value="size_ofcollection_100_1000">100 - 1000</option>
          <option value="size_ofcollection_1000_10000">1000 - 10.000</option>
          <option value="size_ofcollection_10000_100000">10.000 - 100.000</option>
          <option value="size_ofcollection_100000_1000000">100.000 - 1.000.000</option>
          <option value="size_ofcollection_1000000_10000000">1.000.000 - 10.000.000</option>
          <option value="size_ofcollection_10000000_100000000">10.000.000 - 100.000.000</option>
          <option value="size_ofcollection_100000000_1000000000">100.000.000 - 1.000.000.000</option>
        </select>
        <small class="form-text text-muted">Size of the collection to the given date.</small>
      </div>
    <div class="form-group col-md-6">
        <label for="size_ofcollection_updated_date"><b>Date size information last updated:*</b></label>
        <input type="date" class="form-control" name="size_ofcollection_updated_date" required>
        <small class="form-text text-muted">Date to which the indicated size of the collection was valid.</small>
    </div>
    </div>
    <div class="form-group">
      <label for="operational_standards"><b>Collection standards:</b></label>
      <div class="form-check">
        <input id="cen-ts-16826-1-2015" type="checkbox" name="cen-ts-16826-1-2015">
        <label for="cen-ts-16826-1-2015" class="form-check-label">CEN/TS 16826-1:2015</label>
      </div>
      <div class="form-check">
        <input id="cen-ts-16826-2-2015" type="checkbox" name="cen-ts-16826-2-2015">
        <label for="cen-ts-16826-2-2015" class="form-check-label">CEN/TS 16826-2:2015</label>
      </div>
      <div class="form-check">
        <input id="cen-ts-16827-1-2015" type="checkbox" name="cen-ts-16827-1-2015">
        <label for="cen-ts-16827-1-2015" class="form-check-label">CEN/TS 16827-1:2015</label>
      </div>
      <div class="form-check">
        <input id="cen-ts-16827-2-2015" type="checkbox" name="cen-ts-16827-2-2015">
        <label for="cen-ts-16827-2-2015" class="form-check-label">CEN/TS 16827-2:2015</label>
      </div>
      <div class="form-check">
        <input id="cen-ts-16827-3-2015" type="checkbox" name="cen-ts-16827-3-2015">
        <label for="cen-ts-16827-3-2015" class="form-check-label">CEN/TS 16827-3:2015</label>
      </div>
      <div class="form-check">
        <input id="cen-ts-16835-1-2015" type="checkbox" name="cen-ts-16835-1-2015">
        <label for="cen-ts-16835-1-2015" class="form-check-label">CEN/TS 16835-1:2015</label>
      </div>
      <div class="form-check">
        <input id="cen-ts-16835-2-2015" type="checkbox" name="cen-ts-16835-2-2015">
        <label for="cen-ts-16835-2-2015" class="form-check-label">CEN/TS 16835-2:2015</label>
      </div>
      <div class="form-check">
        <input id="cen-ts-16835-3-2015" type="checkbox" name="cen-ts-16835-3-2015">
        <label for="cen-ts-16835-3-2015" class="form-check-label">CEN/TS 16835-3:2015</label>
      </div>
      <div class="form-check">
        <input id="cen-ts-16945-2016" type="checkbox" name="cen-ts-16945-2016">
        <label for="cen-ts-16945-2016" class="form-check-label">CEN/TS 16945:2016</label>
      </div>
      <div class="form-check">
        <input id="iso-9001" type="checkbox" name="iso-9001">
        <label for="iso-9001" class="form-check-label">ISO 9001</label>
      </div>
      <div class="form-check">
        <input id="iso-15189" type="checkbox" name="iso-15189">
        <label for="iso-15189" class="form-check-label">ISO 15189</label>
      </div>
      <div class="form-check">
        <input id="iso-15189-2012" type="checkbox" name="iso-15189-2012">
        <label for="iso-15189-2012" class="form-check-label">ISO 15189:2012</label>
      </div>
      <div class="form-check">
        <input id="iso-15190" type="checkbox" name="iso-15190">
        <label for="iso-15190" class="form-check-label">ISO 15190</label>
      </div>
      <div class="form-check">
        <input id="iso-17025" type="checkbox" name="iso-17025">
        <label for="iso-17025" class="form-check-label">ISO 17025</label>
      </div>
      <div class="form-check">
        <input id="iso-17034-2016" type="checkbox" name="iso-17034-2016">
        <label for="iso-17034-2016" class="form-check-label">ISO 17034:2016</label>
      </div>
      <div class="form-check">
        <input id="iso-17043-2010" type="checkbox" name="iso-17043-2010">
        <label for="iso-17043-2010" class="form-check-label">ISO 17043:2010</label>
      </div>
      <div class="form-check">
        <input id="iso-20166-1" type="checkbox" name="iso-20166-1">
        <label for="iso-20166-1" class="form-check-label">ISO 20166-1</label>
      </div>
      <div class="form-check">
        <input id="iso-20166-2" type="checkbox" name="iso-20166-2">
        <label for="iso-20166-2" class="form-check-label">ISO 20166-2</label>
      </div>
      <div class="form-check">
        <input id="iso-20166-3" type="checkbox" name="iso-20166-3">
        <label for="iso-20166-3" class="form-check-label">ISO 20166-3</label>
      </div>
      <div class="form-check">
        <input id="iso-20184-1" type="checkbox" name="iso-20184-1">
        <label for="iso-20184-1" class="form-check-label">ISO 20184-1</label>
      </div>
      <div class="form-check">
        <input id="iso-20184-2" type="checkbox" name="iso-20184-2">
        <label for="iso-20184-2" class="form-check-label">ISO 20184-2</label>
      </div>
      <div class="form-check">
        <input id="iso-20186-1" type="checkbox" name="iso-20186-1">
        <label for="iso-20186-1" class="form-check-label">ISO 20186-1</label>
      </div>
      <div class="form-check">
        <input id="iso-20186-2" type="checkbox" name="iso-20186-2">
        <label for="iso-20186-2" class="form-check-label">ISO 20186-2</label>
      </div>
      <div class="form-check">
        <input id="iso-20186-3" type="checkbox" name="iso-20186-3">
        <label for="iso-20186-3" class="form-check-label">ISO 20186-3</label>
      </div>
      <div class="form-check">
        <input id="iso-fdis-20387" type="checkbox" name="iso-fdis-20387">
        <label for="iso-fdis-20387" class="form-check-label">ISO 20387</label>
      </div>
      <div class="form-check">
        <input id="nfs96-900" type="checkbox" name="nfs96-900">
        <label for="nfs96-900" class="form-check-label">NFS96-900</label>
      </div>
      <div class="form-check">
        <input id="oecd-guidelines" type="checkbox" name="oecd-guidelines">
        <label for="oecd-guidelines" class="form-check-label">OECD Guidelines</label>
      </div>
      <div class="form-check">
        <input id="oeci_accreditation" type="checkbox" name="oeci_accreditation">
        <label for="oeci_accreditation" class="form-check-label">OECI Accreditation</label>
      </div>
      <div class="form-check">
        <input id="others" type="checkbox" name="others">
        <label for="others" class="form-check-label">Other</label>
      </div>
      <div><small class="form-text text-muted">List of standards to which the collection complies.</small></div>
    </div>
  </div>
</div>
</div>
<div class="card">
  <div class="card-header" role="tab" id="donorInformation">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordionForm" href="#collapseDonorInformation"
    aria-expanded="false" aria-controls="collapseDonorInformation">
    <h5 class="mb-0">
      Donor information <i class="bi bi-caret-down-fill"></i>
    </h5>
  </a>
</div>
<div id="collapseDonorInformation" class="collapse" role="tabpanel" aria-labelledby="donorInformation"
data-parent="#accordionForm">
<div class="card-body">
  <div class="form-group">
    <label for="covid19_diagnosis"><b>COVID-19 diagnosis:</b></label>
    <div class="form-check">
      <input id="DIAGNOSIS_COVID19_virus_identified" type="checkbox" name="DIAGNOSIS_COVID19_virus_identified">
      <label for="DIAGNOSIS_COVID19_virus_identified" class="form-check-label">COVID-19, virus identified (laboratory-confirmed); U07.1</label>
    </div>
    <div class="form-check">
      <input id="DIAGNOSIS_COVID19_virus_not_identified" type="checkbox" name="DIAGNOSIS_COVID19_virus_not_identified">
      <label for="DIAGNOSIS_COVID19_virus_not_identified" class="form-check-label">COVID-19, virus not identified (suspect or probable); U07.2</label>
    </div>
  </div>
  <!--- <div class="form-group">
    <label for="diagnosis_available"><b>Diagnoses available in the collection:</b></label>
    <select class="js-select-diagnoses-multiple form-control" name="diagnosis_available[]" id="diagnosis_available" style="width:100%"></select>
    <small class="form-text text-muted">Select one or multiple diagnoses (as required by <a href="https://github.com/MIABIS/miabis/blob/master/Data-describing-Sample-Collection.md">MIABIS-2.0-17</a>). Start typing in order to see options. We use <a href="https://icd.who.int/browse10/2019/en">ICD-10 codes for the diagnoses</a>. In case of COVID-19, the relevant diagnoses are: <i>U07.1 COVID-19, virus identified</i> and <i>U07.2 COVID-19, virus not identified</i></small>
  </div> --->
  <div class="form-group">
    <label for="diagnosis_available"><b>Other diagnoses available in the collection:</b></label>
    <textarea class="form-control" id="diagnosis_available" rows="3" name="diagnosis_available"></textarea>
    <small class="form-text text-muted">Provide one or multiple diagnoses (as required by <a href="https://github.com/MIABIS/miabis/blob/master/Data-describing-Sample-Collection.md">MIABIS-2.0-17</a>). We use <a href="https://icd.who.int/browse10/2019/en">ICD-10 codes for the diagnoses</a>.</small>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="number_of_donors"><b>Number of donors:</b></label>
      <select class="form-control" id="number_of_donors" name="number_of_donors">
        <option value="number_of_donors_null"> </option>
        <option value="number_of_donors_lessthan10">&lt; 10</option>
        <option value="number_of_donors_10_100">10 - 100</option>
        <option value="number_of_donors_100_1000">100 - 1000</option>
        <option value="number_of_donors_1000_10000">1000 - 10.000</option>
        <option value="number_of_donors_10000_100000">10.000 - 100.000</option>
        <option value="number_of_donors_100000_1000000">100.000 - 1.000.000</option>
        <option value="number_of_donors_1000000_10000000">1.000.000 - 10.000.000</option>
        <option value="number_of_donors_10000000_100000000">10.000.000 - 100.000.000</option>
        <option value="number_of_donors_100000000_1000000000">100.000.000 - 1.000.000.000</option>
      </select>
      <small class="form-text text-muted">Number of donors from whom samples were obtained.</small>
    </div>
  </div>
  <div class="form-group">
    <label for="donor_autopsy"><b>Samples from deceased (autopsy)?</b></label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="donor_autopsy" id="yes" value="yes">
      <label class="form-check-label" for="yes">Yes</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="donor_autopsy" id="no" value="no">
      <label class="form-check-label" for="no">No</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="donor_autopsy" id="na" value="na">
      <label class="form-check-label" for="na">N/A</label>
    </div>
    <small class="form-text text-muted">Indicate whether the samples were obtained during autopsies.</small>
  </div>
  <div class="form-group">
    <label for="donor_minors"><b>Samples from children/minors (<18 years old)?</b></label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="donor_minors" id="yes" value="yes">
      <label class="form-check-label" for="yes">Yes</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="donor_minors" id="no" value="no">
      <label class="form-check-label" for="no">No</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="donor_minors" id="na" value="na">
      <label class="form-check-label" for="na">N/A</label>
    </div>
    <small class="form-text text-muted">Indicate whether the samples were obtained from individals below 18 years old.</small>
  </div>
  <div class="form-group">
    <label for="donor_inclusion_criteria"><b>Inclusion criteria:</b></label>
    <textarea class="form-control" id="donor_inclusion_criteria" rows="3" name="donor_inclusion_criteria"></textarea>
    <small class="form-text text-muted">Provide a list of inclusion criteria.</small>
  </div>
  <div class="form-group">
    <label for="donor_exclusion_criteria"><b>Exclusion criteria:</b></label>
    <textarea class="form-control" id="donor_exclusion_criteria" rows="3" name="donor_exclusion_criteria"></textarea>
    <small class="form-text text-muted">Provide a list of exclusion criteria.</small>
  </div>

</div>
</div>
</div>
<div class="card">
  <div class="card-header" role="tab" id="SampleInformation">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordionForm" href="#collapseSampleInformation"
    aria-expanded="false" aria-controls="collapseSampleInformation">
    <h5 class="mb-0">
      Sample information <i class="bi bi-caret-down-fill"></i>
    </h5>
  </a>
</div>
<div id="collapseSampleInformation" class="collapse" role="tabpanel" aria-labelledby="SampleInformation"
data-parent="#accordionForm">
<div class="card-body">
  <div class="form-group materials">
    <label for="materials"><b>Available materials:</b></label>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_BUFFY_COAT" type="checkbox" name="AVAILABLE_MATERIALS_BUFFY_COAT">
      <label for="AVAILABLE_MATERIALS_BUFFY_COAT" class="form-check-label">Buffy Coat</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_CDNA" type="checkbox" name="AVAILABLE_MATERIALS_CDNA">
      <label for="AVAILABLE_MATERIALS_CDNA" class="form-check-label">cDNA / mRNA</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_CSF" type="checkbox" name="AVAILABLE_MATERIALS_CSF">
      <label for="AVAILABLE_MATERIALS_CSF" class="form-check-label">Cerebrospinal fluid</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_CELL_LINES" type="checkbox" name="AVAILABLE_MATERIALS_CELL_LINES">
      <label for="AVAILABLE_MATERIALS_CELL_LINES" class="form-check-label">Cell lines</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_DNA" type="checkbox" name="AVAILABLE_MATERIALS_DNA">
      <label for="AVAILABLE_MATERIALS_DNA" class="form-check-label">DNA</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_FECES" type="checkbox" name="AVAILABLE_MATERIALS_FECES">
      <label for="AVAILABLE_MATERIALS_FECES" class="form-check-label">Feces</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_MICRO_RNA" type="checkbox" name="AVAILABLE_MATERIALS_MICRO_RNA">
      <label for="AVAILABLE_MATERIALS_MICRO_RNA" class="form-check-label">microRNA</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_NASAL_SWAB" type="checkbox" name="AVAILABLE_MATERIALS_NASAL_SWAB">
      <label for="AVAILABLE_MATERIALS_NASAL_SWAB" class="form-check-label">Nasal swab</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_PATHOGEN" type="checkbox" name="AVAILABLE_MATERIALS_PATHOGEN">
      <label for="AVAILABLE_MATERIALS_PATHOGEN" class="form-check-label">Pathogen</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_PBMC" type="checkbox" name="AVAILABLE_MATERIALS_PBMC">
      <label for="AVAILABLE_MATERIALS_PBMC" class="form-check-label">PBMC</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_PERIPHERAL_BLOOD_CELLS" type="checkbox" name="AVAILABLE_MATERIALS_PERIPHERAL_BLOOD_CELLS">
      <label for="AVAILABLE_MATERIALS_PERIPHERAL_BLOOD_CELLS" class="form-check-label">Peripheral blood cells</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_PLASMA" type="checkbox" name="AVAILABLE_MATERIALS_PLASMA">
      <label for="AVAILABLE_MATERIALS_PLASMA" class="form-check-label">Plasma</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_RNA" type="checkbox" name="AVAILABLE_MATERIALS_RNA">
      <label for="AVAILABLE_MATERIALS_RNA" class="form-check-label">RNA</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_SALIVA" type="checkbox" name="AVAILABLE_MATERIALS_SALIVA">
      <label for="AVAILABLE_MATERIALS_SALIVA" class="form-check-label">Saliva</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_SERUM" type="checkbox" name="AVAILABLE_MATERIALS_SERUM">
      <label for="AVAILABLE_MATERIALS_SERUM" class="form-check-label">Serum</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_THROAT_SWAB" type="checkbox" name="AVAILABLE_MATERIALS_THROAT_SWAB">
      <label for="AVAILABLE_MATERIALS_THROAT_SWAB" class="form-check-label">Throat swab</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_TISSUE_FROZEN" type="checkbox" name="AVAILABLE_MATERIALS_TISSUE_FROZEN">
      <label for="AVAILABLE_MATERIALS_TISSUE_FROZEN" class="form-check-label">Tissue (frozen)</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_TISSUE_PARAFFIN_EMBEDDED" type="checkbox" name="AVAILABLE_MATERIALS_TISSUE_PARAFFIN_EMBEDDED">
      <label for="AVAILABLE_MATERIALS_TISSUE_PARAFFIN_EMBEDDED" class="form-check-label">Tissue (paraffin preserved)</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_TISSUE_STAINED" type="checkbox" name="AVAILABLE_MATERIALS_TISSUE_STAINED">
      <label for="AVAILABLE_MATERIALS_TISSUE_STAINED" class="form-check-label">Tissue (stained sections/slides)</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_URINE" type="checkbox" name="AVAILABLE_MATERIALS_URINE">
      <label for="AVAILABLE_MATERIALS_URINE" class="form-check-label">Urine</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_WHOLE_BLOOD" type="checkbox" name="AVAILABLE_MATERIALS_WHOLE_BLOOD">
      <label for="AVAILABLE_MATERIALS_WHOLE_BLOOD" class="form-check-label">Whole Blood</label>
    </div>
    <div class="form-check">
      <input id="AVAILABLE_MATERIALS_OTHER" type="checkbox" name="AVAILABLE_MATERIALS_OTHER">
      <label for="AVAILABLE_MATERIALS_OTHER" class="form-check-label">Other</label>
    </div>
    <div><small class="form-text text-muted">Collection contains material(s) of this/these type(s) (as required by <a href="https://github.com/MIABIS/miabis/blob/master/Data-describing-Sample-Collection.md">MIABIS-2.0-14</a>).</small></div>
  </div>
  <div class="form-group storage_temperatures">
    <label for="storage_temperatures"><b>Storage temperatures:</b></label>
    <div class="form-check">
      <input id="temperatureLN" type="checkbox" name="temperatureLN">
      <label for="temperatureLN" class="form-check-label">Liquid Nitrogen</label>
    </div>
    <div class="form-check">
      <input id="temperature-60to-85" type="checkbox" name="temperature-60to-85">
      <label for="temperature-60to-85" class="form-check-label">-60°C to -80°C</label>
    </div>
    <div class="form-check">
      <input id="temperature-18to-35" type="checkbox" name="temperature-18to-35">
      <label for="temperature-18to-35" class="form-check-label">-18°C to -35°C</label>
    </div>
    <div class="form-check">
      <input id="temperature2to10" type="checkbox" name="temperature2to10">
      <label for="temperature2to10" class="form-check-label">2°C to 10°C</label>
    </div>
    <div class="form-check">
      <input id="temperatureRoom" type="checkbox" name="temperatureRoom">
      <label for="temperatureRoom" class="form-check-label">Room temperature</label>
    </div>
    <div class="form-check">
      <input id="temperatureOther" type="checkbox" name="temperatureOther">
      <label for="temperatureOther" class="form-check-label">Other</label>
    </div>
    <div><small class="form-text text-muted">Sample storage temperature(s) - SPREC 2.0 (as required by <a href="https://github.com/MIABIS/miabis/blob/master/Data-describing-Sample-Collection.md">MIABIS-2.0-15</a>).</small></div>
  </div>
  <div class="form-group">
    <label for="sample_access_fee"><b>Sample access in exchange for a fee:</b></label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sample_access_fee" id="yes" value="yes">
      <label class="form-check-label" for="yes">Yes</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sample_access_fee" id="no" value="no">
      <label class="form-check-label" for="no">No</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sample_access_fee" id="na" value="na">
      <label class="form-check-label" for="na">N/A</label>
    </div>
    <small class="form-text text-muted">Denotes whether access to samples may be obtained on fee-based basis.</small>
  </div>
  <div class="form-group">
    <label for="sample_access_joint_project"><b>Samples access on the basis of a joint project:</b></label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sample_access_joint_project" id="yes" value="yes">
      <label class="form-check-label" for="yes">Yes</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sample_access_joint_project" id="no" value="no">
      <label class="form-check-label" for="no">No</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="sample_access_joint_project" id="na" value="na">
      <label class="form-check-label" for="na">N/A</label>
    </div>
    <small class="form-text text-muted">Denotes whether access to samples may be obtained on joint project basis.</small>
  </div>
</div>
</div>
</div>
<div class="card">
  <div class="card-header" role="tab" id="Contact">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordionForm" href="#collapseContact"
    aria-expanded="false" aria-controls="collapseContact">
    <h5 class="mb-0">
      Contact information* <i class="bi bi-caret-down-fill"></i>
    </h5>
  </a>
</div>
<div id="collapseContact" class="collapse" role="tabpanel" aria-labelledby="Contact"
data-parent="#accordionForm">
<div class="card-body">
  <h5>Collection head</h5>
  <div class="form-row">
  <div class="form-group col-md-6 mt-2">
      <label for="head_firstname"><b>First name of the collection head:</b></label>
      <input type="text" class="form-control" name="head_firstname">
      <small class="form-text text-muted">First name of a person in charge of the collection, typically PI.</small>
  </div>
  <div class="form-group  col-md-6 mt-2">
      <label for="head_lastname"><b>Last name of the collection head:</b></label>
      <input type="text" class="form-control" name="head_lastname">
      <small class="form-text text-muted">Last name of a person in charge of the collection, typically PI.</small>
  </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
      <label for="head_role"><b>Official role of the collection head:</b></label>
      <input type="text" class="form-control" name="head_role">
      <small class="form-text text-muted">Official role of the person in charge of the collection, typically PI.</small>
  </div>
  </div>
  <h5>Collection contact person</h5>
  <div class="form-row">
  <div class="form-group col-md-6 mt-2">
      <label for="contact_first_name"><b>First name of the contact person for enquiries:*</b></label>
      <input type="text" class="form-control" name="contact_first_name" required>
      <small class="form-text text-muted">First name of the person who handles enquiries and questions regarding this collection.</small>
  </div>
  <div class="form-group col-md-6 mt-2">
      <label for="contact_last_name"><b>Last name of the contact person for enquiries:*</b></label>
      <input type="text" class="form-control" name="contact_last_name" required>
      <small class="form-text text-muted">First name of the person who handles enquiries and questions regarding this collection.</small>
  </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
      <label for="contact_email"><b>E-mail of the contact person for enquiries:*</b></label>
      <input type="contact_email" class="form-control" name="contact_email" required>
      <small class="form-text text-muted">E-mail address of the person who handles enquiries and questions regarding this collection.</small>
  </div>
  <div class="form-group col-md-6">
      <label for="contact_phone"><b>Phone number of the contact person for enquiries:</b></label>
      <input type="text" class="form-control" name="contact_phone">
      <small class="form-text text-muted">Phone number of the person who handles enquiries and questions regarding this collection. To be filled out including international prefix (+99999999999 form with no spaces).</small>
  </div>
  </div>
</div>
</div>
</div>
<div class="card">
  <div class="card-header" role="tab" id="CollectionUsage">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordionForm" href="#collapseCollectionUsage"
    aria-expanded="false" aria-controls="collapseCollectionUsage">
    <h5 class="mb-0">
      Publications based on the collection <i class="bi bi-caret-down-fill"></i>
    </h5>
  </a>
</div>
<div id="collapseCollectionUsage" class="collapse" role="tabpanel" aria-labelledby="CollectionUsage"
data-parent="#accordionForm">
<div class="card-body">
  <div class="form-group">
    <label for="publications_list"><b>Published articles and preprints which used the samples or data belonging to the collection:</b></label>
    <textarea class="form-control" id="publications_list" rows="5" name="publications_list"></textarea>
    <small class="form-text text-muted">Please provide a list with full references including DOIs for each published article or preprint. This information will be displayed on the collection page.</small>
  </div>
</div>
</div>
</div>
</div>

<div class="g-recaptcha mt-3" data-sitekey="6LesV0gaAAAAAGFjazG7Hd_hN72cpeYm2woivBT3"></div>
<input type="url" id="originUrl" name="originUrl" value="" hidden />
<input type='hidden' name='origin' value='add_collection'>

<button type="submit" class="btn btn-secondary mt-3">Submit the form</button>
</form>

<script>
  document.getElementById('originUrl').value = location.href;
  
  var form = document.querySelector('.needs-validation');
  form.addEventListener('submit', function(event){
        if(form.checkValidity() === false) {
          event.preventDefault();
          alert("Please fill out all required fields.");
          event.stopPropagation();
          form.classList.add('was-validated')
        }
        var recaptcha = $("#g-recaptcha-response").val();
        if (recaptcha === "") {
            event.preventDefault();
            alert("Please tick 'I'm not a robot' above the 'Submit the form' button.");
        }
    });
  
  $('#biobank_id').on('change', function(){
          var bid = $('#biobank_id').val();
          if(bid === "biobank_other"){
              $('#biobank_other_name_text').toggleClass("d-none",false);
              $('#biobank_other_name').prop('required',true);
          }else{
              $('#biobank_other_name').prop('required',false);
              $('#biobank_other_name_text').toggleClass("d-none",true);
          }
      });
  
  $(function(){
    var requiredCheckboxes = $('.types_bbmri :checkbox[required]');
    requiredCheckboxes.change(function(){
        if(requiredCheckboxes.is(':checked')) {
            requiredCheckboxes.removeAttr('required');
        } else {
            requiredCheckboxes.attr('required', 'required');
        }
    });
  });

  $(function(){
    var requiredCheckboxes = $('.types_sweden :checkbox[required]');
    requiredCheckboxes.change(function(){
        if(requiredCheckboxes.is(':checked')) {
            requiredCheckboxes.removeAttr('required');
        } else {
            requiredCheckboxes.attr('required', 'required');
        }
    });
  });

  $(function(){
    var requiredCheckboxes = $('.data_categories :checkbox[required]');
    requiredCheckboxes.change(function(){
        if(requiredCheckboxes.is(':checked')) {
            requiredCheckboxes.removeAttr('required');
        } else {
            requiredCheckboxes.attr('required', 'required');
        }
    });
  });

    // diagnoses list
    $(document).ready(function() {
      $.ajax({
        async: true,
        url: "/biobanks/diagnoses_list.json",
        dataType: "json",
        success: function (data) {
          data = $.map(data, function (item) {
            return {
              text: item.text,
              id: item.id
            };
          });
          $(".js-select-diagnoses-multiple").select2({
            multiple: true,
            minimumInputLength: 2,
            data: data
          });
        }
      });
    });

</script>
