<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col">{{ if eq $.Site.Language.LanguageName "Svenska" }}Kaka{{ else }}Cookie{{ end }}</th>
      <th scope="col">{{ if eq $.Site.Language.LanguageName "Svenska" }}Syfte{{ else }}Purpose{{ end }}</th>
      <th scope="col">{{ if eq $.Site.Language.LanguageName "Svenska" }}Tredjepart{{ else }}Third-party{{ end }}</th>
      <th scope="col">{{ if eq $.Site.Language.LanguageName "Svenska" }}Leverantör{{ else }}Provider{{ end }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>acceptCookies</td>
      <td>{{ if eq $.Site.Language.LanguageName "Svenska" }}Spåra att du har accepterat vår användning av kakor{{ else }}Track accepting the use of cookies{{ end }}</td>
      <td>{{ if eq $.Site.Language.LanguageName "Svenska" }}Nej{{ else }}No{{ end }}</td>
      <td>-</td>
    </tr>
    <tr>
      <td>_ga</td>
      <td>{{ if eq $.Site.Language.LanguageName "Svenska" }}Webbstatistik{{ else }}Web analytics{{ end }}</td>
      <td>{{ if eq $.Site.Language.LanguageName "Svenska" }}Ja{{ else }}Yes{{ end }}</td>
      <td>Google Analytics</td>
    </tr>
    <tr>
      <td>_gid</td>
      <td>{{ if eq $.Site.Language.LanguageName "Svenska" }}Webbstatistik{{ else }}Web analytics{{ end }}</td>
      <td>{{ if eq $.Site.Language.LanguageName "Svenska" }}Ja{{ else }}Yes{{ end }}</td>
      <td>Google Analytics</td>
    </tr>
    <tr>
      <td>_gat_gtag_UA_168266875_1</td>
      <td>{{ if eq $.Site.Language.LanguageName "Svenska" }}Webbstatistik{{ else }}Web analytics{{ end }}</td>
      <td>{{ if eq $.Site.Language.LanguageName "Svenska" }}Ja{{ else }}Yes{{ end }}</td>
      <td>Google Analytics</td>
    </tr>
    <tr>
      <td>_ga_7ERWTL7ESR</td>
      <td>{{ if eq $.Site.Language.LanguageName "Svenska" }}Webbstatistik{{ else }}Web analytics{{ end }}</td>
      <td>{{ if eq $.Site.Language.LanguageName "Svenska" }}Ja{{ else }}Yes{{ end }}</td>
      <td>Google Analytics</td>
    </tr>
  </tbody>
</table>
