{{/* Pick up the variable passed from the markdown file */}}
{{ $filter_variable := .Get "filter_variable" }}

<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-hover table-bordered funded-projects" width="100%">
        <thead class="thead-light">
          <tr>
            <th scope="col">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).projects_title }}</th>
            <th scope="col">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).projects_pi }}</th>
            <th scope="col">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).projects_piaff }}</th>
            <th scope="col">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).projects_funder }}</th>
          </tr>
        </thead>
        <tbody>
          {{ range $.Site.Data.research_projects.projects }}
            {{ $display_project := false }}
            {{/* Go through all items in funded projects json and select the one that has the filter variable set to "true" */}}
            {{ range $variable, $value := . }}
              {{ if eq $variable $filter_variable }}
                  {{ if $value }}
                    {{ $display_project = true }}
                  {{ end }}
              {{ end }}
            {{ end }}
            {{/* If selected, display the project info */}}
            {{ if $display_project }}
            <tr>
              <td>{{ if eq $.Site.Language.LanguageName "Svenska" }} {{ if .url_sv }} <a href="{{ .url_sv}}"> {{ else if .url }} <a href="{{ .url }}"> {{ end }} {{ if .project_title_sv }} {{ .project_title_sv }} {{ else if .project_title }} {{ .project_title }} {{ end }} {{ if or .url_sv .url }} </a> {{ end }} {{ else }} {{ if .url }} <a href="{{ .url}}"> {{ else if .url_sv }} <a href="{{ .url_sv }}"> {{ end }} {{ if .project_title }} {{ .project_title }} {{ else if .project_title_sv }} {{ .project_title_sv }} {{ end }} {{ if or .url_sv .url }} </a> {{ end }} {{ end }}</td>
              <td>{{ .pi }}</td>
              <td>{{ if and (eq $.Site.Language.LanguageName "Svenska") .pi_affiliation_sv }}{{ .pi_affiliation_sv }}{{ else }} {{ .pi_affiliation }}{{ end }}</td>
              <td>{{ if and (eq $.Site.Language.LanguageName "Svenska") .funder_sv }}{{ .funder_sv }}{{ else }} {{ .funder }}{{ end }}</td>
            </tr>
            {{ end }}
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready( function () {
    var tables = $('.funded-projects').DataTable({
      "dom": '<"top"i>rt<"bottom">p<"clear">',
      "pageLength": 5,
      {{ if eq $.Site.Language.LanguageName "English" }}
      "language": {
           "lengthMenu": "Show _MENU_ projects per page.",
           "zeroRecords": "Nothing found.",
           "info": "Showing _START_ to _END_ of _TOTAL_ projects.",
           "infoEmpty": "No projects available",
           "infoFiltered": "(filtered from _MAX_ total projects)",
           "search": "Search:",
           "paginate": {
              "first":      "First",
              "last":       "Last",
              "next":       "Next",
              "previous":   "Previous"
              }
          }
      {{ else }}
      "language": {
           "lengthMenu": "Visa _MENU_ projekt per sida.",
           "zeroRecords": "Inga resultat",
           "info": "Visar _START_-_END_ av _TOTAL_ projekt.",
           "infoEmpty": "Inga resultat",
           "infoFiltered": "(filtrerad av _MAX_ projekt)",
           "search": "Sök:",
           "paginate": {
              "first":      "Första",
              "last":       "Sista",
              "next":       "Nästa",
              "previous":   "Föregående"
              }
          }
      {{ end }}
    });

    $('#allSearch').on( 'keyup click', function () {
      tables.tables().search($(this).val()).draw();

    });
  } );
</script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
