<section>
  <div class="my-3 text-start">
    <button type="button" class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#suggestionModal">
      Tell us about a funding call
    </button>
  </div>
  <div class="modal fade" id="suggestionModal" tabindex="-1" aria-labelledby="suggestionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form action="https://forms.dc.scilifelab.se/api/v1/form/1UffTEPSUlkRxF4h/incoming" class="needs-validation"
          novalidate method="POST" accept-charset="utf-8">
          <div class="modal-header">
            <h5 class="modal-title" id="suggestionModalLabel">Funding call suggestion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="">
              <p>We welcome suggestions for open funding calls related to pandemic preparedness. This could include,
                for example, calls related to infectious disease or antibiotic resistance.</p>
              <p>Please complete at least all of the obligatory fields below (obligatory fields are indicated with an
                asterisk). We will add all relevant calls as soon as possible (usually within one week).</p>
            </div>
            <div class="row mb-3">
              <div class="col">
                <label for="submitter_name" class="form-label fw-bold">Your name:*</label>
                <input type="text" class="form-control" id="submitter_name" name="submitter_name" required>
              </div>
              <div class="col">
                <label for="submitter_email" class="form-label fw-bold">Your contact email*:</label>
                <input type="email" class="form-control" id="submitter_email" name="submitter_email" required>
              </div>
            </div>
            <div class="mb-3">
              <label for="call_title" class="form-label fw-bold">Funding title:*</label>
              <input type="text" class="form-control" id="call_title" name="call_title" required>
            </div>
            <div class="mb-3">
              <label for="call_funder" class="form-label fw-bold">Funder:*</label>
              <input type="text" class="form-control" id="call_funder" name="call_funder" required>
              <div class="form-text">For example, 'Swedish Research Council', 'KAW', etc.</div>
            </div>
            <div class="mb-3">
              <label for="call_url" class="form-label fw-bold">Link to funding:*</label>
              <input type="url" class="form-control" id="call_url" name="call_url" required>
              <div class="form-text">Enter URL starting with 'https://...'.</div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <label for="call_opendate" class="form-label fw-bold">Funding opens:</label>
                <input type="date" class="form-control" id="call_opendate" name="call_opendate">
              </div>
              <div class="col">
                <label for="call_deadline" class="form-label fw-bold">Funding deadline:*</label>
                <input type="date" class="form-control" id="call_deadline" name="call_deadline" required>
              </div>
              <div class="col">
                <label for="decision_date" class="form-label fw-bold">Decision date:</label>
                <input type="date" class="form-control" id="decision_date" name="decision_date">
              </div>
            </div>
            <div class="mb-3">
              <label for="funding_amount" class="form-label fw-bold">Funding amount:</label>
              <input type="text" class="form-control" id="funding_amount" name="funding_amount">
              <div class="form-text">The total amount that could be granted</div>
            </div>
            <div class="mb-3">
              <label for="funding_period" class="form-label fw-bold">Funding period:</label>
              <input type="text" class="form-control" id="funding_period" name="funding_period">
              <div class="form-text">The total duration of the funding</div>
            </div>
            <div class="mb-3">
              <label for="applicant" class="form-label fw-bold">Applicant specification:</label>
              <input type="text" class="form-control" id="applicant" name="applicant">
              <div class="form-text">Any information about who is eligible to apply</div>
            </div>
            <div class="mb-3">
              <label for="call_description" class="form-label fw-bold">Funding description:</label>
              <textarea class="form-control" id="call_description" name="call_description" rows="5"></textarea>
            </div>
            <div class="g-recaptcha" data-sitekey="6LesV0gaAAAAAGFjazG7Hd_hN72cpeYm2woivBT3">
            </div>
            <input type="url" id="originUrl" name="originUrl" value="" hidden aria-label="form-origin-url"/>
            <input type='hidden' name='origin' value='funding_call_suggestion' hidden aria-label="funding_call_suggestion">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-blue">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>