{{/* Automatically fetch updated date from input file modification time */}}
{{ $fStat := os.Stat "data/funded_projects.json" }}
<p><i>
   {{ cond (eq $.Site.Language.LanguageName "Svenska") "Senast uppdaterad" "Last updated" }}:
   {{ $fStat.ModTime.Format "2006-01-02" }}
</i></p>

{{/*
  Make a list of unique funder names in English and in Swedish
*/}}
{{ $all_funders_eng := slice }}
{{ $all_funders_sv := slice }}
{{ range $.Site.Data.funded_projects }}
  {{ $all_funders_eng = $all_funders_eng | append .funder_eng }}
  {{ $all_funders_sv = $all_funders_sv | append .funder_sv }}
{{ end }}
{{ $funders_eng := $all_funders_eng | uniq }}
{{ $funders_sv := $all_funders_sv | uniq }}

{{/*
  Make a list of unique PI affiliations in English and in Swedish
*/}}
{{ $all_affiliations_eng := slice }}
{{ $all_affiliations_sv := slice }}
{{ range $.Site.Data.funded_projects }}
  {{ if .pi_affiliation_eng}}
    {{ $all_affiliations_eng = $all_affiliations_eng | append .pi_affiliation_eng }}
  {{ end }}
  {{ if .pi_affiliation_sv }}
    {{ $all_affiliations_sv = $all_affiliations_sv | append .pi_affiliation_sv }}
  {{ end }}
{{ end }}
{{ $affiliations_eng := $all_affiliations_eng | uniq }}
{{ $affiliations_sv := $all_affiliations_sv | uniq }}

<div class="container">
  <div class="row">
    <div class="col-lg-2 pl-0 {{ if eq $.Site.Language.LanguageName "Svenska" }}mr-5{{ else }}mr-2{{ end }}">
      <h5>{{ (index $.Site.Params.lang_strings .Site.Language.Lang).projects_funder }}</h5>
      <div class="col mb-2 ml-3 form-check">
        {{ if eq $.Site.Language.LanguageName "Svenska" }}
          {{ range sort $funders_sv }}
            <div class="row"><input type="checkbox" class="form-check-input" class="form-check-input" name="funder"
                value="{{ . }}">{{ . }}</div>
          {{ end }}
        {{ else }}
          {{ range sort $funders_eng }}
            <div class="row"><input type="checkbox" class="form-check-input" class="form-check-input" name="funder"
                value="{{ . }}">{{ . }}</div>
          {{ end }}
        {{ end }}
      </div>
      <h5>{{ (index $.Site.Params.lang_strings .Site.Language.Lang).projects_piaff }}</h5>
      <div class="col mb-2 ml-3 form-check">
        {{ if eq $.Site.Language.LanguageName "Svenska" }}
          {{ range sort $affiliations_sv }}
            <div class="row"><input type="checkbox" class="form-check-input" name="pi_affiliation"
                value="{{ . }}">{{ . }}</div>
          {{ end }}
        {{ else }}
          {{ range sort $affiliations_eng }}
            <div class="row"><input type="checkbox" class="form-check-input" name="pi_affiliation"
                value="{{ . }}">{{ . }}</div>
          {{ end }}
        {{ end }}
      </div>
    </div>
    <div class="col-lg">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-hover" width="100%">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).projects_title }}</th>
                <th scope="col">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).projects_pi }}</th>
                <th scope="col">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).projects_piaff }}</th>
                <th scope="col">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).projects_funder }}</th>
                <th scope="col">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).projects_duration }}</th>
              </tr>
            </thead>
            <tbody>
              {{ range $.Site.Data.funded_projects }}
              <tr>
                <td>{{ if eq $.Site.Language.LanguageName "Svenska" }} {{ if .url_sv }} <a href="{{ .url_sv}}">
                    {{ else if .url_eng }} <a href="{{ .url_eng }}"> {{ end }} {{ if .project_title_sv }}
                      {{ .project_title_sv }} {{ else if .project_title_eng }} {{ .project_title_eng }} {{ end }}
                      {{ if or .url_sv .url_eng }} </a> {{ end }} {{ else }} {{ if .url_eng }} <a href="{{ .url_eng}}">
                      {{ else if .url_sv }} <a href="{{ .url_sv }}"> {{ end }} {{ if .project_title_eng }}
                        {{ .project_title_eng }} {{ else if .project_title_sv }} {{ .project_title_sv }} {{ end }}
                        {{ if or .url_sv .url_eng }} </a> {{ end }} {{ end }}</td>
                <td>{{ .pi }}</td>
                <td>
                  {{ if and (eq $.Site.Language.LanguageName "Svenska") .pi_affiliation_sv }}{{ .pi_affiliation_sv }}{{ else }}
                  {{ .pi_affiliation_eng }}{{ end }}</td>
                <td>{{ if and (eq $.Site.Language.LanguageName "Svenska") .funder_sv }}{{ .funder_sv }}{{ else }}
                  {{ .funder_eng }}{{ end }}</td>
                <td>{{ .start }} - {{ .end }}</td>
              </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    var table = $('table.table').DataTable({
      "sDom": '<"top row"<"col-md"i><"col-md"f>>rt<"bottom row"<"col-md"l><"col-md"p>><"clear">',
      "order": [[4, "desc"]],
    {{ if eq $.Site.Language.LanguageName "English" }}
    "language": {
    "lengthMenu": "Show _MENU_ projects per page",
    "zeroRecords": "Nothing found.",
    "info": "Showing _START_ to _END_ of _TOTAL_ projects",
    "infoEmpty": "No records available",
    "infoFiltered": "(filtered from _MAX_ projects in total).",
    "search": "Search:",
    "paginate": {
      "first": "First",
      "last": "Last",
      "next": "»",
      "previous": "«"
    }
  }
    {{ else }}
    "language": {
    "lengthMenu": "Visa _MENU_ forskningsprojekt per sida",
    "zeroRecords": "Inga resultat",
    "info": "Visar _START_-_END_ av _TOTAL_ forskningsprojekt",
    "infoEmpty": "Inga resultat",
    "infoFiltered": "(filtrerad av _MAX_ forskningsprojekt).",
    "search": "Sök:",
    "paginate": {
      "first": "Första",
      "last": "Sista",
      "next": "»",
      "previous": "«"
    }
  }
    {{ end }}
  }
  );

  $('input:checkbox').on('change', function () {

    // PI affiliation filter
    var pi_affiliation = $('input:checkbox[name="pi_affiliation"]:checked').map(function () {
      return this.value;
    }).get().join('|');

    // filter for pi affiliation, with no regex, no smart filtering, not case sensitive
    table.column(2).search(pi_affiliation, true, false, false).draw(false);

    // Funder filter
    var funders = $('input:checkbox[name="funder"]:checked').map(function () {
      return this.value;
    }).get().join('|');

    table.column(3).search(funders, true, false, false).draw(false);
  });

} );

</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8"
  src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
