{{ if eq $.Site.Language.LanguageName "Svenska"}}
  {{ range $index, $cont := $.Site.Data.funding_opportunities }}
      {{ if ne .title_sv "COVID-19 pandemic research and preparedness"}}
      <h4>{{ if eq .status "closed"}}[Utlysningen har nu stängts] {{ end }}{{ .funder_sv }}: {{ .title_sv }}</h4>
      <p><strong>Sista ansökningsdag::</strong> {{ .deadline }}<br>
        <strong>Hemsida:</strong> <a href="{{ .url_sv }}">Hemsida för utlysningen</a></p>
      <p> {{ .desc_sv }}</p>
      <a class="btn" data-toggle="collapse" href="#details_{{ $index }}" role="button" aria-expanded="false" aria-controls="details_{{ $index }}" style="color: rgba(46, 104, 165, 1); font-weight: 500">
        Läs mer <i class="fas fa-caret-down"></i></a>
      <div class="collapse" id="details_{{ $index }}">
        <div class="card card-body">
          <p>
            <strong>Söks av:</strong> {{ .applicant_sv }}<br>
            <strong>Medverkande forskare:</strong> {{ .participating_res_sv }}<br>
            <strong>Bidragstid:</strong> {{ .period_sv }}<br>
            <strong>Bidragsbelopp:</strong> {{ .amount_sv }}<br>
            <strong>Budgetary framework:</strong> {{ .budget_framework_sv }}<br>
            <strong>Budgetram för utlysningen:</strong> {{ .start_period_sv }}<br>
            <strong>Bidragsperioden startar:</strong> {{ .application_period_sv }}<br>
            <strong>Ansökningsperiod:</strong> {{ .award_date_sv}}
          </p>
        </div>
      </div>
      {{ end }}
  {{ end }}
{{ else }}
  {{ range $index, $cont := $.Site.Data.funding_opportunities }}
    {{ if ne .title_eng "COVID-19 pandemic research and preparedness"}}
      <h4>{{ if eq .status "closed"}}[CLOSED] {{ end }}{{ .funder_eng }}: {{ .title_eng }}</h4>
      <p><strong>Deadline:</strong> {{ .deadline }}<br>
        <strong>Detailed information:</strong> <a href="{{ .url_eng }}">Call homepage</a></p>
      <p> {{ .desc_eng }}</p>
      <a class="btn" data-toggle="collapse" href="#details_{{ $index }}" role="button" aria-expanded="false" aria-controls="details_{{ $index }}" style="color: rgba(46, 104, 165, 1); font-weight: 500">
        Read more <i class="fas fa-caret-down"></i></a>
      <div class="collapse" id="details_{{ $index }}">
        <div class="card card-body">
          <p>
            <strong>Applicant:</strong> {{ .applicant_eng}}<br>
            <strong>Participating researchers:</strong> {{ .participating_res_eng }}<br>
            <strong>Grant period:</strong> {{ .period_eng }}<br>
            <strong>Grant amount:</strong> {{ .amount_eng }}<br>
            <strong>Budgetary framework:</strong> {{ .budget_framework_eng }}<br>
            <strong>Start of grant period:</strong> {{ .start_period_eng }}<br>
            <strong>Application period:</strong> {{ .application_period_eng }}<br>
            <strong>Publication of grant award:</strong> {{ .award_date_eng}}
          </p>
        </div>
      </div>
      {{ end }}
  {{ end }}
{{ end }}
