{{/* If I wanted to display only particular topics, pick up the variable passed from the markdown file */}}
{{/* $topic_to_display := .Get "topic" */}}

<p><i>
    Last updated: {{ $.Site.Data.funding.last_updated }}
  </i></p>

{{/*
  Make a list of unique funder names
*/}}
{{ $all_funders:= slice }}
{{ range $.Site.Data.funding.calls }} {{ $all_funders = $all_funders | append .funder }} {{ end }}
{{ $funders := $all_funders | uniq }}


{{ $topics := slice }}
{{/*
  Make a list of unique topics
*/}}
{{ $all_topics := slice }}
{{ range $.Site.Data.funding.calls }} {{ $all_topics = $all_topics | append .topic }} {{ end }}
{{ $topics = $all_topics | uniq }}

<div class="container">
  <div class="row">
    <!-- Add Filter options -->
    <div class="col-lg-2 ps-0 {{ if eq $.Site.Language.LanguageName "Svenska" }}mr-5{{ else }}mr-2{{ end }}">
      <h5>Topic</h5>
      {{ range sort $topics }}
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="topic_{{ . }}" name="topic" value="{{ . }}">
        <label class="form-check-label" for="topic_{{ . }}">{{ . }}</label>
      </div>
      {{ end }}
      
      <h5>Funder</h5>
      {{ range sort $funders }}
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="funder_{{ . }}" name="funder" value="{{ . }}">
        <label class="form-check-label" for="funder_{{ . }}">{{ . }}</label>
      </div>
      {{ end }}
    </div>
    
    <!-- Display table -->
    <div class="col-lg">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-hover no-last-row-border funding-opportunities" width="100%">
            <thead class="table-light">
              <tr>
                <th scope="col">Call title</th>
                <th scope="col">Deadline</th>
                <th scope="col">Funder</th>
                <th scope="col">Topics</th>
              </tr>
            </thead>
            <tbody>
              {{ range $ind, $cont := $.Site.Data.funding.calls }}
              {{ if gt (.submission_deadline | time.Format "20060102") (now | time.Format "20060102") }}
              <tr>
                <td>
                  <div class="row">
                    <div class="col">
                      <h6><a href="{{ .call_url }}">{{ .call_title }}</a></h6>
                    </div>
                  </div>
                  {{ if .call_description }}<div class="row">
                    <div class="col text-muted">
                      {{ truncate 190 .call_description | markdownify }}
                    </div>
                  </div>{{ end }}
                  <div class="row mt-2">
                    <div class="col">
                      <button type="button" class="btn_details btn_details_primary" data-bs-toggle="modal"
                        data-bs-target="#call_details{{ $ind }}">
                        Details
                      </button>
                      <div class="modal fade" id="call_details{{ $ind }}" tabindex="-1" role="dialog"
                        aria-labelledby="call_details{{ $ind }}Label" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="call_details{{ $ind }}Label">{{ .call_title }}</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                              </button>
                            </div>
                            <div class="modal-body funding_details">
                              <p><b>Funder:</b> {{ .funder }}<br>
                                {{ if .submission_opendate}}<b>Submission opens:</b>
                                {{ .submission_opendate | time.Format ":date_long" }}<br>{{ end }}
                                <b>Submission deadline:</b> {{ .submission_deadline | time.Format ":date_long" }}<br>
                                {{ if .funding_amount }}<b>Funding amount:</b> {{ .funding_amount }}<br>{{ end }}
                                {{ if .funding_period }}<b>Funding period:</b> {{ .funding_period}}<br>{{ end }}
                                {{ if .applicant }}<b>Eligible applicant:</b>
                                {{ .applicant | markdownify }}<br>{{ end }}
                                {{ if .decision_date }}<b>Decision date:</b> {{ .decision_date }}<br>{{ end }}</p>
                              <p><b>Call description:</b><br>{{ .call_description | markdownify }}</p>
                              <p><a href="{{ .call_url }}">See call website for more information <i
                                    class="bi bi-arrow-right-circle-fill" aria-hidden="true"></i></a></p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>{{ .submission_deadline | time.Format ":date_long" }}</td>
                <td>{{ .funder }}</td>
                <td>{{ range .topic }}<span class="mx-1 my-1 topic_badge_large
                  {{ if eq . "COVID-19"}}topic_badge_covid
                  {{ else if eq . "Infectious diseases"}}topic_badge_infectious_d
                  {{ else if eq . "Mpox"}}topic_badge_mpox
                  {{ else if eq . "Antibiotic resistance"}}topic_badge_antib_r
                  {{ else }}topic_badge_general
                  {{ end }} ">{{ . }}</span>{{ end }}</td>
              </tr>
              {{ end }}
              {{ end }}
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    var table = $('.funding-opportunities').DataTable({
      "dom": '<"top">rt<"bottom"><"clear">',
      "language": {
        "lengthMenu": "Show _MENU_ projects per page.",
        "zeroRecords": "Nothing found.",
        "info": "Showing _START_ to _END_ of _TOTAL_ calls.",
        "infoEmpty": "No calls available",
        "infoFiltered": "(filtered from _MAX_ total calls)",
        "search": "Search:",
        "paginate": {
          "first": "First",
          "last": "Last",
          "next": "Next",
          "previous": "Previous"
        }
      }
    });

    $('input:checkbox').on('change', function () {

      // Funder filter
      var funder = $('input:checkbox[name="funder"]:checked').map(function () {
        return this.value;
      }).get().join('|');

      table.column(2).search(funder, true, false, false).draw(false);

      // Topic filter
      var topic = $('input:checkbox[name="topic"]:checked').map(function () {
        return this.value;
      }).get().join('|');

      table.column(3).search(topic, true, false, false).draw(false);
    });

  });


</script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>