<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#annModal">
  Add an announcement
</button>

<!-- Modal -->
<div class="modal fade" id="annModal" tabindex="-1" role="dialog" aria-labelledby="annModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="annModalLabel">Add an announcement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="needs-validation-ann" novalidate action="https://biobank-forms.dckube.scilifelab.se/forms/suggestion/">
          <div class="form-group">
            <label for="name">Name*</label>
            <input type="text" class="form-control" id="name" name="Name" required>
            <small class="form-text text-muted">Will be displayed together with the announcement.</small>
          </div>
          <div class="form-group">
            <label for="contact">Email address and/or other contact information*</label>
            <input type="text" class="form-control" id="contact" name="Email" required>
            <small class="form-text text-muted">Will be displayed together with the announcement.</small>
          </div>
          <div class="form-group">
            <label for="title">Announcement title*</label>
            <input type="text" class="form-control" id="title" name="title" required>
            <small class="form-text text-muted">One line to describe what the announcement is about.</small>
          </div>
          <div class="form-group">
            <label for="announcement">Announcement text*</label>
            <textarea class="form-control" id="announcement" name="Description" rows="3" required></textarea>
          </div>
         <div class="g-recaptcha" data-sitekey="6LesV0gaAAAAAGFjazG7Hd_hN72cpeYm2woivBT3"></div>
          <input type="url" id="originUrl" name="originUrl" value="" hidden />
          <div class="form-group row">
            <div class="col-sm-9">
                <button type="button" class="btn btn-secondary mt-3" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div><p>Please note that the submitted announcements will appear after moderation. The Portal team checks the submissions regularly to publish new announcements as soon as possible. Get in touch with us by e-mail if you have any questions.</p>
          <p>Our personal data policy <a href="/privacy/">can be found on this page</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var form = document.querySelector('.needs-validation-ann');
  form.addEventListener('submit', function(event){
      if(form.checkValidity() === false) {
        event.preventDefault();
        alert("Please fill out all required fields.");
        event.stopPropagation();
        form.classList.add('was-validated')
      }
      var recaptcha = $("#g-recaptcha-response").val();
      if (recaptcha === "") {
          event.preventDefault();
          alert("Please tick 'I'm not a robot' above the 'Submit' button.");
      }
  })

  document.getElementById('originUrl').value = location.href;

  $(function(){
    var requiredCheckboxes = $(':checkbox[required]');
    requiredCheckboxes.change(function(){
        if(requiredCheckboxes.is(':checked')) {
            requiredCheckboxes.removeAttr('required');
        } else {
            requiredCheckboxes.attr('required', 'required');
        }
    });
  });

</script>
