<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#dataModal">
  Suggest available data
</button>

<!-- Modal -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dataModalLabel">Suggest available data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-2">You are welcome to submit information about your own dataset or a suggestion for a dataset published by someone else that you think may be useful on this page. Information about both openly available and restricted access datasets can be submitted. In the latter case we ask for a clear description of access conditions - who will be granted access, what is the procedure, and what are are expections.</div>
        <form class="needs-validation-av-data" novalidate method="POST" action="https://forms.dckube.scilifelab.se/api/v1/form/29qKU8w1hxUQ5k7w/incoming">
          <div class="form-group">
            <label for="omicron_av_data_name">Your name</label>
            <input type="text" class="form-control" id="omicron_av_data_name" name="omicron_av_data_name">
          </div>
          <div class="form-group">
            <label for="omicron_av_data_email">Your email address</label>
            <input type="email" class="form-control" id="omicron_av_data_email" name="omicron_av_data_email">
          </div>
          <div class="form-group">
            <label for="omicron_av_data_link">If available, link to the data</label>
            <input type="text" class="form-control" id="omicron_av_data_link" name="omicron_av_data_link" required>
            <small class="form-text text-muted">Provide link to where the data can be found or, if possible, preferably DOI.</small>
          </div>
          <div class="form-group">
            <label for="omicron_av_data_description">Description of the data and access conditions</label>
            <textarea class="form-control" id="omicron_av_data_description" name="omicron_av_data_description" rows="3" required></textarea>
            <small class="form-text text-muted">If data is not available openly, please provide a clear description of access conditions - who will be granted access, what is the procedure, and what are are expections.</small>
          </div>
          <div id="form_av_data_recaptcha"></div>
          <input type="url" id="originUrl_av_data" name="originUrl" value="" hidden />
          <input type='hidden' name='origin' value='omicron_voc_av_data'>
          <div class="form-group row">
            <div class="col-sm-9">
                <button type="button" class="btn btn-secondary mt-3" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div><p>Please note that the submitted available data will appear after moderation. The Portal team checks the submissions regularly to publish new available data as soon as possible. Get in touch with us by e-mail if you have any questions.</p>
          <p>Our personal data policy <a href="/privacy/">can be found on this page</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
