<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table id="{{ if gt (len $.Site.Data.omicron_page_pubs) 10 }}pubs_table{{ end }}" class="table table-hover table-bordered" width="100%">
        <thead class="thead-light">
          <tr>
            <th scope="col">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).pubs_pub }}</th>
            <th scope="col">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).pubs_updated }}</th>
          </tr>
        </thead>
        <tbody>
          {{ range $index, $entry := $.Site.Data.omicron_page_pubs }}
            <tr>
              <td>
                <strong><a target="_blank" href="{{ if .doi }}https://doi.org/{{ .doi }}{{ else }}https://pubmed.ncbi.nlm.nih.gov/{{ .pmcid }}{{ end}}">{{ .title }}</a></strong><br>
                  <span class="text-muted"> {{ if gt (len .authors) 200 }}{{ slicestr .authors 0 200}}[...]{{ else }}{{ .authors }}{{ end }}</span><br>
                  <span><i>{{ .journal }}</i>{{ if .volume }}
                    <b>{{ .volume }}</b>{{ end }}{{if .issue }}
                    ({{ .issue }}){{ end }}{{ if .pages }} {{ .pages }}{{ end }}.</span> <span class="text-muted">{{ if .doi }}DOI: {{ .doi }}{{ else }}PMCID: {{ .pmcid}}{{ end }}</span>{{ if eq .preprint "Y"}} <span class="preprint-icon">preprint</span>{{ end }}
                {{if .abstract }}<br>
                  <a class="btn btn-link text-dark" data-toggle="collapse" href="#abstract{{ $index }}"
                    role="button" aria-expanded="false" aria-controls="abstract{{ $index }}">
                    Abstract <i class="bi bi-caret-down-fill"></i></a>
                  <div class="collapse" id="abstract{{ $index }}">
                    <div class="card card-body">{{ .abstract }}</div>
                  </div>
                {{ end }}
              </td>
              <td>{{ .first_pub_date }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</div>



<script>
  $(document).ready(function() {
    $('#pubs_table').DataTable({
        "sDom": '<"top row"<"col-md"i><"col-md"f>>rt<"bottom row"<"col-md"l><"col-md"p>><"clear">',
        "order": [[ 1, "desc" ]],
        "columnDefs": [{ "orderable": false, "targets": 1 }],
        {{ if eq $.Site.Language.LanguageName "English" }}
        "language": {
             "lengthMenu": "Show _MENU_ publications per page",
             "zeroRecords": "Nothing found.",
             "info": "Showing _START_ to _END_ of _TOTAL_ entries.",
             "infoEmpty": "No publications available",
             "infoFiltered": "(filtered from _MAX_ total records)",
             "search": "Search:",
             "paginate": {
                "first":      "First",
                "last":       "Last",
                "next":       "»",
                "previous":   "«"
                }
            }
        {{ else }}
        "language": {
             "lengthMenu": "Visa _MENU_ publikationer per sida",
             "zeroRecords": "Inga resultat",
             "info": "Visar _START_-_END_ av _TOTAL_ poster.",
             "infoEmpty": "Inga publikationer",
             "infoFiltered": "(filtrerad av _MAX_ poster)",
             "search": "Sök:",
             "paginate": {
                "first":      "Första",
                "last":       "Sista",
                "next":       "»",
                "previous":   "«"
                }
            }
        {{ end }}
    }
    );
} );
</script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
