<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#dataModal">
  Suggest available data
</button>

<!-- Modal -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dataModalLabel">Suggest available data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-2">You are welcome to submit information about your own dataset or a suggestion for a dataset published by someone else that you think may be useful on this page. Information about both openly available and restricted access datasets can be submitted. In the latter case we ask for a clear description of access conditions - who will be granted access, what is the procedure, and what are are expections.</div>
        <form>
          <div class="form-group">
            <label for="name">Your name</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="contact">Your email address</label>
            <input type="email" class="form-control" id="contact">
          </div>
          <div class="form-group">
            <label for="link">If available, link to the data</label>
            <input type="text" class="form-control" id="link">
            <small class="form-text text-muted">Provide link to where the data can be found or, if possible, preferably DOI.</small>
          </div>
          <div class="form-group">
            <label for="description">Description of the data and access conditions</label>
            <textarea class="form-control" id="description" rows="3"></textarea>
            <small class="form-text text-muted">If data is not available openly, please provide a clear description of access conditions - who will be granted access, what is the procedure, and what are are expections.</small>
          </div>
          <div class="form-group">
            <label for="own_dataset">Is this your own dataset?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="own_dataset" id="yes" value="yes" required>
              <label class="form-check-label" for="yes">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="own_dataset" id="no" value="no">
              <label class="form-check-label" for="no">No</label>
            </div>
            <small class="form-text text-muted">In case it is your own dataset, we may get in touch with you if we need clarifications.</small>
          </div>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
      <div class="modal-footer">
        <div>Please note that the submitted available data will appear after moderation. The Portal team checks the submissions regularly to publish new available data as soon as possible. Get in touch with us by e-mail if you have any questions.</div>
      </div>
    </div>
  </div>
</div>
