<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>

<script>
  var form_ann = document.querySelector('.needs-validation-ann');
  form_ann.addEventListener('submit', function(event){
      if(form_ann.checkValidity() === false) {
        event.preventDefault();
        alert("Please fill out all required fields.");
        event.stopPropagation();
        form_ann.classList.add('was-validated')
      }
  })

  var form_av_data = document.querySelector('.needs-validation-av-data');
  form_av_data.addEventListener('submit', function(event){
      if(form_av_data.checkValidity() === false) {
        event.preventDefault();
        alert("Please fill out all required fields.");
        event.stopPropagation();
        form_av_data.classList.add('was-validated')
      }
  })

  document.getElementById('originUrl_ann').value = location.href;
  document.getElementById('originUrl_av_data').value = location.href;

  // Add ARIA label for recaptcha
  window.addEventListener("load", function () {
    $('textarea#g-recaptcha-response').attr('aria-label', "The recaptcha response will appear here");
    $('textarea#g-recaptcha-response-1').attr('aria-label', "The recaptcha response will appear here");
  });

</script>
