{{ if gt (len $.Site.Data.omicron_page_av_data_swe) 0 }}
  <ul>
    <li><p>The <a href="https://www.scilifelab.se/pandemic-response/pandemic-laboratory-preparedness/swedish-environmental-epidemiology-center-seec/">Swedish Environmental Epidemiology Center</a> is collecting wastewater samples from cities across Sweden and investigating frequency of variant specific SARS-CoV-2 mutations. Samples from Kalmar, Umeå, Uppsala, Örebro, Stockholm, Malmö wastewater treatment plants were analyzed. Obtained data for weeks 49-52 of 2021 and 1-2 of 2022 <a href="https://blobserver.dckube.scilifelab.se/blob/sarscov2_frequency_of_mutations.csv/info">can be downloaded here</a>. PIs: Maja Malmberg (<a href="mailto:maja.malmberg@slu.se">maja.malmberg@slu.se</a>), Anna J. Székely (<a href="mailto:anna.szekely@slu.se">anna.szekely@slu.se</a>), Zeynep Çetecioğlu Gürol (<a href="mailto:zeynepcg@kth.se">zeynepcg@kth.se</a>).</p>
    <p><a href="/voc/delta_omicron_all_B1_2_simple.pdf"><img src="/voc/delta_omicron_all_B1_2_simple.png" alt="Frequency of variant specific mutations"></a></p>
  </li>
    {{ range $.Site.Data.omicron_page_av_data_swe }}
    <li><p>{{ .mdtext | markdownify }}</p></li>
    {{ end }}
  </ul>
{{ else }}
  <p class="text-muted">No openly available data from Swedish researchers tracked as of 2022-01-03.</p>
{{ end }}
