{{ $origin := .Get "origin" }}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#annModal">
  Add an announcement
</button>

<!-- Modal -->
<div class="modal fade" id="annModal" tabindex="-1" role="dialog" aria-labelledby="annModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="annModalLabel">Add an announcement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="needs-validation-ann" novalidate method="POST" action="https://forms.dckube.scilifelab.se/api/v1/form/y7stZwUn2oZZXtXF/incoming" accept-charset="utf-8">
          <div class="form-group">
            <label for="name">Name*</label>
            <input type="text" class="form-control" id="name" name="name" required>
            <small class="form-text text-muted">May be displayed together with the announcement if you wish so.</small>
          </div>
          <div class="form-group">
            <label for="contact">Email address and/or other contact information*</label>
            <input type="text" class="form-control" id="contact" name="contact" required>
            <small class="form-text text-muted">May be displayed together with the announcement if you wish so.</small>
          </div>
          <div class="form-group">
            <label for="title">Announcement title*</label>
            <input type="text" class="form-control" id="title" name="title" required>
            <small class="form-text text-muted">One line to describe what the announcement is about.</small>
          </div>
          <div class="form-group">
            <label for="text">Announcement text*</label>
            <textarea class="form-control" id="text" name="text" rows="3" required></textarea>
          </div>
          <div id="form_ann_recaptcha"></div>
          <div class="g-recaptcha" data-sitekey="6LesV0gaAAAAAGFjazG7Hd_hN72cpeYm2woivBT3"></div>
          <input type="url" id="originUrl_ann" name="originUrl" value="" hidden />
          <input type='hidden' name='origin' value='{{ $origin }}'>
          <div class="form-group row">
            <div class="col-sm-9">
                <button type="button" class="btn btn-secondary mt-3" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div><p>Please note that the submitted announcements will appear after moderation. The Portal team checks the submissions regularly to publish new announcements as soon as possible. Get in touch with us by e-mail if you have any questions.</p>
          <p>Our personal data policy <a href="/privacy/">can be found on this page</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
