<div class="container">
  <div class="col-lg">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover funding-opportunities" width="100%">
          <thead class="thead-light">
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Principal Investigator (Affiliation)</th>
            </tr>
          </thead>
          <tr>
            <td scope="row"><a href="/resources/rapid-seq/">Rapid establishment of comprehensive laboratory
                pandemic preparedness – RAPID‐SEQ</a></td>
            <td>Jan Albert (Karolinska Instititutet)</td>
          </tr>
          <tr>
            <td scope="row"><a href="/resources/g3p/">Genomic Pandemic Preparedness portfolio (G3P)</a>
            </td>
            <td>Valtteri Wirta (Karolinska Institutet)</td>
          </tr>
          <tr>
            <td scope="row"><a href="/resources/immunomonitoring/">Systems‐level immunomonitoring to unravel immune
                response to a novel pathogen</a></td>
            <td>Petter Brodin (Karolinska Instituet)</td>
          </tr>
          <tr>
            <td scope="row"><a href="/resources/bsl3/">BSL3 Biomedicum‐SciLifeLab collaborative
                platform</a></td>
            <td>Antonio Rothfuchs (Karolinska Institutet)</td>
          </tr>
          <tr>
            <td scope="row"><a href="/resources/sample-center/">Pandemic sample center to build up readiness to
                connect SciLifeLab infrastructure and
                university hospitals</a></td>
            <td>Janne Lehtiö (Karolinska Institutet)</td>
          </tr>
          <tr>
            <td scope="row"><a href="/resources/seec/">Establishment of the Swedish Environmental
                Epidemiology Center (SEEC)</a></td>
            <td>Anna Székely (Swedish University of Agricultural Sciences)</td>
          </tr>
          <tr>
            <td scope="row"><a href="/resources/zsc/">ZSC: National core facility for Pandemic
                Preparedness</a></td>
            <td>Åke Lundkvist (Uppsala univerisity)</td>
          </tr>
          <tr>
            <td scope="row"><a href="/resources/serology/">Multiplex and high‐throughput multi‐disease
                serology</a></td>
            <td>Peter Nilsson (KTH Royal Institute of Technology)</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>