<div class="container">
  <div class="col-lg">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover funding-opportunities" width="100%">
          <thead class="thead-light">
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Principal Investigator (Affiliation)</th>
            </tr>
          </thead>
          <tr>
            <td scope="row">Preparedness by Early Detection of Infections in
              the Elderly</td>
            <td>Mattias Forsell (Umeå University)</td>
          </tr>
          <tr>
            <td scope="row">Rapid discovery of neutralizing monoclonal
              antibodies for first line defense
            </td>
            <td>Gunilla B. Hedestam Karlsson (Karolinska Institutet)</td>
          </tr>
          <tr>
            <td scope="row">Monitoring the Swedish population-level
              Neutralization of current and emerging SARSCoV-2 variants – "SwedN"</td>
            <td>Benjamin Murrell (Karolinska Institutet)</td>
          </tr>
          <tr>
            <td scope="row">Pandemic preparedness against antimicrobial
              resistance through wastewater monitoring</td>
            <td>Sanna Koskiniemi (Uppsala University)</td>
          </tr>
          <tr>
            <td scope="row">Strengthening population health surveillance and
              epidemics monitoring by microsampling</td>
            <td>Claudia Fredolini (Karolinska Institutet)</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>