<div class="container">
  <div class="col-lg">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover funding-opportunities" width="100%">
          <thead class="thead-light">
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Principal Investigator (Affiliation)</th>
            </tr>
          </thead>
          <tr>
            <td scope="row"><a href="/resources/early_detection_elderly/">Preparedness by Early Detection of Infections
                in
                the Elderly</a></td>
            <td>Mattias Forsell (Umeå University)</td>
          </tr>
          <tr>
            <td scope="row"><a href="/resources/monoclonal_antibodies/">Rapid discovery of neutralizing monoclonal
                antibodies for first line defense</a>
            </td>
            <td>Gunilla B. Hedestam Karlsson (Karolinska Institutet)</td>
          </tr>
          <tr>
            <td scope="row"><a href="/resources/swedn/">Monitoring the Swedish population-level
                Neutralization of current and emerging SARSCoV-2 variants (SwedN)</a></td>
            <td>Benjamin Murrell (Karolinska Institutet)</td>
          </tr>
          <tr>
            <td scope="row"><a href="/resources/amr_wastewater/">Pandemic preparedness against antimicrobial
                resistance through wastewater monitoring</a></td>
            <td>Sanna Koskiniemi (Uppsala University)</td>
          </tr>
          <tr>
            <td scope="row"><a href="/resources/microsampling_monitor/">Strengthening population health surveillance and
                epidemics monitoring by microsampling</a></td>
            <td>Claudia Fredolini (Karolinska Institutet)</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>