<div class="container">
  <div class="col-lg">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover funding-opportunities" width="100%">
          <thead class="thead-light">
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Principal Investigator (Affiliation)</th>
              <th scope="col">Clinical Microbiology Lab</th>
            </tr>
          </thead>
          <tr>
            <td scope="row"><a href="/resources/ng_clinical_virology/">Next generation clinical virology</a></td>
            <td>Tobias Allander (KI)</td>
            <td>Karolinska University Hospital</td>
          </tr>
          <tr>
            <td scope="row"><a href="/resources/seq_based_diagnostics/">Establishing sequencing-based viral diagnostics
                for future clinical use: towards pandemic and outbreak preparedness in the clinical laboratory</a></td>
            <td>Patrik Medstrand (LU)</td>
            <td>Lund University and Region Skåne</td>
          </tr>
          <tr>
            <td scope="row"><a href="/resources/glip/">Gothenburg Initiative for Pandemic Laboratory
                Preparedness (GILP)</a></td>
            <td>Magnus Lindh (GU)</td>
            <td>Sahlgrenska University Hospital</td>
          </tr>
          <tr>
            <td scope="row"><a href="/resources/preanalytics/">Pre-analytics for Pandemic Preparedness</a></td>
            <td>Martin Sundqvist (ÖRU)</td>
            <td>Örebro University Hospital</td>
          </tr>
          <tr>
            <td scope="row"><a href="/resources/track_path/">Preparedness for tracking resistant and virulent
                bacterial and fungal pathogens (TRACK-PATH)</a></td>
            <td>Christian Giske (KI)</td>
            <td>Karolinska Institutet</td>
          </tr>
          <tr>
            <td scope="row"><a href="/resources/ngs_surveillance/">Development of a targeted metagenomic NGS
                platform for diagnostics and epidemiological surveillance of viral pandemic threats</a></td>
            <td>Lisa Pettersson (UmU)</td>
            <td>Umeå University Hospital</td>
          </tr>
          <tr>
            <td scope="row"><a href="/resources/rapid_type_variants/">Rapid typing of emerging variants in a clinical
                setting</a></td>
            <td>Anders Bergqvist (UU)</td>
            <td>Uppsala University Hospital</td>
          </tr>
          <tr>
            <td scope="row"><a href="/resources/metagenomic_seq_pathogens/">Metagenomic sequencing for pathogen
                identification and analysis</a></td>
            <td>Jenny Welander (LiU)</td>
            <td>Linköping University Hospital</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>