{{ $category := .Get "category" }}
{{ $plp_pages := where .Site.RegularPages "Section" "resources" }}
{{ $plp_specific := where $plp_pages ".Params.category" $category }}

<div class="container">
  <div class="table-responsive">
    <table class="table table-hover" width="100%">
      <thead class="thead-light">
        <tr>
          <th scope="col">Project</th> 
          {{ if eq $category "tdp" }}
              <th scope="col">Principal Investigator (Affilition)</th>
              <th>Clinical Microbiology Lab</th>
          {{ else }}
              <th scope="col">Principal Investigator</th>
              <th scope="col">Affiliation</th>
          {{ end }}
        </tr>
      </thead>
      {{ range $plp_specific }}
      <tr>
        <td scope="row"><a href="{{ .Page.RelPermalink }}">{{ .Title }}</a></td>
        {{ if eq $category "tdp" }}
            <td>{{ .Params.resource_info.pi }} ({{ .Params.resource_info.pi_affiliation }})</td>
            <td>{{ .Params.resource_info.lab }}</td>
        {{ else }}
            <td>{{ .Params.resource_info.pi }}</td>
            <td>{{ .Params.resource_info.pi_affiliation }}</td>
        {{ end }}
      </tr>
      {{ end }}
    </table>
  </div>
</div>
