<div class="container">
  <div class="col-lg">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover funding-opportunities" width="100%">
          <thead class="thead-light">
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Principal Investigator (Affiliation)</th>
              <th scope="col">Clinical Microbiology Lab</th>
            </tr>
          </thead>
          <tr>
            <td scope="row">Next generation clinical virology</td>
            <td>Tobias Allander (KI)</td>
            <td>Clin Micro KS</td>
          </tr>
          <tr>
            <td scope="row">Establishing sequencing-based viral diagnostics
              for future clinical use: towards pandemic and outbreak preparedness in the clinical laboratory
            </td>
            <td>Patrik Medstrand (LU)</td>
            <td>Clin Micro Lund</td>
          </tr>
          <tr>
            <td scope="row">Gothenburg Initiative for Pandemic Laboratory
              Preparedness (GILP)</td>
            <td>Magnus Lindh (GU)</td>
            <td>Clin Micro Gbg</td>
          </tr>
          <tr>
            <td scope="row">Pre-analytics for Pandemic Preparedness</td>
            <td>Martin Sundqvist (ÖRU)</td>
            <td>Clin Micro Örebro</td>
          </tr>
          <tr>
            <td scope="row">Preparedness for tracking resistant and virulent
              bacterial and fungal pathogens (TRACK-PATH)</td>
            <td>Christian Giske (KI)</td>
            <td>Clin Micro KS</td>
          </tr>
          <tr>
            <td scope="row">Development of a targeted metagenomic NGS
              platform for diagnostics and epidemiological surveillance of viral pandemic threats</td>
            <td>Lisa Pettersson (UmU)</td>
            <td>Clin Micro UmU</td>
          </tr>
          <tr>
            <td scope="row">Rapid typing of emerging variants in a clinical
              setting</td>
            <td>Anders Bergqvist (UU)</td>
            <td>Clin Micro UU</td>
          </tr>
          <tr>
            <td scope="row">Metagenomic sequencing for pathogen
              identification and analysis</td>
            <td>Jenny Welander (LiU)</td>
            <td>Clin Micro LiU</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>