{{ $entries_to_display := slice }}

{{ range $index, $entry := $.Site.Data.publications.publications }}
    {{ range $key, $content := .labels }}
      {{ if eq $key "Category: Post-COVID" }}
        {{ $entries_to_display = $entries_to_display | append $entry}}
      {{ end }}
    {{ end }}
{{ end }}

<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table id="{{ if gt (len $entries_to_display) 10 }}pubs_table{{ end }}" class="table table-hover table-bordered" width="100%">
        <thead class="table-light">
          <tr>
            <th scope="col">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).pubs_pub }}</th>
            <th scope="col">{{ (index $.Site.Params.lang_strings .Site.Language.Lang).pubs_updated }}</th>
          </tr>
        </thead>
        <tbody>
          {{ $valid_db_list := slice "URL" "NA" "N/A" "GENBANK" "PBD" "BioProject" "GEO" "ISRCTN" "Dryad" "PubChem-Substance" "RefSeq" "dbGaP"}}
          {{ range $index, $entry := $entries_to_display }}
          {{ $has_data := false }}
          {{ range .xrefs }}
            {{ if in $valid_db_list .db }}
              {{ $has_data = true }}
            {{ end }}
          {{ end }}
            <tr>
              <td>
                <b><a target="_blank" href="{{ if .doi }}https://doi.org/{{ .doi }}{{ else }}https://pubmed.ncbi.nlm.nih.gov/{{ .pmid }}{{ end}}">{{ .title }}</a></b><br>
                <span class="text-muted">{{ with .authors }}
                  {{ $n := sub (len .) 1}}
                  {{ range first $n . }}
                      {{ $family := (index . "family") }}
                      {{ $initials := (index . "initials") }}
                      {{ if not $initials }} {{ $initials = substr (index . "given") 0 1 }} {{ end }}
                      {{ $family }} {{ $initials }},
                  {{ end }}
                  {{ range last 1 . }}
                      {{ $family := (index . "family") }}
                      {{ $initials := (index . "initials") }}
                      {{ if not $initials }} {{ $initials = substr (index . "given") 0 1 }} {{ end }}
                      {{ $family }} {{ $initials }}
                  {{ end }}
                  {{ end }}
                </span><br>
                <i>{{ .journal.title }}</i>{{ if .journal.volume }} <b>{{ .journal.volume }}</b>{{ end }}{{if .journal.issue}} ({{ .journal.issue }}){{ end }}{{ if .journal.pages }} {{ .journal.pages }}{{ end }}.{{ if .doi}} DOI: {{ .doi }}{{ end }} {{ range $key, $content := .labels }} {{ if eq $key "Type: Preprint"}} <span class="preprint-icon">preprint</span>{{ end }}{{ end}} {{ if $has_data }}<span class="data-available-icon">data&nbsp;available</span>{{ end }}
              </td>
              <td>{{ .published }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#pubs_table').DataTable({
        "sDom": '<"top row"<"col-md"i><"col-md"f>>rt<"bottom row"<"col-md"l><"col-md"p>><"clear">',
        "order": [[ 1, "desc" ]],
        "columnDefs": [{ "orderable": false, "targets": 1 }],
        {{ if eq $.Site.Language.LanguageName "English" }}
        "language": {
             "lengthMenu": "Show _MENU_ publications per page",
             "zeroRecords": "Nothing found.",
             "info": "Showing _START_ to _END_ of _TOTAL_ entries.",
             "infoEmpty": "No publications available",
             "infoFiltered": "(filtered from _MAX_ total records)",
             "search": "Search:",
             "paginate": {
                "first":      "First",
                "last":       "Last",
                "next":       "»",
                "previous":   "«"
                }
            }
        {{ else }}
        "language": {
             "lengthMenu": "Visa _MENU_ publikationer per sida",
             "zeroRecords": "Inga resultat",
             "info": "Visar _START_-_END_ av _TOTAL_ poster.",
             "infoEmpty": "Inga publikationer",
             "infoFiltered": "(filtrerad av _MAX_ poster)",
             "search": "Sök:",
             "paginate": {
                "first":      "Första",
                "last":       "Sista",
                "next":       "»",
                "previous":   "«"
                }
            }
        {{ end }}
    }
    );
} );
</script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
