{{ $accompanying_diagnoses := getJSON "https://blobserver.dckube.scilifelab.se/blob/accompanying_diagnoses_swe.json" }}

<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-hover table-bordered" width="100%">
        <thead class="thead-light">
          <tr>
            <th scope="col">Diagnosgrupp (ICD-10-SE)</th>
            <th scope="col">Antal patienter</th>
            <th scope="col">Antal patienter (%)</th>
          </tr>
        </thead>
        <tbody>
          {{ range $accompanying_diagnoses }}
          <tr>
            <td>{{ .diagnoses_group }}</td>
            <td>{{ .number_of_patients }}</td>
            <td>{{ .percentage_of_patients }}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</div>