{{/* Fetch last update date from the json file with research projects */}}
<p><i>
   Last updated: {{ $.Site.Data.research_projects.last_updated }}
</i></p>

{{/*
  Make a list of unique funder names, PI affiliations, topics
*/}}
{{ $all_funders := slice }}
{{ $all_affiliations := slice }}
{{ $all_topics := slice }}
{{ range $.Site.Data.research_projects.projects }}
  {{ if gt (.enddate | time.Format "20060102") (now | time.Format "20060102") }}
    {{ if .funder }}
      {{ $all_funders = $all_funders | append .funder }}
    {{ end }}
    {{ if .pi_affiliation}}
      {{ $all_affiliations = $all_affiliations | append .pi_affiliation }}
    {{ end }}
    {{ range .topic }}
      {{ $all_topics = $all_topics | append . }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $funders := $all_funders | uniq }}
{{ $affiliations := $all_affiliations | uniq }}
{{ $topics := $all_topics | uniq }}

<div class="container">
  <div class="row">
    <div class="col-lg-2 pl-0 {{ if eq $.Site.Language.LanguageName "Svenska" }}mr-5{{ else }}mr-2{{ end }}">
      <h5>Topic</h5>
      <div class="col mb-2 ml-3 form-check">
          {{ range sort $topics }}
            <div class="row"><input type="checkbox" class="form-check-input" class="form-check-input" name="topic"
                value="{{ . }}">{{ . }}</div>
          {{ end }}
      </div>
      <h5>Funder</h5>
      <div class="col mb-2 ml-3 form-check">
          {{ range sort $funders }}
            <div class="row"><input type="checkbox" class="form-check-input" class="form-check-input" name="funder"
                value="{{ . }}">{{ . }}</div>
          {{ end }}
      </div>
      <h5>PI affiliation</h5>
      <div class="col mb-2 ml-3 form-check">
          {{ range sort $affiliations }}
            <div class="row"><input type="checkbox" class="form-check-input" name="pi_affiliation"
                value="{{ . }}">{{ . }}</div>
          {{ end }}
      </div>
    </div>
    <div class="col-lg">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-hover" width="100%">
            <thead class="thead-light">
              <tr>
                <th scope="col">Project title</th>
                <th scope="col">Funder</th>
                <th scope="col">Topics</th>
              </tr>
            </thead>
            <tbody>
              {{ range $ind, $cont := $.Site.Data.research_projects.projects }}
              {{ if gt (.enddate | time.Format "20060102") (now | time.Format "20060102") }}
              <tr>
                <td>
                  <div class="row">
                    <div class="col">
                      <h6>{{ if .url }}<a href="{{ .url }}">{{ end }}{{ .project_title }}{{ if .url }}</a>{{ end }}</h6>
                      {{ if or .pi .pi_affiliation }}<p class="text-muted"><b>Host institute:</b> {{ .pi_affiliation }}<br><b>Principal investigator:</b> {{ .pi }}</p>{{ end }}
                      <div class="row mt-2">
                        <div class="col">
                          <button type="button" class="btn_details btn_details_primary" data-toggle="modal" data-target="#call_details{{ $ind }}">
                            Details
                          </button>
                          <div class="modal fade" id="call_details{{ $ind }}" tabindex="-1" role="dialog" aria-labelledby="call_details{{ $ind }}Label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="call_details{{ $ind }}Label">{{ .call_title }}</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p><b>Project:</b> {{ .project_title }}<br>
                                  <b>Funder:</b> {{ .funder }}<br>
                                  {{ if .pi }}<b>Principal investigator:</b> {{ .pi }}<br>{{ end }}
                                  {{ if .pi_affiliation }}<b>Host institute:</b> {{ .pi_affiliation }}<br>{{ end }}
                                  {{ if or .startdate .enddate }}<b>Duration:</b> {{ .startdate}} – {{ .enddate }}<br>{{ end }}
                                  {{ if .funding_amount }}<b>Funding amount:</b> {{ .funding_amount}}<br>{{ end }}
                                  </p>
                                  {{ if .project_description }}<p><b>Project description:</b><br><small>{{ .project_description | markdownify }}</small></p>{{ end }}
                                  {{ if .url }}<p><a href="{{ .url }}">More information about the project <i class="fas fa-arrow-circle-right" aria-hidden="true"></i></a></p>{{ end }}
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn_details btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    </div>
                  </div>

              </td>
                <td>{{ if and (eq $.Site.Language.LanguageName "Svenska") .funder_sv }}{{ .funder_sv }}{{ else }}
                  {{ .funder }}{{ end }}</td>
                <td>{{ range .topic }}<span class="mx-1 my-1 topic_badge_large
                  {{ if eq . "COVID-19"}}topic_badge_covid
                  {{ else if eq . "Infectious diseases"}}topic_badge_infectious_d
                  {{ else if eq . "Antibiotic resistance"}}topic_badge_antib_r
                  {{ else }}topic_badge_general
                  {{ end }} ">{{ . }}</span>{{ end }}</td>
              </tr>
              {{ end }}
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    var table = $('table.table').DataTable({
      "sDom": '<"top row"<"col-md"i><"col-md"f>>rt<"bottom row"<"col-md"l><"col-md"p>><"clear">',
      "order": [[0, "asc"]],
    "language": {
    "lengthMenu": "Show _MENU_ projects per page",
    "zeroRecords": "Nothing found.",
    "info": "Showing _START_ to _END_ of _TOTAL_ projects",
    "infoEmpty": "No records available",
    "infoFiltered": "(filtered from _MAX_ projects in total).",
    "search": "Search:",
    "paginate": {
      "first": "First",
      "last": "Last",
      "next": "»",
      "previous": "«"
    }
  }
  }
  );

  $('input:checkbox').on('change', function () {

    // PI affiliation filter
    var pi_affiliation = $('input:checkbox[name="pi_affiliation"]:checked').map(function () {
      return this.value;
    }).get().join('|');

    table.column(0).search(pi_affiliation, true, false, false).draw(false);

    // Funder filter
    var funders = $('input:checkbox[name="funder"]:checked').map(function () {
      return this.value;
    }).get().join('|');

    table.column(1).search(funders, true, false, false).draw(false);

    // Topic filter
    var topics = $('input:checkbox[name="topic"]:checked').map(function () {
      return this.value;
    }).get().join('|');

    table.column(4).search(topics, true, false, false).draw(false);
  });

} );


</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
