<div id="accordion">
  <div class="card">
    <div class="card-header mb-0" id="headingOne">
      <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Using the Webin File Uploader
      </a>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <span>The most user-friendly approach is to <a href="https://ena-docs.readthedocs.io/en/latest/submit/fileprep/upload.html#using-webin-file-uploader">
          use the Webin File Uploader</a>. This is a Java web start application that can be downloaded 
          <a href="https://enasequence.github.io/sub-file-uploader/WebinUploader.jnlp">fom ENA</a>. After Java is set up, 
          follow the steps below:
<ol>
<li>Launch the application.</li>
<li>Enter your Webin username in the <b>Username</b> field and your Webin password in the <b>Password</b> field.</li>
<li>Browse into the local <b>Upload Directory</b>, which contains the data files that you want to upload. You can use the `...` button to do this.</li>
<li>Click <b>OK</b> to see a list of all files contained in the selected directory displayed in the Webin File Uploader window.</li>
<li>Choose the <b>Overwrite</b> option if you want to replace any existing files that were previously uploaded.</li>
<li>Choose the <b>Upload Tree</b> option if you wish to preserve the directory structure when uploading files to the Webin upload area. By default, the files will be uploaded into the root directory of your Webin upload area.</li>
<li>Select the files to upload. You can use the <b>Select All</b> button to select all of the files for upload.</li>
<li>Click on the <b>Upload</b> button.</li>
</ol>
The above steps are adapted from <a href="https://ena-docs.readthedocs.io/en/latest/submit/fileprep/upload.html#using-webin-file-uploader">ENA</a></span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header mb-0" id="headingTwo">
      <a class="btn btn-link collapsed" data-bs-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Use the command line FTP client
      </a>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <span>Another option is to use a command line FTP client in Linux or Mac:
<ol>
<li>Open a terminal and type <code>lftp webin2.ebi.ac.uk -u Webin-xxxxx</code>. Enter your username at the end in place of xxxxx.</li>
<li>Enter your password when prompted.</li>
<li>Type <code>ls</code> to check the content of your drop box.</li>
<li>Use the <code>mput &lt;filename&gt;</code> command to upload files.</li>
<li>Use the <code>bye</code> command to exit the FTP client.</li>
</ol>
The above steps are adapted from <a href="https://ena-docs.readthedocs.io/en/latest/submit/fileprep/upload.html#uploading-files-using-command-line-ftp-client">ENA</a></span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header mb-0" id="headingThree">
      <a class="btn btn-link collapsed" data-bs-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Use the Windows File Explorer
      </a>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <span>It is also possible to use Windows File Explorer:
<ol>
<li>Launch the Windows File Explorer application.</li>
<li>Click on <b>Add a network location</b> in the <b>Computer</b> tab.</li>
<li>Click <b>Next</b>.</li>
<li>Select <b>Choose a custom network location</b> and click <b>Next</b>.</li>
<li>Type <code>ftp://webin.ebi.ac.uk</code> in the <b>Internet or network address</b> field and click <b>Next</b>.</li>
<li>Unselect <b>Log on anonymously</b>, type your Webin user name in the <b>User name</b> field and click <b>Next</b>.</li>
<li>Type a network location to show in Windows Explorer e.g. `webin.ebi.ac.uk` then click <b>Next</b>.</li>
<li>Click <b>Finish</b>.</li>
<li>When using the new folder you will be prompted for your Webin password. Type your password and click <b>Log on</b>.</li>
</ol>
The above steps are adapted from <a href="https://ena-docs.readthedocs.io/en/latest/submit/fileprep/upload.html#using-windows-file-explorer">ENA</a></span>
      </div>
    </div>
  </div>
</div>

<br>
