<script>
   var to_be_added = new Array();
   to_be_added[0] = "https://blobserver.dckube.scilifelab.se/blob/Total_vaccinated_barchart.json/info.json";
   to_be_added[1] = "https://blobserver.dckube.scilifelab.se/blob/vaccine_text_inserts.json";



   var els = new Array();
   els[0] = "visualisations_date_modified"
   els[1] = "eligible_one_dose"
   els[2] = "population_one_dose"
   els[3] = "eligible_one_dose_lastweek"
   els[4] = "eligible_one_dose_rate_change"
   els[5] = "population_one_dose_lastweek"
   els[6] = "population_one_dose_rate_change"
   els[7] = "eligible_two_doses"
   els[8] = "population_two_doses"
   els[9] = "eligible_two_doses_lastweek"
   els[10] = "population_two_doses_lastweek"
   els[11] = "eligible_two_doses_rate_change"
   els[12] = "population_two_doses_rate_change"
   els[13] = "eligible_three_doses"
   els[14] = "population_three_doses"
   els[15] = "eligible_three_doses_lastweek"
   els[16] = "eligible_three_doses_rate_change"
   els[17] = "population_three_doses_lastweek"
   els[18] = "population_three_doses_rate_change"
   els[19] = "population_four_doses"
   els[20] = "eligible_four_doses"
   els[21] = "population_four_doses_lastweek"
   els[22] = "population_four_doses_rate_change"
   els[23] = "eligible_four_doses_lastweek"
   els[24] = "eligible_four_doses_rate_change"
   els[25] = "population_five_doses"
   els[26] = "eligible_five_doses"
   els[27] = "population_five_doses_lastweek"
   els[28] = "population_five_doses_rate_change"
   els[29] = "eligible_five_doses_lastweek"
   els[30] = "eligible_five_doses_rate_change"

   var request = new Array();

   for (var i = 0; i < 2; i++) {
      (function (i) {
         request[i] = new XMLHttpRequest();
         request[i].open("GET", to_be_added[i], true);
         request[i].onreadystatechange = function (oEvent) {
            if (i == 0 & this.readyState == 4 && this.status == 200) {
               var file_info = JSON.parse(this.responseText);
               document.getElementById(els[0]).innerText = String(file_info.modified).substring(0, 10);
            };
            if (i == 1 & this.readyState == 4 && this.status == 200) {
               var content = JSON.parse(this.responseText);
               document.getElementById(els[1]).innerText = String(content.eligible_one_dose);
               document.getElementById(els[2]).innerText = String(content.population_one_dose);
               document.getElementById(els[3]).innerText = String(content.eligible_one_dose_lastweek);
               document.getElementById(els[4]).innerText = String(content.eligible_one_dose_rate_change);
               document.getElementById(els[5]).innerText = String(content.population_one_dose_lastweek);
               document.getElementById(els[6]).innerText = String(content.population_one_dose_rate_change);
               document.getElementById(els[7]).innerText = String(content.eligible_two_doses);
               document.getElementById(els[8]).innerText = String(content.population_two_doses);
               document.getElementById(els[9]).innerText = String(content.eligible_two_doses_lastweek);
               document.getElementById(els[10]).innerText = String(content.population_two_doses_lastweek);
               document.getElementById(els[11]).innerText = String(content.eligible_two_doses_rate_change);
               document.getElementById(els[12]).innerText = String(content.population_two_doses_rate_change);
               document.getElementById(els[13]).innerText = String(content.eligible_three_doses);
               document.getElementById(els[14]).innerText = String(content.population_three_doses);
               document.getElementById(els[15]).innerText = String(content.eligible_three_doses_lastweek);
               document.getElementById(els[16]).innerText = String(content.eligible_three_doses_rate_change);
               document.getElementById(els[17]).innerText = String(content.population_three_doses_lastweek);
               document.getElementById(els[18]).innerText = String(content.population_three_doses_rate_change);
               document.getElementById(els[19]).innerText = String(content.population_four_doses);
               document.getElementById(els[20]).innerText = String(content.eligible_four_doses);
               document.getElementById(els[21]).innerText = String(content.population_four_doses_lastweek);
               document.getElementById(els[22]).innerText = String(content.population_four_doses_rate_change);
               document.getElementById(els[23]).innerText = String(content.eligible_four_doses_lastweek);
               document.getElementById(els[24]).innerText = String(content.eligible_four_doses_rate_change);
               document.getElementById(els[25]).innerText = String(content.population_five_doses);
               document.getElementById(els[26]).innerText = String(content.eligible_five_doses);
               document.getElementById(els[27]).innerText = String(content.population_five_doses_lastweek);
               document.getElementById(els[28]).innerText = String(content.population_five_doses_rate_change);
               document.getElementById(els[29]).innerText = String(content.eligible_five_doses_lastweek);
               document.getElementById(els[30]).innerText = String(content.eligible_five_doses_rate_change);
            };
         };
         request[i].send(null);
      })(i);
   }

</script>