{{ $voc_pages := first 3 (.Site.Taxonomies.highlights_vocs.Get (.Get "voc_name")) }}

<div class="container mb-4">
  <div class="row">
    {{ range $voc_pages }}
        <div class="col-md mx-2 mb-2 border bg-light">
          <img style="margin-top:0.5rem" src="{{ .Params.banner }}" alt="{{ .Title }}">
          <h6><a href="{{ .RelPermalink }}">{{ .Title }}</a></h6>
          <p class="small text-muted">{{.Date.Format "2006-01-02"}}</p>
          <p>{{ .Summary }}</p>
        </div>
    {{ end }}
    {{ if eq (len $voc_pages) 1 }}
        <div class="col-md mx-2 mb-2"></div>
    {{ end }}
  </div>
</div>
