<div id="map" class="map"></div>
<div id="overlay" style="background-color: white; border: 1px solid black; padding: 5px 10px;">
  <script src="https://openlayers.org/en/v5.3.0/build/ol.js"></script>
  <script>
// locations
var mapStart = ol.proj.transform([14.7, 60.8], 'EPSG:4326', 'EPSG:3857');
var uppsala = ol.proj.transform([17.640360, 59.858015], 'EPSG:4326', 'EPSG:3857');
var stockholm = ol.proj.transform([18.072615, 59.325241], 'EPSG:4326', 'EPSG:3857');
var umeaa = ol.proj.transform([20.265564, 63.824462], 'EPSG:4326', 'EPSG:3857');
var orebro = ol.proj.transform([15.213611, 59.274811], 'EPSG:4326', 'EPSG:3857');
var kalmar = ol.proj.transform([16.355717693517096, 56.66385502472018], 'EPSG:4326', 'EPSG:3857');
var ekero = ol.proj.transform([17.790619916834878, 59.279578038969696], 'EPSG:4326', 'EPSG:3857');
var enkoping = ol.proj.transform([17.077983220073797, 59.635581771654564], 'EPSG:4326', 'EPSG:3857');
var knivsta = ol.proj.transform([17.791742641211478, 59.72618716084748], 'EPSG:4326', 'EPSG:3857');
var tierp = ol.proj.transform([17.519953566631017, 60.34732022885073], 'EPSG:4326', 'EPSG:3857');
var vaxholm = ol.proj.transform([18.328313440126077, 59.403145393512034], 'EPSG:4326', 'EPSG:3857');
var alvkarleby = ol.proj.transform([17.448652867267068, 60.56862983522246], 'EPSG:4326', 'EPSG:3857');
var osteraker = ol.proj.transform([18.298028674534518, 59.48178878747741], 'EPSG:4326', 'EPSG:3857');
var osthammar = ol.proj.transform([18.365252470912477, 60.25920939154839], 'EPSG:4326', 'EPSG:3857');

// add features
var uppsalaSource = new ol.source.Vector({
});
var stockholmSource = new ol.source.Vector({
});
var umeaaSource = new ol.source.Vector({
});
var orebroSource = new ol.source.Vector({
});
var kalmarSource = new ol.source.Vector({
});
var ekeroSource = new ol.source.Vector({
});
var enkopingSource = new ol.source.Vector({
});
var knivstaSource = new ol.source.Vector({
});
var tierpSource = new ol.source.Vector({
});
var vaxholmSource = new ol.source.Vector({
});
var alvkarlebySource = new ol.source.Vector({
});
var osterakerSource = new ol.source.Vector({
});
var osthammarSource = new ol.source.Vector({
});

var uppsalaFeature = new ol.Feature({
geometry: new ol.geom.Point(uppsala),
name: 'Uppsala',
});
uppsalaSource.addFeature(uppsalaFeature);

var stockholmFeature = new ol.Feature({
geometry: new ol.geom.Point(stockholm),
name: 'Stockholm: Henriksdal, Bromma, and Käppala wastewater treatment plants',
});
stockholmSource.addFeature(stockholmFeature);

var umeaaFeature = new ol.Feature({
geometry: new ol.geom.Point(umeaa),
name: 'Umeå',
});
umeaaSource.addFeature(umeaaFeature);

var orebroFeature = new ol.Feature({
geometry: new ol.geom.Point(orebro),
name: 'Örebro',
});
orebroSource.addFeature(orebroFeature);

var kalmarFeature = new ol.Feature({
geometry: new ol.geom.Point(kalmar),
name: 'Kalmar',
});
kalmarSource.addFeature(kalmarFeature);

var ekeroFeature = new ol.Feature({
geometry: new ol.geom.Point(ekero),
name: 'Ekerö',
});
ekeroSource.addFeature(ekeroFeature);

var enkopingFeature = new ol.Feature({
geometry: new ol.geom.Point(enkoping),
name: 'Enköping',
});
enkopingSource.addFeature(enkopingFeature);

var knivstaFeature = new ol.Feature({
geometry: new ol.geom.Point(knivsta),
name: 'Knivsta',
});
knivstaSource.addFeature(knivstaFeature);

var tierpFeature = new ol.Feature({
geometry: new ol.geom.Point(tierp),
name: 'Tierp',
});
tierpSource.addFeature(tierpFeature);

var vaxholmFeature = new ol.Feature({
geometry: new ol.geom.Point(vaxholm),
name: 'Vaxholm',
});
vaxholmSource.addFeature(vaxholmFeature);

var alvkarlebyFeature = new ol.Feature({
geometry: new ol.geom.Point(alvkarleby),
name: 'Älvkarleby',
});
alvkarlebySource.addFeature(alvkarlebyFeature);

var osterakerFeature = new ol.Feature({
geometry: new ol.geom.Point(osteraker),
name: 'Österåker',
});
osterakerSource.addFeature(osterakerFeature);

var osthammarFeature = new ol.Feature({
geometry: new ol.geom.Point(osthammar),
name: 'Östhammar',
});
osthammarSource.addFeature(osthammarFeature);

//create the style
var pointStyle = new ol.style.Style({
image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
anchor: [0.5, 46],
anchorXUnits: 'fraction',
anchorYUnits: 'pixels',
opacity: 1,
src: '/img/map_marker.png'
}))
});

//add the feature vector to the layer vector, and apply a style to whole layer
var uppsalaLayer = new ol.layer.Vector({
source: uppsalaSource,
style: pointStyle
});

var stockholmLayer = new ol.layer.Vector({
source: stockholmSource,
style: pointStyle
});

var umeaaLayer = new ol.layer.Vector({
source: umeaaSource,
style: pointStyle
});

var orebroLayer = new ol.layer.Vector({
source: orebroSource,
style: pointStyle
});

var kalmarLayer = new ol.layer.Vector({
source: kalmarSource,
style: pointStyle
});

var ekeroLayer = new ol.layer.Vector({
source: ekeroSource,
style: pointStyle
});

var enkopingLayer = new ol.layer.Vector({
source: enkopingSource,
style: pointStyle
});

var knivstaLayer = new ol.layer.Vector({
source: knivstaSource,
style: pointStyle
});

var tierpLayer = new ol.layer.Vector({
source: tierpSource,
style: pointStyle
});

var vaxholmLayer = new ol.layer.Vector({
source: vaxholmSource,
style: pointStyle
});

var alvkarlebyLayer = new ol.layer.Vector({
source: alvkarlebySource,
style: pointStyle
});

var osterakerLayer = new ol.layer.Vector({
source: osterakerSource,
style: pointStyle
});

var osthammarLayer = new ol.layer.Vector({
source: osthammarSource,
style: pointStyle
});

// osm
var mapLayer = new ol.layer.Tile({
source: new ol.source.OSM()
});

var overlay = new ol.Overlay({
element: document.getElementById('overlay'),
positioning: 'bottom-center'
});

var view = new ol.View({
center: mapStart,
zoom: 5.1
});

var map = new ol.Map({
target: 'map',
layers: [mapLayer, uppsalaLayer, stockholmLayer, umeaaLayer, orebroLayer, kalmarLayer, ekeroLayer, enkopingLayer, knivstaLayer, tierpLayer, vaxholmLayer, alvkarlebyLayer, osterakerLayer, osthammarLayer],
view: view
});
// register an event handler for the click event
map.on("click", function(event) {
map.forEachFeatureAtPixel(event.pixel, function (feature, layer) {
var element = overlay.getElement();
element.innerHTML =  feature.get('name');
overlay.setPosition(event.coordinate);
map.addOverlay(overlay);
});
});

  </script>
</div>
