<script>
   var metaDataFiles = new Array(
     {
       "url": "https://blobserver.dc.scilifelab.se/blob/wastewater_data_gu_allviruses.xlsx/info.json",
       "to_update": ["last_modified_gu", "last_modified_enteric"],
       "type": "dataset"
     },
     {
       "url": "https://datagraphics.dc.scilifelab.se/api/dataset/0ac8fa02871745048491de74e5689da9",
       "to_update": ["last_modified_uppsala", "last_modified_slu_flu"],
       "type": "dataset"
     },
     {
       "url": "https://blobserver.dc.scilifelab.se/blob/stockholm_wastewater_method_Sep_2021.xlsx/info.json",
       "to_update": ["last_modified_stockholm", "last_modified_malmo"],
       "type": "dataset"
     },
     {
       "url": "https://blobserver.dc.scilifelab.se/blob/wastewater_comment_slu.json",
       "to_update": ["slu_comment_date", "slu_comment"],
       "type": "content"
     },
     {
       "url": "https://blobserver.dc.scilifelab.se/blob/wastewater_comment_kth.json",
       "to_update": ["kth_comment_date", "kth_comment"],
       "type": "content"
     },
     {
       "url": "https://blobserver.dc.scilifelab.se/blob/wastewater_comment_gu.json",
       "to_update": ["gu_comment_date", "gu_comment"],
       "type": "content"
     },
     {
       "url": "https://blobserver.dc.scilifelab.se/blob/enteric_ww_comment_gu.json",
       "to_update": ["gu_enteric_comment_date", "gu_enteric_comment"],
       "type": "content"
     },
     {
       "url": "https://blobserver.dc.scilifelab.se/blob/influenza_comment_slu.json",
       "to_update": ["slu_flu_comment_date", "slu_flu_comment"],
       "type": "content"
     }
   );

   metaDataFiles.forEach((file) => {
     var request = new XMLHttpRequest();
     request.open("GET", file.url, true);
     request.onreadystatechange = function (oEvent) {
       if (this.readyState == 4 && this.status == 200) {
         var metaInfo = JSON.parse(this.responseText);
         if (file.type === "dataset") {
           file.to_update.forEach((dKey) => {
             var lastModified = document.getElementById(dKey);
             if (lastModified) {
               lastModified.innerText = String(metaInfo.modified).substring(0, 10);
             }
           });
         } else {
           var commentDate = document.getElementById(file.to_update[0]);
           if (commentDate){
             commentDate.innerText = String(metaInfo.date);
           };
           var comment = document.getElementById(file.to_update[1]);
           if (comment){
             comment.innerText = String(metaInfo.comment);
           };
         };
       };
     };
     request.send(null);
   });

</script>