<script>
var metadata_url = new Array();
metadata_url[0] = "https://datagraphics.dckube.scilifelab.se/api/dataset/0ac8fa02871745048491de74e5689da9";
metadata_url[1] = "https://blobserver.dckube.scilifelab.se/blob/stockholm_wastewater_method_Sep_2021.xlsx/info.json";
metadata_url[2] = "https://blobserver.dckube.scilifelab.se/blob/stockholm_wastewater_method_Sep_2021.xlsx/info.json";
metadata_url[3] = "https://blobserver.dckube.scilifelab.se/blob/wastewater_comment_slu.json";
metadata_url[4] = "https://blobserver.dckube.scilifelab.se/blob/wastewater_comment_stockholm.json";
metadata_url[5] = "https://blobserver.dckube.scilifelab.se/blob/wastewater_comment_malmo.json";

var els = new Array();
els[0] = "last_modified_uppsala"
els[1] = "last_modified_stockholm"
els[2] = "last_modified_malmo"
els[3] = "slu_comment_date"
els[4] = "slu_comment"
els[5] = "stockholm_comment_date"
els[6] = "stockholm_comment"
els[7] = "malmo_comment_date"
els[8] = "malmo_comment"

var request = new Array();

for (var i=0; i<6; i++){
   (function(i) {
      request[i] = new XMLHttpRequest();
      request[i].open("GET", metadata_url[i], true);
      request[i].onreadystatechange = function (oEvent) {
        if (i<3 & this.readyState == 4 && this.status == 200) {
             var dataset_info = JSON.parse(this.responseText);
             document.getElementById(els[i]).innerText = String(dataset_info.modified).substring(0,10);
           };
        if (i == 3 & this.readyState == 4 && this.status == 200) {
              var content = JSON.parse(this.responseText);
              document.getElementById(els[3]).innerText = String(content.date);
              document.getElementById(els[4]).innerText = String(content.comment);
            };
        if (i == 4 & this.readyState == 4 && this.status == 200) {
              var content = JSON.parse(this.responseText);
              document.getElementById(els[5]).innerText = String(content.date);
              document.getElementById(els[6]).innerText = String(content.comment);
            };
        if (i == 5 & this.readyState == 4 && this.status == 200) {
              var content = JSON.parse(this.responseText);
              document.getElementById(els[7]).innerText = String(content.date);
              document.getElementById(els[8]).innerText = String(content.comment);
            }
      };
      request[i].send(null);
   })(i);
}

</script>
