{{ define "main" }}
<div class="container my-5">
  <!-- Page Header -->
  <div class="mb-4 text-center">
    <h1 class="fw-bold" style="color: rgb(41, 89, 134);">{{ .Title}}</h1>
    <p class="text-muted">{{ .Params.description}}</p>
  </div>

  <!-- Search Input -->
  <div class="input-group mb-4 shadow-sm">
    <span class="input-group-text bg-light" style="border-radius: 0.25rem 0 0 0.25rem;">
      <!-- Bootstrap Font-Based Search Icon -->
      <i class="bi bi-search" style="font-size: 1.5rem; color: rgb(71, 112, 177);"></i>
    </span>
    <input type="text" id="search-input" 
           class="form-control form-control-lg"
           placeholder="Type to search..." 
           aria-label="Search">
  </div>
  <!-- Search Results -->
  <div id="search-results" class="border rounded p-3 bg-light shadow-sm"
    style="max-height: 600px; overflow-y: auto;">
    <p class="text-muted-dark">Start typing to see results ...</p>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/7.0.0/fuse.min.js"></script>
{{ $search_js := resources.Get "js/search.js" | minify | fingerprint "md5" }}
<script src="{{ $search_js.RelPermalink }}" defer></script>
{{ end }}
