{{ define "main" }}
<div class="container my-5">
   <!-- Page Header -->
   <div class="mb-4 text-center">
    <h1 class="fw-bold search-page-title" style="color: rgb(41, 89, 134);">{{ .Title }}</h1>
    <p class="text-muted search-page-description">{{ .Params.description }}</p>
  </div>

  <!-- Search Input -->
  <div class="input-group mb-4 shadow-sm" style="border-radius: 5px; overflow: hidden;">
    <span class="input-group-text bg-white " style="color: rgb(71, 112, 177);">
        <i class="bi bi-search" aria-hidden="true"></i>
      </span>
    <input type="text" id="search-input" class="form-control form-control-lg "
      placeholder="Type to search..." aria-label="Search" autofocus />
  </div>

  <!-- Search Results -->
  <div id="search-results-container">
    <p id="search-results-message" class="text-muted p-3" style="text-align: center; font-size: 14px;">
      Start typing to see results...
    </p>
    <ul id="search-results" class="list-group"></ul>
  </div>
</div>
{{ end }}



