{{ define "main" }}

{{ if .Params.announcement }}
  <div class="bg-light-gray border rounded py-2 px-4 my-3 fst-italic" style="background-color: #E5E5E5;">
    {{ .Params.announcement | markdownify }}
  </div>
{{ end }}

<h2>{{ if .Params.title_full }}{{ .Params.title_full }}{{ else }}{{ .Title}}{{ end }}</h2>
<div class="text-muted mb-2">Published on: {{ .Date | time.Format "2006-01-02" }}. Written by: {{ range (.GetTerms "editorials_authors") }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ end }}</div>

<figure class="figure float-md-end mx-2">
  <img src="{{ if (isset .Params "banner_large") }}{{ .Params.banner_large }}{{ else }}{{ .Params.banner }} {{ end }}" alt="{{ .Title }}" class="img-thumbnail">
  <figcaption class="figure-caption mt-1"><i>{{ .Params.banner_caption | markdownify }}</i></figcaption>
</figure>

{{ .Content }}

<!-- Topics list and social media sharing -->
<div class="row">
  <div class="col-md">
    <span><b>Topics: </b></span>
    {{ range (.GetTerms "editorials_topics") }}
    <span class="topic_badge_small"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></span>
    {{ end }}
  </div>
  <div class="col-md text-md-end mt-2 mt-md-0">
    <span><b>Share this: </b></span>
    <a target="_blank" class="share-button" href="https://twitter.com/intent/tweet?text=New%20editorial%20on%20the%20Pathogens%20Portal:%20{{ .Title }}, {{ .Permalink }}" aria-label="share editorial on X"><i class="bi bi-twitter-x me-1"></i></a>
    <a target="_blank" class="share-button" href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}" aria-label="share editorial on linkedin"><i class="bi bi-linkedin me-1"></i></a>
    <a target="_blank" class="share-button" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" aria-label="share editorial on facebook"><i class="bi bi-facebook me-1"></i></a>
  </div>
</div>

<div class="containerborder">
{{ $related := site.RegularPages.Related . }}

{{ if $related }}
  <div class="mt-4">
    <h3>Similar articles</h3>
    {{ .Scratch.Set "editorials_list" (first 4 $related) }}
    {{ partial "editorials.html" . }}
  </div>
{{ end }}
</div>

{{ end }}
